| University account requested:
|       University Name: #{university.university}
|       Name: #{university.fullName}
|       Title: #{university.title}
|       Email: #{university.email}
|       Phone: #{university.phone}
