extends ../../widget_layout

block content
  div.campaign-name Donate to your College
  a(href='javascript:parent.window.location.href="/campaign/donate"').btn.btn-large.btn-warning.btn-campaign.btn-block Donate