extends ../layout

block scripts
  script(type='text/javascript')
    var userId = '#{userId}';
    var editable = true;

  script(type='text/javascript', src='/js/jquery-ui.min.js')
  script(type='text/javascript', src='/js/underscore-min.js')
  script(type='text/javascript', src='/js/backbone-min.js')
  script(type='text/javascript', src='/js/backbone-nested.min.js')

  script(type='text/javascript')
    var hideStep = function($step) {
      $step.children('.step-content').slideUp();
      $step.children('.skip-buttons').show();
      $step.children('.next-buttons').hide();
    }
    var showStep = function($step) {
      $step.children('.step-content').slideDown();
      $step.children('.skip-buttons').hide();
      $step.children('.next-buttons').show();
    }
    var checkComplete = function() {
      if (Step1View.complete 
          && Step2View.complete 
          && Step3View.complete
          && Step4View.complete) {
        $('#info').hide();
        $('#step1').hide();
        $('#step2').hide();
        $('#step3').hide();
        $('#step4').hide();
        $('#complete').show();
      }
    }

    $(document).ready(function() {
      GiveToCollege.initializeOrganizationAutocomplete($('#organization'));

      $('#step1-skip').click(function() {
        hideStep($('#step1'));
      });
      $('#step1-show').click(function(e) {
        showStep($('#step1'));
      });
      $('#step1-submit').click(function(e) {
        Step1View.save();
      });
      $('#step2-skip').click(function() {
        hideStep($('#step2'));
      });
      $('#step2-show').click(function(e) {
        showStep($('#step2'));
      });
      $('#step2-submit').click(function(e) {
        Step2View.save();
      });
      $('#step3-skip').click(function() {
        hideStep($('#step3'));
      });
      $('#step3-show').click(function(e) {
        showStep($('#step3'));
      });
      $('#step3-submit').click(function(e) {
        Step3View.save();
      });
      $('#step4-skip').click(function() {
        hideStep($('#step4'));
      });
      $('#step4-show').click(function(e) {
        showStep($('#step4'));
      });
    });

block append css
  style(type='text/css')
    #no-universities,
    #university-entry {
      display: none;
    }

    .skip-buttons {
      display: none;
    }

    #step1-status,
    #step2-status,
    #step3-status {
      font-size: 2.0em;
    }

    #messages div {
      display: none;
    }

    #first input,
    #last input,
    #city input {
      text-transform: capitalize;
    }

    #complete {
      text-align: center;
      display: none;
    }

block content
  div.widget
    div.widget-header
        h3 Complete Profile
    div.widget-content#info
        div.row-fluid
          div.span2
            img(src="/img/badges/badge-completeprofile.png")
          div.span10
            h1 Complete your Profile
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    div.widget-content#complete
      div.row-fluid
        div.span4.offset4
          h1 Completed!
      div.row-fluid
        div.span4.offset4
          img(src="/img/badges/complete-profile.png")
      div.row-fluid
        div.span8.offset2
          h3 You have completed your profile!
  
  div.widget-sub
    div.widget-subheader
      h3 Provide General Information
      h3#widget-complete.pull-right Complete  
    div.widget-content#step1
      div.row-fluid.step-content
        // Content goes here
      div.row-fluid.skip-buttons
        div.pull-right
          a#step1-show: small Show
          | &nbsp;
          span#step1-status.badge Incomplete
      div.row-fluid.next-buttons
        div.pull-right
          a#step1-skip: small Skip
          | &nbsp;
          button.btn.btn-info#step1-submit Next
  
  div.widget-sub
    div.widget-subheader
      h3 Provide Mailing Address
      h3#widget-complete.pull-right Complete  
    div.widget-content#step2
      div.row-fluid.step-content
        // Content goes here
      div.row-fluid.skip-buttons
        div.pull-right
          a#step2-show: small Show
          | &nbsp;
          span#step2-status.badge Incomplete
      div.row-fluid.next-buttons
        div.offset9
          div.pull-right
            a#step2-skip: small Skip
            | &nbsp;
            button.btn.btn-info#step2-submit Next
  
  div.widget-sub
    div.widget-subheader
      h3 Follow Colleges
      h3#widget-incomplete.pull-right incomplete
    div.widget-content#step3
      div.row-fluid.step-content
        div.span7
          div.row-fluid#organization-entry
            label.control-label(for='college') Add College:
            div.input-append
              input#organization.span10(name="organization", placeholder="College Name")
              button.btn.btn-success#step3-submit: i.icon-plus.icon-white
          table.table#organization-list
            thead
              tr
                th You are a part of the following colleges
            tbody
              tr
                td
        div.span5#step3-sidebar
          | Filling out your mailing address will get you 10 points!  Providing a mailing address allows colleges to send you rewards and other promotional materials.
      div.row-fluid.skip-buttons
        div.pull-right
          a#step3-show: small Show
          | &nbsp;
          span#step3-status.badge Incomplete
      div.row-fluid.next-buttons
        div.offset9
          div.pull-right
            a#step3skip: small Skip
            | &nbsp;
            button.btn.btn-info#step3-submit Next
  
  div.widget-sub
    div.widget-subheader
      h3 Connect Social Media Accounts
      h3#widget-incomplete.pull-right Incomplete  
    div.widget-content#step4
      div.row-fluid.step-content
        div.span7
          div.row-fluid
            | &nbsp;
          div.signin-gate.row-fluid
            | <button type="button" onClick="GiveToCollege.popupOAuth('login/facebook', '/user/homepage')" class="btn-f facebook"><i class="ic-fb"></i>Connect with Facebook</button>
            | <button type="button" onClick="GiveToCollege.popupOAuth('login/twitter', '/user/homepage')" class="btn-t twitter"><i class="ic-tw"></i>Connect with Twitter</button>
        div.span5#step4-sidebar
          | Filling out your mailing address will get you 10 points!  Providing a mailing address allows colleges to send you rewards and other promotional materials.
      div.row-fluid.skip-buttons
        div.pull-right
          a#step4-show: small Show
          | &nbsp;
          span#step3-status.badge Incomplete
      div.row-fluid.next-buttons
        div.offset9
          div.pull-right
            button.btn.btn-large.btn-success#step3-submit Finish

  // Step 1 Template
  script#step1-template(type='text/template')
    div.span7
      div.row-fluid
        div.span6
          label.control-label(for!='first') First Name:
          div#first.user-field
            input.input.span12.edit(type="text", name="first", placeholder="First Name", value!="<%= first %>")
        div.span6
          label.control-label(for!='last') Last Name:
          div#last.user-field
            input.input.span12.edit(type="text", name="last", placeholder="Last Name", value!="<%= last %>")
      div.row-fluid
        div.span8
          label.control-label(for='email') Email:
          div#email.user-field
            input.input.span12.edit(type="text", name="email", placeholder="Email Address", value!="<%= email %>")
        div.span4
          label.control-label(for='dob') Date of Birth:
          div#dob.user-field
            input.input.span12.edit(type="text", name="dob", placeholder="MM/DD/YYYY", value!="<%= dob %>")
    div.span5#step1-sidebar
      | Filling out your general information will get you 5 points!

  // Step 2 Template
  script#step2-template(type='text/template')
    div.span7
      div.row-fluid
        div.span10
          label.control-label(for='street1') Address:
          div#street1.mailing-address-field
            input.input.span12.edit(type="text", name="street1", placeholder="Street Address", value!="<%= mailing_address.street1 %>")
        div.span2
          label.control-label(for='street2') Apt/Suite:
          div#street2.mailing-address-field
            input.input.span12.edit(type="text", name="street2", placeholder="#", value!="<%= mailing_address.street2 %>")
      div.row-fluid
        div.span6
          label.control-label(for='city') City:
          div#city.mailing-address-field
            input.input.span12.edit(type="text", name="city", placeholder="City", value!="<%= mailing_address.city %>")
        div.span2
          label.control-label(for='state') State:
          div#state.mailing-address-field
            input.input.span12.edit(type="text", name="state", placeholder="State", value!="<%= mailing_address.state %>")
        div.span4
          label.control-label(for='zip') Zip:
          div#zip.mailing-address-field
            input.input.span12.edit(type="text", name="zip", placeholder="Zip", value!="<%= mailing_address.zip %>")
    div.span5#step2-sidebar
      | Filling out your mailing address will get you 10 points!  Providing a mailing address allows colleges to send you rewards and other promotional materials.

  // Step 3 Template
  script#step3-template(type='text/template')
    tr.university-entry
      td <%= display_name %>

  script(type='text/javascript', src='/js/complete-profile.js')