extends ../layout

block append css
  style(type="text/css")
    #points-feedback {
      display: none;
    }
    .done {
      display: none;
      font-size: 1.5em;
      font-weight: 900;
      float: right;
    }

    #my-points,
    #organization-points {
      text-align: center;
      font-size: 1.0em;
    }

    .points {
      text-align: center;
      font-weight: 900;
      font-size: 2.0em;
      color: green;
    }

block scripts
  script(type='text/javascript', src='/js/jquery-ui.min.js')
  script(type="text/javascript", src="/js/gtc-util.js")
  script(type="text/javascript")
    $(function() {
      $( "#percentage-slider" ).slider({
        range: true,
        min: 0,
        max: 100,
        values: 10,
        slide: function( event, ui ) {
          $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
        }
      });
    });

    $(document).ready(function() {
      GiveToCollege.initializeOrganizationAutocomplete($('#organization'));

      var showFeedback = function() {
        var organization = $('#organization').val();
        var amount = $('#amount').val();

        $('#error-feedback').hide();

        if (organization && amount && amount >= 0) {
          $('.organization-points span').html(amount * 5);
          $('.my-points span').html(amount * 5);
          $('.organization-name').html(organization);
          $('#points-system').hide();
          $('#points-feedback').fadeIn(100);
        } else {
          $('#points-feedback').hide();
          $('#points-system').fadeIn(100);
        }
      }

      var validateStep1 = function() {
        var organization = $('#organization').val();
        var amount = $('#amount').val();

        var errors = [];

        if (!organization) {
          errors.push('Enter a valid college');
        } 

        if (!amount) {
          errors.push('Enter an amount');
        } else if (amount <= 0) {
          errors.push('Enter a valid amount');
        }

        if (errors.length) {
          $('#points-system').hide();
          $('#points-feedback').hide();
          $('#error-feedback').fadeIn();
          $('#error-feedback').html(errors.join('<br>'));
        }

        return errors.length == 0;
      }

      $('#organization').blur(function(e) {
        showFeedback();
      });

      $('#organization').keypress(function(e) {
        if (e.keyCode === 13) {
          $('#organization').blur();
          $('#amount').focus();
        }
      });

      $('#amount').blur(function(e) {
        showFeedback();
      });

      $('#amount').keypress(function(e) {
        if (e.keyCode === 13) {
          $('#amount').blur();
          $('#step1-next-button').focus();
        }
      });

      $('#step1-next-button').click(function(e) {
        if (validateStep1()) {
          $('html, body').stop().animate({
            scrollTop: $('#step2').offset().top
        }, 100,'linear');
        }
      });
    });

  script(type="text/javascript", src="https://js.stripe.com/v1")
  script(type="text/javascript")
    Stripe.setPublishableKey('#{publicKey}');
    $(document).ready(function() {
      $('#payment-button').bind('click', function(e) {
        $('#payment-button').attr("value", "Please wait...");
        $('#payment-button').attr("disabled", "disabled");

        Stripe.createToken({
             name: $('#name').val(),
             number: $('#card-cc').val(),
             cvc: $('#card-cvc').val(),
             exp_month: $('#card-expiry-month').val(),
             exp_year: $('#card-expiry-year').val()
        }, function(status, response) {
          if (response.error) {
            $("#error-message").text(response.error.message);
            $("#error-message").slideDown();
            $('#payment-button').attr("value", "Donate");
            $('#payment-button').removeAttr("disabled");
          } else {
            var form$ = $("#payment-form");
            var token = response['id'];
            form$.append("<input type=\"hidden\" name=\"stripeToken\" value=\"" + token + "\"/>");
            form$.get(0).submit();
          }
        });
      });
    });

     
block content
  div.widget
    div.widget-header
        h3 Donate Now
    div.widget-content#description
      div.row-fluid
        div.span2
          img(src="/img/badges/badge-placeholder-full.jpg")
        div.span10
          h1 Donate to win!
          p Here's where things get serious.  Donate to your favorite college to seriously boost your college's points and catapult it to the top of the leaderboards!
  
  div.widget-sub
    div.widget-subheader
      h3 Choose College & Donation Amount
      h3#widget-complete.pull-right Complete
    div.widget-content#step1
      form#payment-form(action="/campaign/donate/charge", method="post")
        div.row-fluid
          div.span7
            p Choose the college you want to donate to and the amount for your one-time donation
            div.row-fluid
              div.span8
                label.control-label(for='college') College:
                input#organization.input.span12(type="text", name="organization", placeholder="College Name")
              div.span4
                label.control-label(for='amount') Amount:
                div(class="input-prepend input-append")
                  span(class="add-on") $
                  input(id="amount", class="input span4", type="text", name="amount", value="100")
                  span(class="add-on") .00
          div.span5
            div.row-fluid#points-system
              p $1 = 1 point
            div#error-feedback
            div#points-feedback
              div.row-fluid
                div#my-points.span6
                  div You will get
                div#organization-points.span6
                  div
                    span.organization-name Your College
                    |  will get
              div.row-fluid
                div.points.my-points.span6
                  span 0
                  |  pts
                div.points.organization-points.span6
                  span 0
                  |  pts
        div.row-fluid
          div.pull-right
            input#step1-next-button.btn.btn-info(type="button", value="Next")
  div.widget-sub
    div.widget-subheader
      h3 Enter Credit Card Information
      h3#widget-incomplete.pull-right Incomplete
    div.widget-content#step2
      div.row-fluid
        div.span7
          p Enter your credit card information
          div.row-fluid
            div.span6
              div.row-fluid
                input#name.input.span12(type="text", name="name", placeholder="Name On Card")
              div.row-fluid
                input#card-cc.input.span12(type="text", name="cc", maxlength=16, placeholder="Credit Card Number")
              div.row-fluid
                div.span3
                  input#card-expiry-month.input.span12.offset1(type="text", name="month", maxlength=2, placeholder="MM")
                div.span3
                  input#card-expiry-year.input.span12(type="text", name="year", maxlength=2,  placeholder="YY")
                div.span3.offset2
                  input#card-cvc.input.span12(type="text", name="cvc", maxlength=4, placeholder="CVC")
                div.span1#whats-this
                  i.icon-question-sign
            div.span6
              span.muted Other payment options coming soon!
        div.span5
          p Give to College does not store your credit card information and uses encryption to ensure that your information is safe.  You can trust us!
      div.row-fluid
        div.pull-right
          input#payment-button.btn.btn-large.btn-success(type="button", value="Donate")
