extends ../layout

block append css
  style(type="text/css")
    #points-feedback {
      display: none;
    }
    .done {
      display: none;
      font-size: 1.5em;
      font-weight: 900;
      float: right;
    }

    #my-pledge-points,
    #university-pledge-points,
    #my-points,
    #university-points {
      text-align: center;
      font-size: 1.0em;
    }

    .points {
      text-align: center;
      font-weight: 900;
      font-size: 2.0em;
      color: green;
    }

block scripts
  script(type='text/javascript', src='/js/jquery-ui.min.js')
  script(type="text/javascript", src="/js/gtc-util.js")
  script(type="text/javascript")
    $(function() {
      $( "#percentage-slider" ).slider({
        range: true,
        min: 0,
        max: 100,
        values: 10,
        slide: function( event, ui ) {
          $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
        }
      });
    });

    $(document).ready(function() {
      GiveToCollege.initializeOrganizationAutocomplete($('#university'));

      var showFeedback = function() {
        var university = $('#university').val();
        var amount = $('#amount').val();
        var months = $('#months').val();
        var total_amount = amount * months;

        $('#error-feedback').hide();

        if (university && amount && amount >= 0 && months >= 0) {
          $('.amount').html(amount);
          $('.total-amount').html(total_amount);
          $('.months').html(months);
          $('.university-points').html(total_amount * 5);
          $('.my-points').html(total_amount * 5);
          $('.university-pledge-points').html(amount * 10);
          $('.my-pledge-points').html(amount * 10);
          $('.university-name').html(university);
          $('#points-system').hide();
          $('#points-feedback').fadeIn(100);
        } else {
          $('#points-feedback').hide();
          $('#points-system').fadeIn(100);
        }
      }

      var validateStep1 = function() {
        var university = $('#university').val();
        var amount = $('#amount').val();
        var months = $('#months').val();

        var errors = [];

        if (!university) {
          errors.push('Enter a valid college');
        } 

        if (!amount) {
          errors.push('Enter an amount');
        } else if (amount <= 0) {
          errors.push('Enter a valid amount');
        }

        if (!months) {
          errors.push('Enter an pledge period');
        } else if (months <= 0) {
          errors.push('Enter a valid pledge period');
        }

        if (errors.length) {
          $('#points-system').hide();
          $('#points-feedback').hide();
          $('#error-feedback').fadeIn();
          $('#error-feedback').html(errors.join('<br>'));
        }

        return errors.length == 0;
      };

      var initializeStep1Input = function($element, $next) {
        $element.blur(function(e) {
          showFeedback();
        });

        $element.keypress(function(e) {
          if (e.keyCode === 13) {
            $element.blur();
            $next.focus();
          }
        });
      };

      initializeStep1Input($('#university'), $('#amount'));
      initializeStep1Input($('#amount'), $('#months'));
      initializeStep1Input($('#months'), $('#step1-next-button'));

      $('#step1-next-button').click(function(e) {
        if (validateStep1()) {
          $('html, body').stop().animate({
            scrollTop: $('#step2').offset().top
        }, 100,'linear');
        }
      });
    });

  script(type="text/javascript", src="https://js.stripe.com/v1")
  script(type="text/javascript")
    Stripe.setPublishableKey('pk_0CIvSGhdINlImqaLM1oDCuMUsrgKe');
    $(document).ready(function() {
      $('#payment-button').bind('click', function(e) {
        $('#payment-button').attr("value", "Please wait...");
        $('#payment-button').attr("disabled", "disabled");

        Stripe.createToken({
             name: $('#name').val(),
             number: $('#card-cc').val(),
             cvc: $('#card-cvc').val(),
             exp_month: $('#card-expiry-month').val(),
             exp_year: $('#card-expiry-year').val()
        }, function(status, response) {
          if (response.error) {
            $("#error-message").text(response.error.message);
            $("#error-message").slideDown();
            $('#payment-button').attr("value", "Donate");
            $('#payment-button').removeAttr("disabled");
          } else {
            var form$ = $("#payment-form");
            var token = response['id'];
            form$.append("<input type=\"hidden\" name=\"stripeToken\" value=\"" + token + "\"/>");
            form$.get(0).submit();
          }
        });
      });
    });
     
block content
  div.widget
    div.widget-header
        h3 Make A Pledge
    div.widget-content#description
      div.row-fluid
        div.span2
          img(src="/img/badges/badge-pledge.png")
        div.span10
          h1 Pledge for the win!
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

  div.widget-sub
    div.widget-subheader
      h3 Choose College & Pledge Amount
      h3#widget-complete.pull-right Complete
    div.widget-content#step1

      form#payment-form(action="/campaign/pledge/charge", method="post")
        div.row-fluid
          div.span7
            p Choose the college you want to donate to and your monthly contribution.
            div.row-fluid
              div.span8
                label.control-label(for='university') College:
                input#university.input.span12(type="text", name="university", placeholder="College Name")
              div.span4
                label.control-label(for='amount') Amount:
                div(class="input-prepend input-append")
                  span(class="add-on") $
                  input(id="amount", class="input span4", type="text", name="amount", value="25")
                  span(class="add-on") .00
            div.row-fluid
              div.span2
                label.control-label(for='months') # months:
                input(id="months", class="input span12", type="text", name="months", value="12")
          div.span5
            div.row-fluid#points-system
              p $1 = 1 point
            div#error-feedback
            div#points-feedback
              div.row-fluid
                div.total-pledge
                  span You will be donating a total of $
                    span.total-amount 0
                    |  over 
                    span.months 0
                    |  months
              div.row-fluid
                h4 By placing a pledge,
              div.row-fluid
                div#my-pledge-points.span6
                  div You wil get
                div#university-pledge-points.span6
                  div
                    span.university-name
                    |  will get
              div.row-fluid
                div.points.span6
                  span.my-pledge-points 0
                  |  pts
                div.points.span6
                  span.university-pledge-points 0
                  |  pts
              div.row-fluid
                h4 Additionally, with every successful donation,
              div.row-fluid
                div#my-points.span6
                  div You wil get
                div#university-points.span6
                  div
                    span.university-name
                    |  will get
              div.row-fluid
                div.points.span6
                  span.my-points 0
                  |  pts
                div.points.span6
                  span.university-points 0
                  |  pts
        div.row-fluid
          div.pull-right
            input#step1-next-button.btn.btn-info(type="button", value="Next")

  div.widget-sub
    div.widget-subheader
      h3 Enter Credit Card Information
      h3#widget-complete.pull-right Complete
    div.widget-content#step2
      div.row-fluid
        div.span7
          p Enter your credit card information
          div.row-fluid
            div.span6
              div.row-fluid
                input#name.input.span12(type="text", name="name", placeholder="Name On Card")
              div.row-fluid
                input#card-cc.input.span12(type="text", name="cc", maxlength=16, placeholder="Credit Card Number")
              div.row-fluid
                div.span3
                  input#card-expiry-month.input.span12.offset1(type="text", name="month", maxlength=2, placeholder="MM")
                div.span3
                  input#card-expiry-year.input.span12(type="text", name="year", maxlength=2,  placeholder="YY")
                div.span3.offset2
                  input#card-cvc.input.span12(type="text", name="cvc", maxlength=4, placeholder="CVC")
                div.span1#whats-this
                  i.icon-question-sign
            div.span6
              span.muted Other payment options coming soon!
        div.span5
          p Give to College does not store your credit card information and uses encryption to ensure that your information is safe.  You can trust us!
      div.row-fluid
        div.pull-right
          input#payment-button.btn.btn-large.btn-success(type="button", value="Donate")
