extends ../layout

block append css
  style(type="text/css")

block scripts

     
block content
  div.jumbotron.masthead
    div.container
      h1 Thank You!
      h3 Your pledge was successful.  You will receieve a confirmation email shortly.
      h3 For questions and concerns regarding your pledge, please send an email to:
        a(href='mailto:support@givetocollege.com')
          |  support@givetocollege.com.

      h2 You and your university will receive:
      h1 #{points} points
      h2 for your $#{amount} per month donation!

      a(href='/campaign/pledge') Go back
