extends ../../widget_layout

block content
  div.campaign-name Pledge to your University
  a(href='javascript:parent.window.location.href="/campaign/pledge"').btn.btn-large.btn-danger.btn-campaign.btn-block Pledge