extends ../layout

block scripts
  script(type='text/javascript', src='/js/jquery-ui.min.js')
  script(type='text/javascript', src='/js/underscore-min.js')
  script(type='text/javascript', src='/js/backbone-min.js')

  script(type='text/javascript')
    GiveToCollege.userId = '#{userId}';

block append css
  style(type="text/css")

    /** Main Content **/
    /** Achievements **/
    .achievement-showcase .achievement-name {
      font-size: 1.2em;
      font-weight: 900;
      letter-spacing: -1px;
    }

    #achievements {
      margin-top: -20px;
    }

    /** Campaigns **/
    .campaign {
      height: 130px;
    }

    .campaign iframe {
      border: none;
      height: 100%;
      width: 100%;
    }

    /** Sidebar Content **/
    #sidebar-userinfo {
      margin: 10px 10px 10px 0px;
    }
    #sidebar-userimage {
      height: 80px;
    }
    #sidebar-username div {
      overflow: hidden;
      height: 30px;
      font-weight: 900;
      font-size: 30px;
      margin-top:5px;
      letter-spacing: -1px;
      text-transform: capitalize;
    }
    #sidebar-points-content {
      font-size: 1.8em;
      font-weight: 900;
      color: green;
    }
    #sidebar-rank-content {
      font-weight: 900;
    }
    .gtc-badge {
      margin: 1px 1px 1px 1px;
    }
    .gtc-badge img {
      height: 25px;
      width: 27px;
    }

    .sidebar-title {
      font-weight: 900;
      font-size: 0.9em;
      letter-spacing: -1px;
      margin-right: 5px;
    }
    #sidebar-friends-leaderboard {
      font-size: 0.9em;
    }
    #sidebar-university-rankings {
      font-size: 0.9em;
    }

block title


block content
  
  div.alert.alert-info.messagedisplay
    | Welcome back!  You have #{user.points} points. Invite 2 more friends to unlock the Fundraise Campaign
    a.close.pull-right(data-dismiss="alert", href="#") &times;
  div.widget
    div.widget-header
      h3 Title
    div.widget-content
    
      div.content
        div.row-fluid#homepage-container
          div#main-body.span8
            h2 Things to Do
            div#campaigns.row-fluid
            h2 Achievements
            span You're really close to getting these achievements! 
              a(href="#") See all eligible achievements
            div.row-fluid
              ul.thumbnails#achievement-showcase
            div.row-fluid
              ul.thumbnails#achievements

          div#right-sidebar.span4
            div#sidebar-userinfo
            div#sidebar-badges.row-fluid
              span#sidebar-badges-title.sidebar-title Badges:
              div#sidebar-badges-content(style="display:inline")
            hr
            h3#sidebar-friends-leaderboard-title Friends Leaderboard
            table#sidebar-friends-leaderboard.table.table-bordered
              thead
                tr
                  th Rank
                  th Name
                  th Points
              tbody
                tr
                  td 1
                  td John Doe
                  td 10,293,120 pts
                tr
                  td 2
                  td Jerry Aldon
                  td 5,102,390 pts
                tr
                  td 3
                  td Mary Sanders
                  td 100 pts
                tr.info 
                  td 4
                  td You
                  td #{user.points} pts
                tr
                  td 5
                  td Joseph Kim
                  td 10 pts
            hr
            h3#sidebar-university-rankings-title University Rankings
            table#sidebar-university-rankings.table.table-bordered
              thead
                tr
                  th University
                  th Rank
              tbody
                tr
                  td University of Michigan
                  td 3
                tr
                  td UCLA
                  td 1,129

block templates
  script#userinfo-template(type="text/template")
    div.row-fluid#sidebar-userinfo
      div.span4
        div#sidebar-userimage: img(src!="<%= profileImage %>")
      div.span8
        div#sidebar-username 
          div <%= first %>
          div <%= last %>
    div#sidebar-points.row-fluid
      span#sidebar-points-title.sidebar-title Points: 
      span#sidebar-points-content <%= points %> pts
    div#sidebar-rank.row-fluid
      span#sidebar-rank-title.sidebar-title Global Rank: 
      span#sidebar-rank-content 123,456 / 123,456,789

  script#campaign-template(type="text/template")
    li.span3
      div.thumbnail.campaign(id!="<%= campaign._id %>")
        iframe(src!="/campaign/<%= campaign.slug %>/widget")

  script#achievement-showcase-template(type="text/template")
    li.span12.achievement-showcase
      div.thumbnail
        div.row-fluid
          div.span3.achievement-image: img(src!="<%= achievement.badge %>")
          div.row-fluid.span8
            div.achievement-name <%= achievement.name %>
            div.achievement-description <%= achievement.description %>
            div.achievement-progress Progress Placeholder
            div.achievement-progress.progress
              div.bar(style!="width: <%= progress %>%;")
              div.pull-right <%= progress %>%

  script#achievement-template(type="text/template")
    li.span2
      div.thumbnail
        div.small-achievement-image: img(src!="<%= achievement.badge %>")

  script#userbadge-template(type="text/template")
    a.gtc-badge(data-toggle="tooltip", title="Name and stuff"): img(src!="<%= achievement.badge %>")

  script(type='text/javascript', src='/js/homepage.js')
