extends ../layout

block content
  h2 Organization Admin

  - var updateType="add_admin"
  - var buttonLabel="Create"
  if(type == "update")
    - updateType="update_admin"
    - buttonLabel="Update"
  - updateType='/organization/' + updateType

  if(result)
    if(result.success)
      div.alert.alert-success
        a.close(href="#", data-dismiss="alert") &times;
        p #{result.message}
    else
      div.alert.alert-error
        a.close(href="#", data-dismiss="alert") &times;
        p #{result.message}

  form.well(action=updateType, method='POST')
    input(type='hidden', name='id', value=admin.id)
    label(for='name') Name:
    input.span3(type='text', name='name', value=admin.name)
    p
    button.btn(type='submit', value=buttonLabel) #{buttonLabel} Admin
