div.row-fluid
	ul.nav.pull-left
		li: h6 Making Giving A Sport
	ul.nav.pull-right
		li: a(href="/aboutus") About Us
		li: a(href="/howitworks")  How It Works
		li: a(href="/colleges")  Colleges
		li: a(href="/faq") FAQs
		li: a(href="/privacy") Privacy
		li: a(href="/termsandconditions") Terms
  

  


