ul.nav.pull-left
  if (locals.user)
   li: a(href='/user/homepage') Home
  else
   li: a(href='/') Home
  li: a(href='/standings/list') Standings
  if (locals.user)
    if (locals.user.roleLevel == 1)
      li.dropdown
        a.dropdown-toggle(data-toggle='dropdown', href='#menu1')
          | Campaigns 
          b.caret
        ul.dropdown-menu
          li: a(href='/campaign/complete_profile') Complete Profile
          li: a(href='/user/invite') Recruit Friends
          li: a(href='/campaign/donate') Donate Now
          li: a(href='/campaign/pledge') Make A Pledge 
          li.disabled: a Start Fundraiser
    li.marked: a(href='/user/invite') 
      span Invite 
    if (locals.user.roleLevel == 2)
      li.dropdown
        a.dropdown-toggle(data-toggle='dropdown', href='#menu1')
          | University Admin
          b.caret
        ul.dropdown-menu
          li: a(href='/organization/view') Update Organization
          li: a(href='/organization/users') View Admins
    if (locals.user.roleLevel == 3)
      li.dropdown
        a.dropdown-toggle(data-toggle='dropdown', href='#menu1')
          | Site Admin
          b.caret
        ul.dropdown-menu
          li: a(href='/organization/create') Add Organization
          li: a(href='/organization/list') View Organizations
          li: a(href='/category') View Categories
          li: a(href='/user/create') Add User
          li: a(href='/user/list') View Users
  else
    li.marked: a(href='#joinnowmodal', data-toggle='modal') 
      span Join Now
