ul.nav.pull-right
  if (locals.user)
   li.dropdown
      a.dropdown-toggle#notifications-toggle(data-toggle="dropdown", href="#")
        span.badge 0
        | &nbsp;
        i.icon-list.icon-white
      ul.dropdown-menu#notifications
        li#no-notifications You have no new notifications
   li.dropdown
       a.dropdown-toggle(data-toggle="dropdown", href="#menu1")
         | You &nbsp;
         span.badge.badge-success #{user.points} pts
         b.caret
       ul.dropdown-menu
         // li: a(href="/user/whotofollow") Who To Follow
         li: a
          h5 #{user.fullName}
         li: a(href="/user/invite/list") Invitation Dashboard
         li: a(href="/user/receipts") Donation History
         li: a(href="/user/profile") Profile Information
         li: a(href="/user/settings") Settings
         li.divider
         li: a(href="/logout") Sign Out
    
  else
   li: a(href="/login") Sign In
    
