a(href='http://www.umich.edu/', target='_blank').clearfix
  div.univ.clearfix
    div.left-tab
      div.michigan-symbol
    div.right-tab
      div
        | UNIVERSITY OF MICHIGAN
div.univ-img
div.univ-info
  div.info-panel
    span.number
      | 250
    span.small
      | Following
  div.info-panel
    span.number
      | 063
    span.small
      | Campaigns
  div.info-panel
    span.number
      | 728
    span.small
      | Donations
a(href='#').clearfix
  div.panel-small.purple.clearfix
    div.left-tab
      span.dicon-user
    div.right-tab.no-border-left
      span
        | SCHOOLS & CENTERS
a(href='#').clearfix.school
  div.panel-small.user.clearfix
    div.left-tab
      div.orange-circle
    div.right-tab
      span
        | Ross School of Business
      span.dicon-arrow-right
a(href='#').clearfix.school
  div.panel-small.user.clearfix
    div.left-tab
      div.blue-circle
    div.right-tab
      span
        | Michigan Athletics
      span.dicon-arrow-right
div.panel-small.newsfeed-label.blue.clearfix
  div.left-tab
    span.dicon-bubble
  div.right-tab.no-border-left
    span
      | COLLEGE NEWSFEED
div.newsfeed.clearfix
  div.news.clearfix
    div.left-tab
      span.dicon-chat
    div.right-tab
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  div.news.clearfix
    div.left-tab
      span.dicon-gift
    div.right-tab
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  div.news.clearfix
    div.left-tab
      span.dicon-chat
    div.right-tab
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit.