div.panel-small.clearfix
  div.left-tab.maroon
    span.dicon-user
  div.right-tab
    span
      | All Colleges
div.panel-small.clearfix
  div.left-tab.purple
    span.dicon-user
  div.right-tab
    span
      | Business Schools
div.panel-small.clearfix
  div.left-tab.pink
    span.dicon-user
  div.right-tab
    span
      | Law Schools
div.panel-small.blue.clearfix
  div.left-tab
    span.dicon-bubble
  div.right-tab.no-border-left
    span
      | Conferences
div
  ul.colleges
    li.panel-small.clearfix
      div.left-tab
        div.orange-circle
      div.right-tab
        | Ivy League
    li.panel-small.clearfix
      div.left-tab
        div.green-circle
      div.right-tab
        | BIG 10
    li.panel-small.clearfix
      div.left-tab
        div.pink-circle
      div.right-tab
        | BIG 12
    li.panel-small.clearfix
      div.left-tab
        div.orange-circle
      div.right-tab
        | PAC 12
    li.panel-small.clearfix
      div.left-tab
        div.blue-circle
      div.right-tab
        | SEC
    li.panel-small.clearfix
      div.left-tab
        div.orange-circle
      div.right-tab
        | ACC
div.panel-small.clearfix
  div.left-tab.pink
    span.dicon-user
  div.right-tab
    span
      | Individual Leaders