a(href='http://www.umich.edu/', target='_blank').clearfix
  div.univ
    div.left-tab
      div.michigan-symbol
    div.right-tab
      div
        | UNIVERSITY OF MICHIGAN
div.univ-info
  div.info-panel
    span.number
      | 250
    span.small
      | Following
  div.info-panel
    span.number
      | 063
    span.small
      | Campaigns
  div.info-panel
    span.number
      | 728
    span.small
      | Donations
div.newsfeed.clearfix
  div.news.clearfix
    div.left-tab
      span.dicon-chat
    div.right-tab
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  div.news.clearfix
    div.left-tab
      span.dicon-gift
    div.right-tab
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  div.news.clearfix
    div.left-tab
      span.dicon-chat
    div.right-tab
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
a(href='http://www.umich.edu/', target='_blank').clearfix
  div.univ.white
    div.left-tab
      div.stanford-symbol
    div.right-tab
      div
        | STANFORD UNIVERSITY
div.univ-info
  div.info-panel
    span.number
      | 250
    span.small
      | Following
  div.info-panel
    span.number
      | 063
    span.small
      | Campaigns
  div.info-panel
    span.number
      | 728
    span.small
      | Donations
div.newsfeed.clearfix
  div.news.clearfix
    div.left-tab
      span.dicon-chat
    div.right-tab
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  div.news.clearfix
    div.left-tab
      span.dicon-gift
    div.right-tab
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  div.news.clearfix
    div.left-tab
      span.dicon-chat
    div.right-tab
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit.