extends layout
block scripts

block content
	div.widget
		div.widget-header
			h3 About Us
		div.widget-content.content-terms
			p Give To College is about giving back, raising lots of money for colleges and having a great time while doing it.  We provide a way for you to relive your college days by easily connecting with former classmates and revisiting old college rivalries.
			p Give To College is a nice blend of social networking, fundraising, contests, and a loyalty platform built by small but lethal team of Silicon Valley engineers.
			h5 Do you want to get involved?
			p Send a note to team@givetocollege.com with any inquiries.  We are always looking to hire engineers and designers that are motivated to improve the college giving experience.