extends new_layout

block scripts

block sidebar
  include includes/sidebar_college

block content
  div.header
    h3
      | FEATURED CAMPAIGNS
  div.body-main
    div.main-container.clearfix
      div.carousel-arrow.dicon-arrow-left
      div#campaigns-list.clearfix
        div.campaign.margin-long
          div.campaign-container
            div.heading.clearfix
              | UNIVERSITY OF MICHIGAN
            div.campaign-image
            div.campaign-name.clearfix
              div.user
              div.name
                | STUDY CENTER
                small
                  | by Suvonil Chatterjee
            div.campaign-info
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent aucto malesuada
            div.campaign-details.clearfix
              div.progress
                div.bar(style='width:48%')
              div.info-panel
                span.number.left
                  | $3500
                span.small.left
                  | Target
              div.info-panel
                span.number
                  | 48%
                span.small
                  | Funded
              div.info-panel
                span.number.right
                  | 72
                span.small.right
                  | Donors
          a(href='#',data-toggle='tooltip',data-placement='top',title='$87.2K LEFT TO REACH GOAL').green.tool
            div.donate
              span.dicon-noun_project_285
              span
                | DONATE NOW
        div.campaign.margin-long
          div.campaign-container
            div.heading.clearfix
              | UNIVERSITY OF MICHIGAN
            div.campaign-image
            div.campaign-name.clearfix
              div.user
              div.name
                | STUDY CENTER
                small
                  | by Suvonil Chatterjee
            div.campaign-info
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent aucto malesuada
            div.campaign-details.clearfix
              div.progress
                div.bar(style='width:40%')
              div.info-panel
                span.number.left
                  | $3500
                span.small.left
                  | Target
              div.info-panel
                span.number
                  | 48%
                span.small
                  | Funded
              div.info-panel
                span.number.right
                  | 72
                span.small.right
                  | Donors
          a(href='#',data-toggle='tooltip',data-placement='top',title='$87.2K LEFT TO REACH GOAL').green.tool
            div.donate
              span.dicon-noun_project_285
              span
                | DONATE NOW
        div.campaign.margin-long
          div.campaign-container
            div.heading.clearfix
              | UNIVERSITY OF MICHIGAN
            div.campaign-image
            div.campaign-name.clearfix
              div.user
              div.name
                | STUDY CENTER
                small
                  | by Suvonil Chatterjee
            div.campaign-info
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent aucto malesuada
            div.campaign-details.clearfix
              div.progress
                div.bar(style='width:40%')
              div.info-panel
                span.number.left
                  | $3500
                span.small.left
                  | Target
              div.info-panel
                span.number
                  | 48%
                span.small
                  | Funded
              div.info-panel
                span.number.right
                  | 72
                span.small.right
                  | Donors
          a(href='#',data-toggle='tooltip',data-placement='top',title='$87.2K LEFT TO REACH GOAL').green.tool
            div.donate
              span.dicon-noun_project_285
              span
                | DONATE NOW
        div.campaign.margin-long
          div.campaign-container
            div.heading.clearfix
              | UNIVERSITY OF MICHIGAN
            div.campaign-image
            div.campaign-name.clearfix
              div.user
              div.name
                | STUDY CENTER
                small
                  | by Suvonil Chatterjee
            div.campaign-info
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent aucto malesuada
            div.campaign-details.clearfix
              div.progress
                div.bar(style='width:40%')
              div.info-panel
                span.number.left
                  | $3500
                span.small.left
                  | Target
              div.info-panel
                span.number
                  | 48%
                span.small
                  | Funded
              div.info-panel
                span.number.right
                  | 72
                span.small.right
                  | Donors
          a(href='#',data-toggle='tooltip',data-placement='top',title='$87.2K LEFT TO REACH GOAL').green.tool
            div.donate
              span.dicon-noun_project_285
              span
                | DONATE NOW
      div.carousel-arrow.dicon-arrow-right
  div.univ-stats
    div.top-donors
      div.heading
        span
          | TOP DONORS
      div.statistics
        div.infograph
          span.dicon-noun_project_285
          div.gender-info
          div.stats
            div.info-panel
              span.number
                | 250
              span.small
                | Following
            div.info-panel
              span.number
                | 063
              span.small
                | Campaigns
            div.info-panel
              span.number
                | 728
              span.small
                | Donations
        ul.rankers
          li
            div.blue
            | Iqbaljit Kahlon
          li
            div.pink
            | Adam Smith
          li
            div.green
            | Joe Summers
          li
            div.orange
            | Joseph Hall
          li
            div.blue
            | Elizabeth Moore
    div.top-fundraisers
      div.heading
        span
          | TOP FUNDRAISERS
      div.statistics
        div.infograph
          span.dicon-gift
          div.gender-info
          div.stats
            div.info-panel
              span.number
                | 250
              span.small
                | Following
            div.info-panel
              span.number
                | 063
              span.small
                | Campaigns
            div.info-panel
              span.number
                | 728
              span.small
                | Donations
        ul.rankers
          li
            div.blue
            | Iqbaljit Kahlon
          li
            div.pink
            | Adam Smith
          li
            div.green
            | Joe Summers
          li
            div.orange
            | Joseph Hall
          li
            div.blue
            | Elizabeth Moore
    div.top-recruiters
      div.heading
        span
          | TOP RECRUITERS
      div.statistics
        ul.rankers
          li
            div.blue
            | Iqbaljit Kahlon
          li
            div.pink
            | Adam Smith
          li
            div.green
            | Joe Summers
          li
            div.orange
            | Joseph Hall
          li
            div.blue
            | Elizabeth Moore

block templates
  | <script type='text/javascript'>
  | $(document).ready(function () {
  | $('.tool').tooltip();
  | var options={
  | delay:{
  | show:0,
  | hide:0
  | }
  | };
  | $('.tool').tooltip(options);});
  | </script>