doctype 5
html
  head
    meta(charset='utf-8')
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Give To College is the best way to raise funds, and donate to colleges in a fun and rewarding manner - are you ready to compete?')

    block js
      script(type='text/javascript', src='/js/jquery-1.7.2.min.js')
      script(type='text/javascript', src='/js/bootstrap.min.js')
      script(type='text/javascript', src='/js/achievements.js')
      script(type='text/javascript', src='/js/gtc-util.js')
      script(type='text/javascript', src='/js/notifications.js')
      script(type='text/javascript', src='/socket.io/socket.io.js')

    block scripts

    block css
      link(rel='stylesheet', href='/css/bootstrap.css')
      link(rel='stylesheet', href='/css/style.css')
      link(rel='stylesheet', href='/css/jquery.css')
      link(rel='shortcut icon', type='image/x-icon', href='/img/favicon.ico')
  body
    div.container.top
      div.navbar
        div.navbar-inner
          a.brand(href='#')
            div.logo
            div.name
              | Give to College
          ul.nav
            li
              a(href='/test').clearfix
                div.dicon-calendar
                div
                  | Dashboard
            li
              a(href='/standing').clearfix
                div.dicon-badge
                div
                  | Standings
            li.active
              a(href='/campaigns').clearfix
                div.dicon-edit
                div
                  | Campaigns
            li.rewards
              a(href='#').clearfix.long
                div.dicon-gift
                div
                  | Achievements
            li.small-bar
              a(href='#').clearfix
                div.dicon-search
            li.small-bar.image
              div.user
            li.small-bar
              a(href='#').clearfix
                div.dicon-chat
            li.small-bar
              a(href='#').clearfix
                div.dicon-noun_project_4901
            li.small-bar
              a(href='#').clearfix
                div.dicon-logout
    div.container-fluid
      div.row-fluid.body
        div.sidebar.span3
          a(href='http://www.umich.edu/', target='_blank').clearfix
            div.univ.clearfix
              div.left-tab
                div.michigan-symbol
              div.right-tab
                div
                  | UNIVERSITY OF MICHIGAN
          div.univ-img
          div.univ-info
            div.info-panel
              span.number
                | 250
              span.small
                | Following
            div.info-panel
              span.number
                | 063
              span.small
                | Campaigns
            div.info-panel
              span.number
                | 728
              span.small
                | Donations
          a(href='#').clearfix
            div.panel-small.purple.clearfix
              div.left-tab
                span.dicon-user
              div.right-tab.no-border-left
                span
                  | SCHOOLS & CENTERS
          a(href='#').clearfix.school
            div.panel-small.user.clearfix
              div.left-tab
                div.orange-circle
              div.right-tab
                span
                  | Ross School of Business
                span.dicon-arrow-right
          a(href='#').clearfix.school
            div.panel-small.user.clearfix
              div.left-tab
                div.blue-circle
              div.right-tab
                span
                  | Michigan Athletics
                span.dicon-arrow-right
          div.panel-small.newsfeed-label.blue.clearfix
            div.left-tab
              span.dicon-bubble
            div.right-tab.no-border-left
              span
                | COLLEGE NEWSFEED
          div.newsfeed.clearfix
            div.news.clearfix
              div.left-tab
                span.dicon-chat
              div.right-tab
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            div.news.clearfix
              div.left-tab
                span.dicon-gift
              div.right-tab
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            div.news.clearfix
              div.left-tab
                span.dicon-chat
              div.right-tab
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        div.main.span9
          div.header
            h3
              | FEATURED CAMPAIGNS
          div.body-main
            div.main-container.clearfix
              div.carousel-arrow.dicon-arrow-left
              div#campaigns-list.clearfix
                div.campaign.margin-long
                  div.campaign-container
                    div.heading.clearfix
                      | UNIVERSITY OF MICHIGAN
                    div.campaign-image
                    div.campaign-name.clearfix
                      div.user
                      div.name
                        | STUDY CENTER
                        small
                          | by Suvonil Chatterjee
                    div.campaign-info
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent aucto malesuada
                    div.campaign-details.clearfix
                      div.progress
                        div.bar(style='width:48%')
                      div.info-panel
                        span.number.left
                          | $3500
                        span.small.left
                          | Target
                      div.info-panel
                        span.number
                          | 48%
                        span.small
                          | Funded
                      div.info-panel
                        span.number.right
                          | 72
                        span.small.right
                          | Donors
                  a(href='#',data-toggle='tooltip',data-placement='top',title='$87.2K LEFT TO REACH GOAL').green.tool
                    div.donate
                      span.dicon-noun_project_285
                      span
                        | DONATE NOW
                div.campaign.margin-long
                  div.campaign-container
                    div.heading.clearfix
                      | UNIVERSITY OF MICHIGAN
                    div.campaign-image
                    div.campaign-name.clearfix
                      div.user
                      div.name
                        | STUDY CENTER
                        small
                          | by Suvonil Chatterjee
                    div.campaign-info
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent aucto malesuada
                    div.campaign-details.clearfix
                      div.progress
                        div.bar(style='width:40%')
                      div.info-panel
                        span.number.left
                          | $3500
                        span.small.left
                          | Target
                      div.info-panel
                        span.number
                          | 48%
                        span.small
                          | Funded
                      div.info-panel
                        span.number.right
                          | 72
                        span.small.right
                          | Donors
                  a(href='#',data-toggle='tooltip',data-placement='top',title='$87.2K LEFT TO REACH GOAL').green.tool
                    div.donate
                      span.dicon-noun_project_285
                      span
                        | DONATE NOW
                div.campaign.margin-long
                  div.campaign-container
                    div.heading.clearfix
                      | UNIVERSITY OF MICHIGAN
                    div.campaign-image
                    div.campaign-name.clearfix
                      div.user
                      div.name
                        | STUDY CENTER
                        small
                          | by Suvonil Chatterjee
                    div.campaign-info
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent aucto malesuada
                    div.campaign-details.clearfix
                      div.progress
                        div.bar(style='width:40%')
                      div.info-panel
                        span.number.left
                          | $3500
                        span.small.left
                          | Target
                      div.info-panel
                        span.number
                          | 48%
                        span.small
                          | Funded
                      div.info-panel
                        span.number.right
                          | 72
                        span.small.right
                          | Donors
                  a(href='#',data-toggle='tooltip',data-placement='top',title='$87.2K LEFT TO REACH GOAL').green.tool
                    div.donate
                      span.dicon-noun_project_285
                      span
                        | DONATE NOW
                div.campaign.margin-long
                  div.campaign-container
                    div.heading.clearfix
                      | UNIVERSITY OF MICHIGAN
                    div.campaign-image
                    div.campaign-name.clearfix
                      div.user
                      div.name
                        | STUDY CENTER
                        small
                          | by Suvonil Chatterjee
                    div.campaign-info
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent aucto malesuada
                    div.campaign-details.clearfix
                      div.progress
                        div.bar(style='width:40%')
                      div.info-panel
                        span.number.left
                          | $3500
                        span.small.left
                          | Target
                      div.info-panel
                        span.number
                          | 48%
                        span.small
                          | Funded
                      div.info-panel
                        span.number.right
                          | 72
                        span.small.right
                          | Donors
                  a(href='#',data-toggle='tooltip',data-placement='top',title='$87.2K LEFT TO REACH GOAL').green.tool
                    div.donate
                      span.dicon-noun_project_285
                      span
                        | DONATE NOW
              div.carousel-arrow.dicon-arrow-right
          div.univ-stats
            div.top-donors
              div.heading
                span
                  | TOP DONORS
              div.statistics
                div.infograph
                  span.dicon-noun_project_285
                  div.gender-info
                  div.stats
                    div.info-panel
                      span.number
                        | 250
                      span.small
                        | Following
                    div.info-panel
                      span.number
                        | 063
                      span.small
                        | Campaigns
                    div.info-panel
                      span.number
                        | 728
                      span.small
                        | Donations
                ul.rankers
                  li
                    div.blue
                    | Iqbaljit Kahlon
                  li
                    div.pink
                    | Adam Smith
                  li
                    div.green
                    | Joe Summers
                  li
                    div.orange
                    | Joseph Hall
                  li
                    div.blue
                    | Elizabeth Moore
            div.top-fundraisers
              div.heading
                span
                  | TOP FUNDRAISERS
              div.statistics
                div.infograph
                  span.dicon-gift
                  div.gender-info
                  div.stats
                    div.info-panel
                      span.number
                        | 250
                      span.small
                        | Following
                    div.info-panel
                      span.number
                        | 063
                      span.small
                        | Campaigns
                    div.info-panel
                      span.number
                        | 728
                      span.small
                        | Donations
                ul.rankers
                  li
                    div.blue
                    | Iqbaljit Kahlon
                  li
                    div.pink
                    | Adam Smith
                  li
                    div.green
                    | Joe Summers
                  li
                    div.orange
                    | Joseph Hall
                  li
                    div.blue
                    | Elizabeth Moore
            div.top-recruiters
              div.heading
                span
                  | TOP RECRUITERS
              div.statistics
                ul.rankers
                  li
                    div.blue
                    | Iqbaljit Kahlon
                  li
                    div.pink
                    | Adam Smith
                  li
                    div.green
                    | Joe Summers
                  li
                    div.orange
                    | Joseph Hall
                  li
                    div.blue
                    | Elizabeth Moore
    | <script type='text/javascript'>
    | $(document).ready(function () {
    | $('.tool').tooltip();
    | var options={
    | delay:{
    | show:0,
    | hide:0
    | }
    | };
    | $('.tool').tooltip(options);});
    | </script>
