extends layout

block append scripts
  script(type='text/javascript', src='/js/jquery-ui.min.js')
  script(type='text/javascript', src='/js/underscore-min.js')
  script(type='text/javascript', src='/js/backbone-min.js')
  script(type="text/javascript")
    var categories = !{JSON.stringify(categories)};

block content
  div.content
    h1 Categories
    table.table.table-striped#categories
      thead
        tr
          th Category
          th Description
      tbody

  script#category-template(type="text/template")
    |  <td> <%= name %> </td>
    |  <td> <%= description %> </td>

  script#university-template(type="text/template")
    |  <td> &nbsp; </td>
    |  <td> <%= display_name %> </td>

  script(type="text/javascript", src="/js/categories.js")
