extends layout

block scripts

block content
	div
		div.content
			h5 
				a(href="/organization/register") Request Free College Account
		div.content
			h1 Features
			h4 Social Outreach
			p Increase the efficacy of your fundraising and outreach efforts by allowing your donors and supporters to easily reach out to their social networks.  Your supporters can connect with their friends, friend-of-friends, and former classmates and solicit support for your college.
			h4 Gamification
			p Increase money raised from donors with Give To College’s built in game elements that tap into natural rivalries that exist between colleges, departments and classes.  Supporters earn points, levels and badges they can share with their friends to show their contribution to their alma mater.  
			h4 Campaigns
			p Engage potential donors by creating and sponsoring campaigns which accomplish a specific purpose for the College.  A campaign can allow supporters and donors to create their own fundraisers and solicit their friends for donations on the college’s behalf.  A campaign can be a fundraiser managed by college staff around a football game.  The possibilities are endless.
			h4 Loyalty Platform
			p Reward your best donors and supporters with prizes and special events.  Give To College partners with leading brands to create compelling contests and events complimenting prizes and events sponsored by colleges.
			h4 Control Everything
			p The Give To College college account allows you to control and manage all your fundraising efforts.

