extends layout

block scripts


block content
  div.widget
    div.widget-header
        h3 Frequently Asked Questions
    div.widget-content
      div.faq
        h4 WHAT IS GIVE TO COLLEGE?
        div.indent
          p GIVE TO COLLEGE is all about alums and supporters raising as much money as possible for colleges.  GIVE TO COLLEGE is the best way to show the world your charitable life, and put your rival colleges in their place through fun campaigns. 
            a(href="/aboutus") Read More
        hr
        h4 HOW DOES GIVE TO COLLEGE WORK?
        div.indent
          h5 Step 1: CREATE YOUR GIVE TO COLLEGE ACCOUNT
          p Sign up to create your Give To College account.  Your account is the summary of your charitable life involving colleges.  You can donate to colleges, recruit friends, create fundraisers, participate in sponsored campaigns, and earn rewards for being an active supporter and donor to your chosen colleges.
          h5 Step 2: RECRUIT YOUR FRIENDS
          p Once you have created your account, you can easily recruit your friends to join Give To College and start giving to their own colleges.  When the friends you invited make a donation or participate in a campaign, you earn points alongside with them. The more friends you invite, more points you earn, more recognition and prizes you win.  
          h5 Step 3: PARTICIPATE IN FUNDRAISING CAMPAIGNS
          p You can create and participate in various campaigns to raise funds for your college.  Through Give To College, you can create your own fundraiser to raise funds for your alma mater.  You can participate in a rivalry campaign where you can compete with a coworker to see who can raise more funds for their college.  The possibilities are endless.
          h5 Step 4: EARN REWARDS FOR YOUR EFFORTS
          p As you participate in Give To College, you earn points which can be redeemed for prizes and experiences from our partners.  For example, you can buy an acre to support conservation in the Amazon rainforest through Give To College.  Give To College points also earn you access to events sponsored by colleges to reward prominent donors and fundraisers.
          h5 Step 5:  MAKE YOUR COLLEGE NUMBER ONE ON THE RANKINGS
          p The real goal of Give To College is to have fun while supporting your college.  Give To College is all about making sure your college ranks higher than your rivals.  Help your college climb the rankings by enlisting more supporters and donors than your rival schools.  Are you ready to make giving a sport?
        hr
        h4 DONATIONS QUESTIONS
        div.indent
          h5 IS MY DONATION TAX-DEDUCTIBLE?
          p Your donation to a US-Based 501©3 charitable organization through Give To College is 100% tax deductible to the extent allowed by law.  Give To College provides an electronic receipt at the time of the donation which meets all IRS requirements as a record of the donation.  If you are asked to provide a paper receipt for IRS purposes, please print out a copy from the Receipts page in your Give To College account. 
          h5 IS MY DONATION SECURE?
          p Give To College processes donations through Network for Good and Stripe.  Network for Good and Stripe are not affiliated with Give To College and they offer best in class security.  
          h5 DO I NEED AN ACCOUNT TO MAKE A DONATION?
          p You do NOT need a Give To College account to make a donation.  But, you need an account to have maximum impact as a fundraiser, earn rewards and fully participate in all the fun campaigns we launch. 
          h5 HOW DO I MAKE AN ANONYMOUS DONATION?
          p Give To College allows anyone to make an anonymous donation by through the settings page.  However, we strongly advise donors to make public donations so your donation can have the most impact.  When you friends see you are supporting your college, they are likely to follow.  We are all about maximum impact, are you?
        hr
        h4 WHAT DOES GIVE TO COLLEGE COST
        div.indent
          h5 IS GIVE TO COLLEGE FREE?
          p Yes, Give To College is entirely free to use for donors.  Our goal is to help everyone raise lots of money for their favorite colleges and alma maters.
          p When you or anyone else donates to a college or an affiliated entity through Give To College, we take a small transaction fee on the donation.  See below for more information.
          h5 WHAT ARE THE TRANSACTION FEES?
          p When a donation is made through Give To College, a Transaction Fee is deducted from it so we don’t go out of business. Our pricing is a flat 5.00% on donations. The College also pays credit card processing fees to Stripe which are 2.9% + $0.30 or less. So on a $100 donation, $91.80 goes to the college. We think you'll find that's really good pricing. We try to keep our pricing as low as possible so your donation can have the greatest possible impact.
          p Transaction Fees cover Give To College’s costs associated with developing, maintain and hosting the site, plus continued investment in building the best, most innovating fundraising platform in the world.
          p Compared to traditional ways of fundraising like sending direct mail or putting on a dinner event, Give To College is an inexpensive and efficient way to augment other fundraising channels available to colleges. Someone really smart told us that colleges usually spend 20%-30% of every dollar they raise to get people to donate.  Give To College charges a fraction of that amount.
          h5 HOW DOES MY COLLEGE GET ITS MONEY?
          p Colleges that have opted to receive donations through Stripe, our secure credit card processor, will receive payments in near real time (after a 7 day hold). Colleges that use Network for Good for payment processing will receive payments on or around the 15th of each month that include all donations made in the previous month from Network for Good. For example, donations processed in October will be paid to the colleges on or around November 15th. Colleges will receive their payments less the Transaction Fees. These payment schedules are subject to change at any time at the sole discretion of Give To College. The money is sent to the address that the College has on file with GuideStar.
        hr
        h4 SECURITY QUESTIONS
        div.indent
          h5 IS MY DONATION SECURE?
          p Give To College processes donations through Network for Good or Stripe.  Network for Good or Stripe are not affiliated with Give To College and the offer best in class security.  
        hr
        h4 HOW DO COLLEGES GET THEIR MONEY
        div.indent
          h5 WHEN DO COLLEGES GET THE MONEY FROM GIVE TO COLLEGE?
          p Colleges that have opted to receive donations through Stripe, our secure credit card processor, will receive payments in near real time (after a 7 day hold). Colleges that use Network for Good for payment processing will receive payments on or around the 15th of each month that include all donations made in the previous month from Network for Good. For example, donations processed in October will be paid to the colleges on or around November 15th. Colleges will receive their payments less the Transaction Fees. These payment schedules are subject to change at any time at the sole discretion of Give To College. The money is sent to the address that the College has on file with GuideStar.
        hr
        h4 COLLEGES FAQ
        div.indent
          h5 WHY SHOULD MY COLLEGE USE GIVE TO COLLEGE?
          p Give To College is meant to complement your website and existing online and offline fundraising efforts.  Our goal is to (1) give you an extremely easy platform to create compelling, viral fundraising campaigns to raise new money for your college, (2) give you a way to turn your donors, alumni, and supporters into fundraisers by providing tools for them to participate with campaigns on Give To College, (3) let you use our gamification and points system to incentivize your donors and fundraisers to raise more money with greater sense of urgency.
          h5 ARE THERE START-UP COSTS?
          p Your college pays nothing to get started on Give To College.  You can get started with Give To College in about 2 minutes and you don’t need any programmers, IT staff or graphic designers.  During the sign up process, you’ll claim your College and enable online donation disbursements through Stripe. We will be offering premium services over time to Colleges, but Give To College will always be free to get started.
          h5 WHAT ARE THE TRANSACTION FEES?
          p When a donation is made through Give To College, a Transaction Fee is deducted from it so we don’t go out of business. Our pricing is a flat 5.00% on donations. The College also pays credit card processing fees to Stripe which are 2.9% + $0.30 or less. So on a $100 donation, $91.80 goes to the charity. We think you'll find that's really good pricing. We try to keep our pricing as low as possible so your donation can have the greatest possible impact.
          p Transaction Fees cover Give To College’s costs associated with developing, maintain and hosting the site, plus continued investment in building the best, most innovating fundraising platform in the world.
          p Compared to traditional ways of fundraising like sending direct mail or putting on a dinner event, Give To College is an inexpensive and efficient way to augment other fundraising channels available to colleges. Someone really smart told us that colleges usually spend 20%-30% of every dollar they raise to get people to donate.  Give To College charges a fraction of that amount.
          h5 HOW DOES MY COLLEGE GET ITS MONEY?
          p Colleges that have opted to receive donations through Stripe, our secure credit card processor, will receive payments in near real time (after a 7 day hold). Colleges that use Network for Good for payment processing will receive payments on or around the 15th of each month that include all donations made in the previous month from Network for Good. For example, donations processed in October will be paid to the colleges on or around November 15th. Colleges will receive their payments less the Transaction Fees. These payment schedules are subject to change at any time at the sole discretion of Give To College. The money is sent to the address that the College has on file with GuideStar.
          h5 WHAT INFORMATION DOES GIVE TO COLLEGE PROVIDE TO MY NONPROFIT?
          p We know how important the information on your donors and fundraisers is to your organization and we provide you with everything you’d ever want.  As a College or an affiliated entity on Give To College, you will have access to the following information when someone donates to your college through Give To College: name, email, physical address, amount of donation, date/time the donation occurred, and the campaign that generated the donation.  Note that donors can choose to Donate Anonymously.