extends signinlayout

block scripts
  script
    function isValidEmail(email) {
      var em=/^[+a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i;
      return em.test(email);
    }
    $(document).ready(function() {
      $('#email').keyup(function() {
        var em=$('#email').val();
        if(!isValidEmail(em)) {
          $('#e-valid').css({'color':'red','padding-left':'5px', 'font-style':'italic'});
          $('#e-valid').html('Please enter a valid email address');
        } else {
          $('#e-valid').text('');
        }
      });
      $('#forgotpassword').submit(function() {
        var em=$('#email').val();
        if(!isValidEmail(em)) {
          $('#e-valid').css({'color':'red','padding-left':'5px', 'font-style':'italic'});
          $('#e-valid').html('Please enter a valid email address');
          return false;
        }
        return true;
      });
    });

block content
  h1
    span.logo
  p.description Forgot Password
  section
    form(id='forgotpassword', action='/password/forgot', method='POST')
      div
        input.input-xlarge(id='email', type='text', name='email', placeholder='Email', autocomplete='off')
        span(id='e-valid')
      div.button
        button.btn-primary.btn-large(id='buttonreset', type='submit', value='Submit') Reset Password

