extends layout

block scripts

block content
  div
    div.row
      div.content-howitworks
        h5 Step 1: CREATE YOUR GIVE TO COLLEGE ACCOUNT
        p Sign up to create your Give To College account.  Your account is basically a summary of your charitable life focused on higher education.  You can donate to colleges, invite friends, create fundraisers, participate in campaigns, and earn rewards for being an active donor and supporter.
      div.content-howitworks
        h5 Step 2: INVITE YOUR FRIENDS
        p Once you have created your account, you can easily invite your friends to Give To College.  When the friends you invited make a donation or participate in a campaign, you earn points along with them. The more friends you invite, more points you earn, more recognition and prizes you win.
      div.content-howitworks
        h5 Step 3: CREATE & PARTICIPATE IN CAMPAIGNS
        p You can create and participate in various types of fun campaigns to raise funds for your college.  For example, you can create your own fundraiser to raise funds for your alma mater.  You can participate in a rivalry match campaign where we see which college rivals can raise more funds.  The possibilities are endless.
      div.content-howitworks
        h5 Step 4: EARN REWARDS FOR YOUR EFFORTS
        p As you participate in Give To College, you earn points which can be redeemed to get prizes from our partners like Apple.  You can also earn access to events sponsored by colleges to reward prominent donors and fundraisers.
      div.content-howitworks
        h5 Step 5:  MAKE YOUR COLLEGE NUMBER ONE ON THE RANKINGS
        p Give To College is all about making sure your college ranks higher than your rivals.  You can help your college climb the rankings by enlisting more supporters and donors than your rival schools.  Are you ready to make giving a sport?