doctype 5
html
  head
    meta(charset='utf-8')
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Give To College is the best way to raise funds, and donate to colleges in a fun and rewarding manner - are you ready to compete?')

    block js
      script(type='text/javascript', src='/js/jquery-1.7.2.min.js')
      script(type='text/javascript', src='/js/bootstrap.js')
      script(type='text/javascript', src='/js/achievements.js')
      script(type='text/javascript', src='/js/gtc-util.js')
      script(type='text/javascript', src='/js/notifications.js')
      script(type='text/javascript', src='/socket.io/socket.io.js')

    block scripts

    block css
      link(rel='stylesheet', href='/css/bootstrap.css')
      link(rel='stylesheet', href='/css/bootstrap-responsive.css')
      link(rel='stylesheet', href='/css/styles.css')
      link(rel='stylesheet', href='/css/jquery.css')
      link(rel='shortcut icon', type='image/x-icon', href='/img/favicon.ico')


  body
    div.wrapper
      div.navbar.navbar-inverse.navbar-fixed-top
        div.navbar-inner
          div.container
            a(data-toggle='collapse',data-target='nav-collapse').btn.btn-navbar
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.brand(href='/')
            div.nav-collapse.collapse
              block left_menu
                include includes/left_menu
              block right_menu
                include includes/right_menu
      div#joinnowmodal.modal.hide.fade.in.joinnowmodal
        div.modal-body
          | <h1><span class="logo"></span></h1>
          p.welcome Raise funds for colleges. Earn achievement badges and exclusive access to colleges.
          div.signin-gate
            | <button type="button" onClick="GiveToCollege.popupOAuth('/user/register/facebook/', '/user/homepage')" class="btn-f facebook"><i class="ic-fb"></i>Sign up with Facebook</button>
            | <button type="button" onClick="GiveToCollege.popupOAuth('/user/register/twitter/', '/user/homepage')" class="btn-t twitter"><i class="ic-tw"></i>Sign up with Twitter</button>
            | <p></p>
            | <p><a href="/user/register">Sign Up with Email</a></p>
            | <p>Been here before? <a href="/login">Sign In</a></p>
      div
        block title
      div.container
        block content
      div.push
    footer.footer
      div.navbar
        div.container
          include includes/footer

  block templates

    // Scripts Added At The End - Google Analytics
    | <script>var _gaq=[['_setAccount','UA-28632444-1'],['_trackPageview']];
    | (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    | g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    | s.parentNode.insertBefore(g,s)}(document,'script'));</script>
      
