extends signinlayout

block scripts
  - if (errors)
    script(type='text/javascript')
      var GiveToCollege = GiveToCollege || {};
      GiveToCollege.errors = !{JSON.stringify(errors)};
  script(type='text/javascript')
    function isValidEmail(email) {
      var em=/^[+a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i;
      return em.test(email);
    }
    $(document).ready(function() {
      $('#email').blur(function() {
        var em=$('#email').val();
        if(!isValidEmail(em)) {
          $('#e-valid').css({'color':'red','padding-left':'5px', 'font-style':'italic'});
          $('#e-valid').html('Please enter a valid email address');
        } else {
          $('#e-valid').text('');
        }
      });
      $('#auth').submit(function() {
        var em=$('#email').val();
        if(!isValidEmail(em)) {
          $('#e-valid').css({'color':'red','padding-left':'5px', 'font-style':'italic'});
          $('#e-valid').html('Please enter a valid email address');
          return false;
        }
        return true;
      });
      GiveToCollege.handleErrorMessages($('#errors'));
    });

block content
  h1 
    span.logo
  p.description Sign In

  section(id="signin")
    div.row-fluid
      div.offset1.span10#errors
    div.row-fluid(id="3rdpartylogin")
      div.span5.offset1
        div.signin-gate.row-fluid
          | <button type="button" onClick="GiveToCollege.popupOAuth('login/facebook', '/user/homepage')" class="btn-f facebook"><i class="ic-fb"></i>Sign in with Facebook</button>
        div.signin-gate.row-fluid
          | <button type="button" onClick="GiveToCollege.popupOAuth('login/twitter', '/user/homepage')" class="btn-t twitter"><i class="ic-tw"></i>Sign in with Twitter</button>
      div.span5
        form(id='auth', action='/login/email/auth', method='POST')
          div.row-fluid
            label(for='email') 
              input.input.span12(id='email', type='text', name='email', placeholder='Email')
              span(id='e-valid')
          div.row-fluid
            label(for='password') 
              input.input.span12(type='password', name='password', placeholder='Password')
          div.row-fluid.button
            button.btn-custom.btn-large(type='submit', value='Log in') Sign In
            a(href="../password/forgot"): small Forgot password?
    div.row-fluid
      div
        p.goback Need an account? 
          a(href="../user/register") Sign Up
    div.row-fluid
      div
        p.goback
          a(href="javascript:history.go(-1)"): small Go Back

