doctype 5
html
  head
    meta(charset='utf-8')
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Give To College is the best way to raise funds, and donate to colleges in a fun and rewarding manner - are you ready to compete?')

    block js
      script(type='text/javascript', src='/js/jquery-1.7.2.min.js')
      script(type='text/javascript', src='/js/bootstrap.min.js')
      script(type='text/javascript', src='/js/achievements.js')
      script(type='text/javascript', src='/js/gtc-util.js')
      script(type='text/javascript', src='/js/notifications.js')
      script(type='text/javascript', src='/socket.io/socket.io.js')

    block scripts

    block css
      link(rel='stylesheet', href='/css/bootstrap.css')
      link(rel='stylesheet', href='/css/style.css')
      link(rel='stylesheet', href='/css/jquery.css')
      link(rel='shortcut icon', type='image/x-icon', href='/img/favicon.ico')
  body
    div.container.top
      div.navbar
        div.navbar-inner
          a.brand(href='#')
            div.logo
            div.name
              | Give to College
          ul.nav
            li
              a(href='/test').clearfix
                div.dicon-calendar
                div
                  | Dashboard
            li
              a(href='/standing').clearfix
                div.dicon-badge
                div
                  | Standings
            li
              a(href='/campaigns').clearfix
                div.dicon-edit
                div
                  | Campaigns
            li.rewards
              a(href='#').clearfix.long
                div.dicon-gift
                div
                  | Achievements
            li.small-bar
              a(href='#').clearfix
                div.dicon-search
            li.small-bar.image
              div.user
            li.small-bar
              a(href='#').clearfix
                div.dicon-chat
            li.small-bar
              a(href='#').clearfix
                div.dicon-noun_project_4901
            li.small-bar
              a(href='#').clearfix
                div.dicon-logout
    div.container-fluid
      div.row-fluid.body
        div.sidebar.span3
          block sidebar
        div.main.span9
          block content


    block templates