extends layout

block content
  h2 Organization

  - var updateType="create"
  - var buttonLabel="Create"
  if(type == "update")
    - updateType="update"
    - buttonLabel="Update"
  - updateType='/organization/' + updateType

  if(result)
    if(result.success)
      div.alert.alert-success
        a.close(href="#", data-dismiss="alert") &times;
        p #{result.message}
    else
      div.alert.alert-error
        a.close(href="#", data-dismiss="alert") &times;
        p #{result.message}

  form.well(action=updateType, method='POST')
    input(type='hidden', name='id', value=organization.id)
    label(for='display_name') Display Name:
    input.span3(type='text', name='display_name', value=organization.display_name)
    label(for='acronym') Acronym:
    input.span2(type='text', name='acronym', value=organization.acronym)
    label(for='domain') Domain:
    input.span2(type='text', name='domain', value=organization.domain)
    label(for='address1') Address 1:
    input.span3(type='text', name='address1', value=organization.address1)
    label(for='address2') Address 2:
    input.span3(type='text', name='address2', value=organization.address2)
    label(for='city') City:
    input.span3(type='text', name='city', value=organization.city)
    label(for='state') State:
    input.span1(type='text', name='state', value=organization.state)
    label(for='zip') Zip Code:
    input.span1(type='text', name='zip', value=organization.zip)
    label(for='taxid') Tax Id:
    input.span2(type='text', name='taxid', value=organization.taxid)
    label(for='twitterhandle') Twitter Handle:
    input.span2(type='text', name='twitterhandle', value=organization.twitterhandle)
    label(for='facebookpage') Facebook Fan Page:
    input.span2(type='text', name='facebookpage', value=organization.facebookpage)
    label(for='webpage') Web Address:
    input.span2(type='text', name='webpage', value=organization.webpage)
    label University Enable:
    label.radio.inline
      input(type='radio', name='isEnabled', value='true', checked=organization.isEnabled==true)
      |Enabled
    label.radio.inline
      input(type='radio', name='isEnabled', value='false', checked=organization.isEnabled==false)
      |Disabled
    label Payment Enable:
    label.radio.inline
      input(type='radio', name='isPaymentEnabled', value='true', checked=organization.isPaymentEnabled==true)
      |Payment Enabled
    label.radio.inline
      input(type='radio', name='isPaymentEnabled', value='false', checked=organization.isPaymentEnabled==false)
      |Payment Disabled
    p
    button.btn(type='submit', value=buttonLabel) #{buttonLabel} Organization
