extends layout

block scripts


block content
  div.widget
    div.widget-header
        h3 Privacy Policy
    div.widget-content.content-terms

        h2 I. OUR COMMITMENT TO PRIVACY

        p Give To College is committed to respecting and protecting your privacy. Give To College has developed this Privacy Policy ("Privacy Policy") to help to protect your personal information. The Privacy Policy discloses the information we gather on www.givetocollege.com (the "Site"), as well as ways in which we process and, share such information and how you can correct or change such information. Except where otherwise expressly indicated herein or on the Site, this Privacy Policy applies only to information collected on the Site and does not apply to information collected outside of the Site.
       
        p This Privacy Policy addresses our privacy practices relating to the general use of our Site by anyone who visits, browses or otherwise uses the Site (collectively, "You"). Before submitting information to the Site, please read this Privacy Policy. By visiting the Site, submitting information, making a donation or using any of our products or services, you acknowledge that you accept the practices and policies outlined in this Privacy Policy and consent to having your data transferred to and/or processed in the United States. If you do not agree to this Privacy Policy, please do not use the Site.

        h2 II. THE INFORMATION WE COLLECT

        p Give To College is all about alums and supporters raising as much money as possible for colleges.  Give To College is the best way to show the world your charitable life, and put your rival colleges in their place through fun campaigns.
        p The Site is intended to provide this great experience without requiring you to submit any more Personally Identifiable Information ("PII") than is necessary to use the Site effectively. We do not require you to register or submit PII in order to visit the Site. Some activities on the Site can be performed without providing PII. When we ask for PII to, for instance, participate in an activity, set up an account or project page or make a donation, we will not require anyone to disclose more PII than we believe is reasonably necessary to participate in the activity. We collect the following categories of information from you:

        div.indent
            h3 A.  Personally Identifiable Information Collected from Individuals

            p We may receive and store any information you enter on the Site or provide to us in any other way through or via the Site that would allow us to identify you personally or contact you. The PII you provide to us only will be used by Give To College in accordance with this Privacy Policy. Examples of PII we may collect from you:
            ul
                li If you set up a personal account, we collect your name, email address and birthday and, if you choose, your sex, any photos that you upload to the Site, your mailing address and phone number;
                li PII you provide about yourself when you send us an email or Contact Us.
                li PII you provide about yourself on your account page, a project page or anywhere else on the Site. For example, if you use any third party platforms, such as Facebook, LinkedIn or Twitter, to share information about yourself on the Site, we collect that information.
            p You can choose not to provide us with certain PII, but then you may not be able to take advantage of all of the services and products offered on the Site.

            h3 B.  Personally Identifiable Information Collected from Colleges

            p If you are a college or an affiliated entity (each a "College") and you establish an account with Give To College, we will collect the name, email address, birthday and phone number of the person who establishes a College account and claims your College (the "College Contact"). We also may collect, if the College Contact chooses to provide it, the College Contact's sex, or any photos uploaded to the Site.

            h3 C. Passive Gathering of Information Electronically

            div.indent2
        
                h4 1.  Cookies
        
                p During the course of any visit to the Site, the pages you see, along with something called "cookies," are downloaded to your computer. Cookies are small pieces of information that are stored by your browser on your computer's hard drive. These cookies do not contain or collect any PII, but they do enable us to provide features such as personalization. Most web browsers automatically accept cookies, but you usually can change your browser to limit or prevent cookies. Cookies in themselves do not personally identify the individual user, but rather the computer that is being used to access the Site. You may have the opportunity to set your computer to accept all cookies, to notify you when a cookie is issued, or to not receive cookies at any time. Different browsers may address cookies differently. If you set your browser to not accept cookies, it may result in certain personalized services not being provided to you when you use that computer.
        
                h4 2.  Web Beacons
        
                p A web beacon is a transparent image file. Web beacons enable Give To College to track website usage information, such as the number of times a given web page has been viewed. Web beacons are invisible to you and (unlike cookies) are not placed on your computer. They may be used in association with cookies to understand how visitors interact with the pages and content on the pages of the Site.
        
                p Web beacons also may be used to track whether you have opened an HTML email. When the email is opened, a part of the code that makes up the HTML page calls a web server to load the web beacon that then generates a record showing that the email has been viewed. Web Beacons may also recognize when the email was opened, how many times it was forwarded and which URL's (links within the email) were clicked.
        
                p Give To College does not use web beacons to collect or otherwise record any type of PII provided by or about any User.

            h3 D.  E-mail Communications to You and Your Friends

            p When you send an email to Give To College, we may retain your email address and the contents of the email you send.
        
            p When you invite friends to join Give To College, donate to a college, Give To College will send an email to your friends. Give To College does not store your friends' email address or use that information for any purpose other than sending the email that you requested.

            h3 E.  Non Personally Identifiable Information
        
            p From time to time, we may also ask you to provide us with non-PII that is data that is not intended to allow us to identify you personally, such as your first name, birthday or zip code. Your non-PII may be aggregated and used for our internal purposes or for creating reports for third-party advertisers and partners, or otherwise shared with third parties for any lawful purpose, without your permission. No third party is intended to be able to know who you are as a result of the use of your non-PII.

            p We also may automatically collect Site usage information, such as the numbers and frequency of users to the Site, pages visited and similar data. This data is used in the aggregate, that is, as a statistical measure, and not in a manner that is intended to identify you personally. Aggregate information generally is collected through the use of cookies and web beacons as discussed above. This aggregate information helps Give To College determine general usage patterns and modify the Site in order to improve your experience. This type of aggregate information may be shared with third parties at any time.

        h2 III.  HOW WE USE INFORMATION

        p When you provide us with your PII, we may use such information for a number of purposes, including:

        ul
          li To facilitate communication between Give To College and you including, without limitation, responding to your questions or comments, sending emails concerning our products and services, or to contact you for feedback regarding us, advertisers or business partners;
          li To administer your account, process donations, provide products or services to you and for Give To College marketing and promotional activities;
          li To provide a report to a College or an event supporting a College to whom you have made a donation or to alert a fundraiser to whom you have made a donation, supported a project or joined a team;
          li To provide a report to our advertisers or business partners that tells them who responded to a particular offer or to facilitate the fulfillment of an order that you have made with an advertiser or business partner;
          li To provide you with important functionality changes to the Site, new Give To College services and special offers from Give To College and reputable third parties that we think you will find valuable;
          li To customize, analyze, adjust and improve the Site to meet our advertisers' or business partners' needs and expectations;
          li To enforce our agreements with you, prevent fraud and other prohibited or illegal activities, for other legally permissible purposes and generally to ensure that we comply with applicable laws;
          li To send emails to friends based on your instructions as discussed in E-mail Communications to You and Your Friends.

        h2 IV. ACCESSING OR CHANGING YOUR PII
        p Give To College allows you to change or correct inaccuracies in your PII by logging into your account and making changes to your PII.

        h2 V.  DISCLOSURE OF INFORMATION TO THIRD PARTIES
        
        p Give To College may give, share, sell or trade your PII to or with any third parties under the following circumstances:
        
        div.indent
            h3 A.  Colleges & Affiliated entities

            p When you make a donation or register to volunteer or fundraise for a College or for an organization or event associated with fundraising (e.g., a marathon, walkathon, concert or similar), Give To College shares with the College and affiliated entity your name, address, email address, birthdate, donation amount, date of transaction, transaction identification number and may also include the name of the project associated with the donation. If you wish to stop receiving communications from a College, please contact the College directly. 
        
            h3 B.  Fulfillment of Services
        
            p We may retain other companies and individuals to perform certain functions on our behalf. Examples include, but are not limited to, companies and individuals who: (i) administer the Give To College accounts; (ii) process donations; (iii) conduct surveys or promotional activities; (iv) deliver products; or (v) provide customer support, web hosting, internet service, and data analysis. Such third parties may be provided with access to PII needed to perform their functions but may not use such information for any other purpose.

            h3 C.  Compliance with Law and Fraud Protection
        
            p We may disclose any information, including, without limitation, PII, that we deem necessary, in our sole discretion and without your prior permission, to comply with any applicable law, regulation, legal process or governmental request. We may also exchange information, including, without limitation, PII, with other companies and organizations for credit fraud protection, risk reduction and related activities or to protect the rights, property of safety of Give To College, its agents, employees or affiliates or others. Give To College reserves the right to disclose PII for a user who we believe is in violation of our Privacy Policy or other terms of service as posted on the Site, even without a subpoena, warrant, court order or other governmental request.

            h3 D.  Sale or Transfer of Information

            p In the event of a sale, merger, liquidation, dissolution or sale or transfer of substantially all of the assets of Give To College or the Site, PII and/or other information collected about you from the Site may be sold, assigned or transferred to the party acquiring all or substantially all of the equity and/or assets of Give To College or the Site in order to permit the party to continue the operation of Give To College and/or the Site or any successor version of the Site. By using the Site and providing PII to Give To College, you consent to the sale and transfer of your information as described in this paragraph.

        h2 VI. CREDIT CARD INFORMATION

        p Give To College does not collect, store or otherwise maintain any credit card information from individuals who make a donation through the Site. Donations, including information associated with your credit card, are processed by our partners Network for Good or Stripe.

        h2 VII. IMPORTANT DISCLOSURES, PRACTICES AND CONTACT INFORMATION

        div.indent
            h3 A.  Third Party Links
        
            p The Site may contain links to third-party websites. Please be aware that Give To College cannot control and is not responsible for the information collection practices of such websites, which may differ from those of Give To College. We encourage you to review and understand the privacy policies of these web sites before providing any information to them.
        
            h3 B.  Data Security

            p We maintain a variety of commercially reasonable safeguards designed to protect your PII from unauthorized access and disclosure. For example, we use industry accepted tools and techniques to protect against unauthorized access to our systems.
            p You should be aware, however, that Give To College has no control over the security of other websites on the Internet that you might visit even when a link may appear to those websites from our Site. If you share your computer or use a computer that is accessed by the general public, remember to sign off and close your browser window when you have finished your session. This will help to ensure that others cannot access your PII.
            p We want you to feel confident using the Site. However, no system can be completely secure. Therefore, although we take commercially reasonable steps to secure your information, we do not promise, and you should not expect, that your PII, searches or other communications always will remain secure. In the event of a breach of the confidentiality or security of your PII, we will notify you if reasonably possible and as reasonably necessary so that you can take appropriate protective steps. We may notify you under such circumstances using the email address(es) we have on record for you. You should also take care with how you handle and disclose your PII. Please refer to the Federal Trade Commission's Web site at http://www.ftc.gov/bcp/menus/consumer/data.shtm for information about how to protect yourself against identity theft.
        
            h3 C.  Children
            p The Site is not intended for persons under the age of 13. Give To College does not knowingly market to, or solicit information, accept service or collect information from any person under the age of 13. If Give To College becomes aware that any person submitting information to the Site is under the age of 13, we will attempt to delete the account and any related information as soon as possible. We require that only persons 13 years of age or older use the Site. By using the Site, you hereby represent that you are at least 13 years old.
        
            h3 D.  Changes to this Privacy Policy
        
            p We may occasionally update this Privacy Policy to reflect changes in our practices. When we post changes to this Privacy Policy, we will revise the updated date at the top of this Privacy Policy. If we make any material changes to our Privacy Policy, we only will notify You by sending an email to the email address(s) you provided to us, and by prominently posting notice of the changes on the Site. We will give you an opportunity to opt-out of any materially changed Privacy Policy or alternatively, delete the information you have provided to us. We recommend that you check the Site from time to time to inform yourself of any changes in this Privacy Policy or any of our other policies.
        
            h3 E.  Contacting Us
            p  If you have any questions about Give To College generally, this Privacy Policy or the Site, please feel free to contact us by sending an email to 
                a(href="mailto:support@givetocollege.com") support@givetocollege.com.

            h3 F.  Users From Outside the United States
            p The Site is hosted in the United States and is governed by United States law. If you are visiting the Site from outside the United States, please be aware that your information may be transferred to, stored and processed in the United States where our servers are located and our central database is operated. The data protection and other laws of the United States and other countries might not be as comprehensive as those in your country. By using the Site, you consent to your information being transferred to our facilities and to the facilities of those third parties with whom we share it as described in this Privacy Policy.
        
            h3 G.  No Rights of Third Parties
            p This Privacy Policy does not create rights enforceable by third parties.
        
            h3 H.  California Privacy Rights
            p If you are a California resident, California law permits you to request certain information regarding our disclosure of personal information to third parties for their “direct marketing purposes” as such term is defined by California’s Shine the Light Law (California Civil Code 1798.83). To make such a request, please email us at: 
                a(href="mailto:support@givetocollege.com") support@givetocollege.com. 

            p We will provide a list of the categories of personal information disclosed to third parties for third-party direct marketing purposes, along with the names and addresses of these third parties. This request may be made no more than once per calendar year. We reserve our right not to respond to requests submitted other than to the email or postal address specified above. You should put “California Privacy Rights” in the subject line and in your request. You must provide Give To College with specific information regarding yourself so Give To College can accurately respond to the request.