extends signinlayout

block append css
  style(type="text/css")
    #content {
      text-align: center;
    }

block content
  h1: span.logo
  p.description Thank You for Registering!
  section#content
    div.row-fluid
      p.span12 Thank you for registering for a Give To College College account.  Someone will contact you shortly to set up your account.
    
    p.goback   
      a(href="/colleges") Go Back