extends signinlayout

block scripts
  script(type="text/javascript", src='/js/gtc-util.js')
  script(type='text/javascript', src='/js/jquery-ui.min.js')
  script(type="text/javascript")
    $(document).ready(function() {
      GiveToCollege.initializeOrganizationAutocomplete($('#organization'));
    });

block content
  h1 
    span.logo
  p.description College Sign Up

  section
    - if (errors.length)
      div.alert.alert-error
        - each error in errors
          | #{error} <br>
    form(action='/organization/register', method='POST')
      div.row-fluid
        label(for='name')
          input#organization.input.span12(type='text', name='name', placeholder="Organization")
      div.row-fluid
        label(for='fullname')
          input.input.span12(type='text', name='fullname', placeholder="Full Name")
      div.row-fluid
        label(for='title')
          input.input.span12(type='text', name='title', placeholder="Title")
      div.row-fluid
        label(for='email')
          input.input.span12(type='text', name='email', placeholder="Email")
      div.row-fluid
        label(for='phone')
          input.input.span12(type='text', name='phone', placeholder="Phone Number")
          p.help-block Phone number optional
      div.row-fluid
        div.span3.offset5
          a(href="javascript:history.go(-1)"): small Go Back
        div.span4
          button.btn-primary.btn-large(type='submit') Sign Up