extends signinlayout

block content
	h1
		span.logo
	p.description Reset Password
	section
		form(action='/password/reset', method='POST')
			
			div
				input.input-xlarge(type='hidden', name='token', value=token)
			
			div
				label(for='password')
					input.input-xlarge(type='password', name='password', placeholder='New Password')

			div
				label(for='verify_password')
					input.input-xlarge(type='password', name='verify_password', placeholder='Retype New Password')
			
			div.button
				button.btn-primary.btn-large(type='submit', value='Submit') Reset Password

