extends new_layout

block scripts

block sidebar
  include includes/sidebar_standings.jade

block content
  div.searchbar.clearfix
    div.searchpanel
      span.left.clearfix
        | Find Your College's Rank
      span.right.clearfix
        | 1-12 of 300
    div.green
      div.dicon-search
    div.carousel.clearfix
      div
        div.dicon-arrow-left
      div
        div.dicon-arrow-right
  table.table.table-hovered
    thead
      tr
        th
          | Rank
        th
          | College Name
        th.right-align
          | Points
        th.right-align
          | Top Donor
    tbody
      tr
        td
          | 1
        td
          a(href="campaigns")
            | University of Michigan
        td.right-align
          | 252,456
        td.right-align
          | Iqbaljit Kahlon
      tr
        td
          | 2
        td
          | Indiana University
        td.right-align
          | 248,042
        td.right-align
          | Elizabeth Moore
      tr
        td
          | 3
        td
          | University of Iowa
        td.right-align
          | 239,000
        td.right-align
          | Adam Smith
      tr
        td
          | 4
        td
          | University of Illinois at Urbana-Champaign
        td.right-align
          | 230,000
        td.right-align
          | Joe Summers
      tr
        td
          | 5
        td
          | Michigan State University
        td.right-align
          | 223,456
        td.right-align
          | Joseph Hall
      tr
        td
          | 6
        td
          | University of Minnesota
        td.right-align
          | 219,444
        td.right-align
          | Steve Thomas
      tr
        td
          | 7
        td
          | University of Nebraska-Lincoln
        td.right-align
          | 210,345
        td.right-align
          | Mary Kay
      tr
        td
          | 8
        td
          | Northwestern University
        td.right-align
          | 210,200
        td.right-align
          | Chris Martin
      tr
        td
          | 9
        td
          | Ohio State Univeristy
        td.right-align
          | 205,645
        td.right-align
          | Kal-El
      tr
        td
          | 10
        td
          | Pennsylvania State University
        td.right-align
          | 201,345
        td.right-align
          | Bruce Wayne
      tr
        td
          | 11
        td
          | Purdue University
        td.right-align
          | 200,111
        td.right-align
          | Peter Parker
      tr
        td
          | 12
        td
          | University of Wisconsin-Madison
        td.right-align
          | 196,456
        td.right-align
          | Tony Stark


