extends layout

block scripts
  if (locals.user)
    script(type='text/javascript')
      var userId = '#{locals.user._id}';

  script(type='text/javascript')
    var maxPages = #{maxPages};

  script(type='text/javascript', src='/js/jquery-ui.min.js')
  script(type='text/javascript', src='/js/underscore-min.js')
  script(type='text/javascript', src='/js/backbone-min.js')


block content
  div.widget
    div.widget-header
      h3 College Standings
    div.widget-content
      
        div.row
          div.span3
            div.well
              ul.nav.nav-list#categories
                li.nav-header College Standings
                li.active
                  a.category#category-all All Colleges
                // if (locals.user)
                //  li 
                //    a.category#category-mine Your Universities
          div.span6#standings
            table.table.table-striped
              thead
                tr
                  th Rank
                  th College
                  th Points
              tbody.content
            div.pagination.pull-right: ul

  script#college-template(type="text/template")
    tr.college-entry
      td <%= rank %>
      td <%= display_name %>
      td <%= points %>

  script#category-template(type="text/template")
    li: a.category(id!="<%= _id %>")<%= name %>

  script(type='text/javascript', src='/js/standings.js')