extends new_layout

block scripts

block sidebar
  include includes/sidebar_colleges.jade

block content
  div.header
    h3
      div.dicon-edit
      | START A FUNDRAISER
  div.fundraiser_container.clearfix
    div.container.clearfix
      div.heading.clearfix
        | DESCRIPTION
      form(action='#')
        input(type='text', name='name', placeholder='Name of Fundraiser')
        textarea(name='description', placeholder='Fundraiser Description')
      a(href='start_fundraiser').black.back.clearfix
        div
          div.dicon-arrow-left
      a(href='start_fundraiser3').purple.small.clearfix
        div.continue
          div
            | Continue
          div.dicon-arrow-right


        




block template