extends new_layout

block scripts

block sidebar
  include includes/sidebar_colleges.jade

block content
  div.header
    h3
      div.dicon-edit
      | START A FUNDRAISER
  div.fundraiser_container.clearfix
    div.container.clearfix
      div.heading.clearfix
        | ADD MEDIA
      div.upload_image
        span
          | Upload Fundraiser Image
        div.image
      div.upload_video
        span
          | Link Fundraiser Video
        div.image
      a(href='start_fundraiser2').black.back.clearfix
        div
          div.dicon-arrow-left
      a(href='start_fundraiser4').purple.small.clearfix
        div.continue
          div
            | Continue
          div.dicon-arrow-right


        




block template