extends new_layout

block scripts

block sidebar
  include includes/sidebar_colleges.jade

block content
  div.header
    h3
      div.dicon-edit
      | START A FUNDRAISER
  div.fundraiser_container.clearfix
    div.container.clearfix
      div.heading.clearfix
        | TARGET
      form(action='#')
        input(type='text', name='name', placeholder='$ 1000.00')
      
      a(href='start_fundraiser4').black.back.clearfix
        div
          div.dicon-arrow-left
      a(href='start_fundraiser6').purple.small.clearfix
        div.continue
          div
            | Publish Fundraiser
          div.dicon-arrow-right


        




block template