extends new_layout

block scripts

block sidebar
  include includes/sidebar_colleges.jade

block content
  div.header
    h3
      div.dicon-edit
      | START A FUNDRAISER
  div.fundraiser_container.clearfix
    div.container.clearfix.large
      div.heading.clearfix
        | WHAT TO DO NEXT
      div.share_container
        div.image
        form(action='#').clearfix
          div.user-image
          input(type='text',name='share', value=' Donate to my fundraiser!')
          input(type='submit', name='submit', value='SEND')
          input(type='checkbox', id='facebook', value='Facebook')
          label(for='facebook')
            | Facebook
          input(type='checkbox', id='twitter', value='Twitter')
          label(for='twitter')
            | Twitter



        




block template