extends new_layout

block scripts

block sidebar
  include includes/sidebar_colleges.jade

block content
  div.header
    h3
      div.dicon-edit
      | START A FUNDRAISER
  div.fundraiser_container.clearfix
    div.container.clearfix
      div.heading.clearfix
        | SETTINGS
      
      
      a(href='start_fundraiser3').black.back.clearfix
        div
          div.dicon-arrow-left
      a(href='start_fundraiser5').purple.small.clearfix
        div.continue
          div
            | Continue
          div.dicon-arrow-right


        




block template