extends new_layout

block scripts

block sidebar
  include includes/sidebar_colleges.jade

block content
  div.header
    h3
      div.dicon-edit
      | START A FUNDRAISER
  div.fundraiser_container.clearfix
    div.container.clearfix
      div.heading.clearfix
        | CHOOSE COLLEGE
      div.university_select
        div.select
          select
            option
              | University of Michigan
            option
              | Stanford University
      div.fund_select.clearfix
        ul
          li.panel-small.clearfix
            div.left-tab
            div.right-tab
              | Select All
          li.panel-small.clearfix
            div.left-tab.green
              div.tick
            div.right-tab
              | General Fund
          li.panel-small.clearfix.purple
            div.left-tab
              div.dicon-user
            div.right-tab
              | Select Schools & Centers
          li.panel-small.clearfix
            div.left-tab.red
              div.cross
            div.right-tab
              | Business School
          li.panel-small.clearfix
            div.left-tab.green
              div.tick
            div.right-tab
              | Law School
          li.panel-small.clearfix
            div.left-tab
            div.right-tab
              | Medical School
      a(href='start_fundraiser2').purple.clearfix
        div.continue
          div
            | Continue
          div.dicon-arrow-right


        




block template