extends layout

block scripts


block content
  div.widget
    div.widget-header
        h3 Terms & Conditions
    div.widget-content.content-terms

      p Give To College is all about alums and supporters raising as much money as possible for colleges.  Give To College is the best way to show the world your charitable life, and put your rival colleges in their place through fun campaigns.   

      p Our lawyer insists that you read and agree to the Give To College Terms and Conditions. Here comes some real important stuff in bold text.

      p 
        strong These terms and conditions govern Give To College's relationship with you when you use the Give To College website, www.givetocollege.com ("site") and any services available on or through the site or otherwise provided by Give To College (collectively, the "services" or "services") by using or accessing the site, whether manually or through automated means, you agree to these Give To College terms and conditions ("terms"). These terms apply to you if you are a college, affiliated organization, donor or any other user of the site and/or services (collectively, "users" or "you"). If you choose to not accept these terms, we won't be mad at you but it means you can't use the Give To College site or the services. Since we don't ever want that to happen, be sure to contact us if you have any questions about anything in the world. No, really we mean it.  If you are wondering if you should ask a really hot girl out on a date, send us an email and we will advise you well.

      h2 Privacy 
      p In addition to reviewing these Terms, you should also read our 
        a(href="/privacy") Privacy Policy 
        to better comprehend how we collect and use your personal information. Your use of the Site and its Services constitutes your agreement to our Privacy Policy.



      h2 Our Partnerships with Network for Good and Stripe
      p Give To College has partnered with Network for Good and Stripe to make donating to your colleges of choice easy and seamless. All colleges and affiliated organizations have the option of either using Network for Good or Stripe™ to process donations made through the Site. However, if a charity does not affirmatively choose either Network for Good or Stripe™, then Network for Good will be used by default. The manner in which transactions are processed through either Network for Good or Amazon Payments™ is explained below.

      div.indent
        h3 Network for Good
        p Founded in 2001, Network for Good is a nonprofit organization headquartered in Bethesda, Maryland. When Network for Good processes a donation through the Site, it distributes the donation to the donor's chosen college. While your donation will be forwarded to the college of your choice, Network for Good will appear on your credit card statement. 

        p Network for Good, in technical terms, is treated as a "donor advised fund," a 501(c)(3) organization that collects contributions from donors and distributes such contributions to 501(c)(3) organizations in good standing with the IRS recommended by you, the donor. Network for Good is not a pass-through organization. It exercises exclusive legal control over the donations.

        p When you use the Site to make donations through Network for Good, you agree that: (i) your donations will be processed through Network for Good; (ii) Network for Good will remit funds to the designated college or affiliated entity (each a "College") less the Transaction Fees; and (iii) Give To College and Network for Good will send a thank you email and/or transaction receipt to all Donors.

        h3 Stripe
        p Some colleges may choose to have their donations processed through Stripe™. Stripe is a company that provides a safe means to process transactions online. Stripe is not affiliated with Give To College and is not permitted to share your financial information, such as credit card information, with Give To College without your consent. When you make a donation through Stripe, Give To College does not collect or store your credit card information. All donations processed through Stripe™ will be governed by the Stripe User Agreement and Stripe Privacy Notice. 


      h2 Rules for All Donations 
      p For all donations or event registrations made on or through the Site , all Users agree that: (i) they will not use an invalid or unauthorized credit or debit card or other payment method; (ii) they are solely responsible for selecting the correct College or Organization for fundraising, donating, volunteering, or registering; (iii) all donations to Colleges are made as unrestricted gifts and may not be specified for any particular purpose; (iv) designated donation and registration amounts and Processing Fees will be charged to the credit or debit card or other payment method you use through Network for Good or Stripe™; and (v) all donations are final and non-refundable.

      h2 Payments to Colleges through Network for Good
      p When Donors make donations to the Colleges through Network for Good, Network for Good sends payments to colleges on or around the 15th of each month that include all donations made in the previous month. For example, donations processed in October will be paid to the charities on or around November 15th. Charities will receive their payments less the Transaction Fees. These payment schedules are subject to change at any time at the sole discretion of Give To College. The money is sent to the address that the College has on file with GuideStar. Colleges will be responsible for taxes based on their net income or gross receipts.

      h2 Payments to Colleges through Stripe
      p If your College chooses to receive donations through their Stripe account, Donors will make their donations using Stripe’s trusted credit card processing service. The donation will be deposited in the Colleges' Stripe Account less the Stripe Transaction Fee per the Stripe User Agreement and less the Give To College Transaction Fee.  Colleges will have the funds in their bank accounts on a rolling 7 day basis for most credit card transactions. Colleges will be responsible for taxes based on their net income or gross receipts.

      h2 Fees for Donations
      p In order to ensure that Give To College does not go out of business and to provide you with the very best experience and customer service, Give To College charges certain fees for donations and event registrations made on or through the site. By using the Site and our Services, you agree to our Fees, which are further explained below.

      div.indent
        h3 What are the Transaction Fees on Donations?
        p When a donation is made through Give To College, a Transaction Fee is deducted from it so we don't go out of business. Our pricing is a flat 5.00% on donations. The College also pays credit card processing fees to Stripe which are 2.9% + $0.30 or less based on volume.  So on a $100 donation, $91.80 goes to the college.  We think you'll find that's really good pricing. We try to keep our pricing as low as possible so your donation can have the greatest possible impact. 

        p Transaction Fees cover Give To College's costs associated with developing, maintaining and hosting the Site, plus other value-added services so we can give you the best, most innovative college focused fundraising platform in the world. 

        p Compared to traditional ways of fundraising like sending direct mail or putting on a charity dinner, both of which we encourage you to keep doing if they work well, Give To College is an inexpensive and efficient way to raise additional money for Charity. 

        p If you have any questions, please email us at 
          a(href="mailto:support@givetocollege.com") support@givetocollege.com 
          and we will give you the greatest customer service in the world.

        h3 Chargebacks and Refunds on Donations
        p Occasionally, a donor may dispute a credit card charge for a donation through the Give To College Site.  The college has sole control over the donations and is responsible for issuing refunds and handling chargebacks. In the case of chargebacks, Give To College transaction fees are not refundable.  All issues concerning chargebacks and refunds will be addressed by the College, and not Give To College.

      h2 Ownership of the Site, Site Information and Services; Intellectual Property Rights
      p The Site and Services are expressly owned and operated by Give To College. Unless otherwise noted, the design and content features on the Site and Services, including without limitation, information and other materials, illustrations, product layout and design, icons, navigational buttons, images, artwork, graphics, photography, text, data, audio sound, software, URLs, and the like, as well as the selection, assembly and arrangement thereof (collectively, the "Site Information"), are owned by Give To College or its affiliates, if any, or are licensed by Give To College from third parties. The Site and Services, as a whole and in part, are protected by copyright, trademark, service mark, trade name, and other intellectual property and proprietary rights, and all other applicable rights are reserved. 


      p Unless otherwise provided through any other applicable terms and conditions to which you agree, no portion of the Site, Services or Site Information may be reprinted, republished, modified, or distributed in any form without Give To College's express written permission. You may not, and these Terms do not give you permission to, reproduce, reverse engineer, decompile, disassemble, modify, transmit, sell, distribute, license or create derivative works with respect to the Site Services or any of the Site Information.


      p Certain Site Information may be licensed from third parties and all such third party Site Information and all intellectual property and proprietary rights related to such third party Site Information belong to the respective third parties. You may not remove any copyright, trademark or other intellectual property or proprietary notice or legend contained on the Site, Services, or the Site Information and you must retain all copyright, trademark, service mark and other proprietary notices contained on the Site, Services or in the original Site Information on any authorized copy you make of the Site, Services or the Site Information. 

      p You agree not to sell or modify the Site, Services or the Site Information or reproduce, display, publicly perform, distribute, or otherwise use the Site or the Site Information in any way for any public or commercial purpose in any other manner that is likely to cause confusion among consumers, that disparages or discredits Give To College or our licensors, that dilutes the strength of Give To College's property or our licensor's property, or that otherwise infringes on Give To College's or our licensor's intellectual property rights. You further agree to in no other way misuse the Site or the Site Information. We reserve any rights not expressly granted by these Terms or any applicable end-user license agreements.

      h2 Site, Services and Site information Are Provided As Is; Use of Site
      p The Site Services and the Site Information are provided "as is" with all faults. Your use of the Site, Services, and the Site Information is at your own risk. The Site, Services or Site Information may contain errors or omission, or may be out of date. The Site, Services or Site Information may, without prior notice, change, be deleted or updated at any time.

      p You understand that Give To College cannot and does not guarantee or warrant that files, if any, available for downloading from the Site or through the Services will be free of infection or viruses or any other computer programming routines that may damage, detrimentally interfere with, surreptitiously intercept or expropriate any system, data or personal information (collectively, "Hazards").

      h2 Eligibility to Use the Site and the Services; Children
      p The Site and the Services are not intended for or directed to users under the age of 13. To register for any Services offered on Site, you must be 13 years of age or older. If you are under the age of 13, you only may use Site and Services with permission from your parents or guardians. Give To College does not knowingly collect personally identifiable information from users under the age of 13. Children under 13 should not send any information about themselves to Give To College. If a child under 13 submits information through any part of Site or Services, and Give To College becomes aware that the person submitting the information is a child, we will attempt to delete this information as soon as possible.

      h2 Accurate Information; Registration and Passwords; URLs
      p In consideration of your use of the Site and Services, you agree to: (a) provide accurate information as prompted on the Site or through the Services; and (b) maintain and update such information to keep it accurate. If you provide any information that is inaccurate, or Give To College has reasonable grounds to suspect that such information is inaccurate, Give To College may suspend or terminate your use of the Services and/or the Site and/or decline to permit your continued use of the Site and/or the Services and future access to the Site and/or the Services.

      p You may need a username and password to use certain features of the Site and Services and you may create certain URLs when you establish a profile page, project page or college. By selecting a user name and any particular URL you agree that you will not (i) select or use a name or e-mail address of another person with the intent to impersonate that person; (ii) use a name or e-mail address subject to the rights of any person without authorization; (iii) use a name in violation of the intellectual property rights of any person; or (iv) use a name that Give To College, in its sole discretion, deems inappropriate or offensive. You are responsible for maintaining the confidentiality of your password and account, and are responsible for all activities (whether by you or by others) that occur under your password or account. You will notify Give To College immediately of any unauthorized use of your password or account or any other breach of security. Give To College assumes no liability for any loss or damage arising from any unauthorized use of your password or account by a third party. Give To College has the right to reclaim any user names or URLs for any reason.

      h2 Acceptable and Lawful Use of Site
      p When you are using the Site and/or the Services, you acknowledge that you are responsible for all of your actions and that you may not engage in any behavior that violates these Terms. You may have the opportunity to post, stream, transmit or otherwise provide photos, videos, ideas, remarks, questions, data, graphics, opinions, designs, customizations, or other content (including information, if any, on message boards, friend feeds, comments or other forums on the Site (collectively "User Generated Content"). 

      p Any personal information, computer information, User Generated Content or other information that you provide to Give To College in connection with the use of the Site shall not: 
      ul
        li be obscene or indecent;
        li contain any Hazards;
        li infringe any third party's copyright, patent, trademark, trade secret or other proprietary rights or rights of publicity or privacy;
        li be defamatory, libelous, unlawfully threatening or unlawfully harassing; and create any liability for Give To College or cause us to lose (in whole or in part) the services of our Internet Service Provider(s), web hosting company or any other vendors or suppliers.

      p You shall comply with all applicable international, federal, state, local and any other applicable laws, statutes, ordinances and regulations regarding use of the Site and Services, including without limitation laws and regulations relating in any way to the sale or resale of tickets. 

      p This Site may include interactive features, including, but not limited to, message boards, friend feeds, web logs, email services, video, blogging, including without limitation, through third-party micro-blogging applications, and areas that allow for uploading or posting of User Generated Content (collectively, the "Interactive Features"). You are responsible for any material or User Generated Content that you post or otherwise provide on the Site or through the Services. We do not control the messages, information or files that you or others may provide through the Site or Services. When using the Interactive Features, you must not: 
      ul
        li engage in any conduct that, in Give To College's sole judgment and discretion, restricts or inhibits any other user from using or enjoying the Site or Services;
        li use the Site or Services to impersonate any person or entity, or falsely state or otherwise misrepresent your affiliation with a person or entity;
        li interfere with or disrupt any servers or networks used to provide the Site or Services or their respective features, or disobey any requirements of the networks Give To College uses to provide the Site or Services;
        li gain unauthorized access to the Site, or any account, computer system, or network connected to this Site or Services, by any unauthorized or illegal means;
        li obtain or attempt to obtain any materials or information not intentionally made available through the Site or Services;
        li use the Site or Services to post, transmit or in any way exploit any information, software or other material for commercial purposes, or that contains advertising, except that using the Site or Services for fundraising activities is expressly permitted;
        li engage in advertising or commercial solicitation of any product or service without Give To College's written consent, except that using the Site or Services for fundraising activities is expressly permitted;
        li gather for marketing purposes any email addresses or other personal information that has been posted by other users;
        li post any identification documents or sensitive information about another person.

      p Give To College shall have the right, but no obligation, to monitor the content on the Interactive Features to determine compliance with these Terms and any other operating rules we establish. Give To College shall have the right in its sole discretion to edit, refuse to post or remove any material submitted to or posted through the Interactive Features of the Site or Services. Notwithstanding this right, you shall remain solely responsible for the content of your messages and any User Generated Content. Give To College neither endorses nor is responsible for the accuracy or reliability of any opinion, advice or statement on the Interactive Features, whether it is provided by Give To College, our employees, or a third party. 

      p Under no circumstances will Give To College be liable for any loss or damage of any kind caused by reliance on information obtained through the Interactive Features of the Site or Services. Give To College is not responsible for any offensive, defamatory, obscene or any other posting made through the Interactive Features. We reserve the right at all times to disclose any information we believe necessary to satisfy any law, regulation or governmental request, or to refuse to post or to remove any information or materials, in whole or in part, that in Give To College's sole discretion is inappropriate, objectionable or in violation of these Terms. 

      p Any user who feels that a posted message is objectionable is encouraged to contact us immediately by email to 
        a(href="mailto:support@givetocollege.com") support@givetocollege.com
        . We have the ability to remove objectionable messages and we will make every effort to do so, within a reasonable time frame, if we determine that removal is necessary. This is a manual process, however, so please realize that we may not be able to remove or edit particular messages immediately. 

      p Neither Give To College nor any third party content provider shall assume or have any liability for any action or inaction by Give To College or any third party content provider with respect to any conduct, communication or posting on the message boards or other Interactive Features. 

      p Give To College is a provider of an interactive computing service as set forth in the Communications Decency Act, 47 U.S.C. §230 and expressly reserves its rights to not be treated as the publisher or speaker of any information provided by another information content provider on the Site or through the Services or Interactive Features.

      h2 Ownership of User Generated Content
      
      p You retain ownership to User Generated Content submitted on the Site or through the Services. However, by submitting your User Generated Content to Give To College, you hereby grant Give To College the following worldwide, royalty-free, non-exclusive, sub-licensable and transferable rights and licenses: 
      ul
        li to host, cache, store, archive, index, crawl, create algorithms based thereon, modify or transcode the User Generated Content to appropriate media formats, standards or mediums as part of the services Give To College provides;
        li to use, distribute, reproduce, modify, remix, excerpt, adapt, prepare derivative works of, publicly perform and publicly display the User Generated Content on the Site, including without limitation, in connection with any distribution or syndication arrangement thereof with third parties or third party sites, in any media format or medium and through any media channels; and
        li to use User Generated Content for advertising, promotional or commercial purposes, including without limitation, the right to publicly display, perform, reproduce and distribute your User Generated Content in any media format or medium and through any media channels.

      p By submitting User Generated Content for inclusion on the Site or through the Services, you also grant the following use of and rights to your User Generated Content to others: (i) the non-exclusive license to access your User Generated Content through the Site or Services; (ii) if permitted, the ability for Users to rate, review and comment on your User Generated Content; (iii) if permitted, the ability for Site Users to send and distribute your User Generated Content; and (iv) the non-exclusive license to Site Users to use, reproduce, distribute, remix, prepare derivative works of and compilations, display and perform your User Generated Content as permitted through the functionality of the Site and Services and under these Terms. The foregoing licenses granted by you shall terminate once you remove or delete your User Generated Content from the Site or Services. Please keep in mind though that even if you delete your User Generated Content from the Site or Services, it may still exist in back-up copies or if other people have made copies of it before it was deleted.

      p For information regarding use of personal information you provide or communicate to Give To College, please see our 
        a(href="/privacy") Privacy Policy.

      h2 Suspension or Termination of Your Use of the Site
      p Your failure to follow the requirements of these Terms may result in suspension or termination of your access to the Site or Services, without notice, in addition to Give To College's other remedies. Give To College further reserves the right to terminate, without notice and in its sole discretion, any user's access to or use of the Site for any reason. 

      h2 No Endorsement of Links to Other Web Sites
      p Any links to other websites are provided as merely a convenience to you. This Site and the Services may provide links or references to other websites but Give To College has not reviewed all of these other websites, has no responsibility for the content of such other websites and shall not be liable for any damages or injury arising from the content from these other websites. 

      p You understand that, except for information, products or services clearly identified as being supplied by Give To College, we do not operate, control or endorse any information, products or services on the Internet in any way. Give To College does not endorse or make any representations about these other websites, or any information or other products or materials found on these other websites, or any results that may be obtained from using these other websites. If you decide to access any of these other websites linked to this Site, you do so entirely at your own risk. 

      h2 Special Notices for Colleges
      p Give To College provides instructive emails to Colleges to assist them in more effectively using the Site and Services. Upon request from an authorized individual affiliated with a College, Give To College will provide online reports identifying, where available, the name, address, email and transaction accounting (including amount of donation) details related to the individuals or entities that have made donations to the nonprofit.

      h2 Data from GuideStar Concerning Colleges
      p You acknowledge that certain data available or otherwise accessible on or by means of the Site or Services concerning the list of United States based 501(c)(3) charities to which you may make a donation is provided by GuideStar USA, Inc. ("GuideStar"), a third party licensor of Give To College. For good and valuable consideration, the receipt and sufficiency of which is hereby acknowledged by you and Give To College, you acknowledge and agree that GuideStar (and its successors and assigns) is an intended third party beneficiary with full power and authority to enforce the provisions of these Terms only insofar as it relates to data provided by GuideStar. You agree that Give To College may share any information provided by you with GuideStar to the extent that GuideStar reasonably needs such data to enforce its rights related to your use of any GuideStar Data. 

      h2 Indemnification
      p You agree to indemnify, defend and hold Give To College and its affiliates, if any, officers, directors, employees and agents, harmless from and against any and all claims, demands, actions, costs, liabilities, losses and damages of any kind (including attorney's fees) resulting from (i) your use, misuse or abuse of the Site, Services or the Site Information, or (ii) your breach of any provision of these Terms. You will cooperate as fully as reasonably required in Give To College's defense of any claim. Give To College reserves the right, at its own expense, to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, and you shall not in any event settle any matter without Give To College's written consent.

      h2 DISCLAIMER OF WARRANTY AND LIMITATION OF LIABILITY
      p YOU ACKNOWLEDGE THAT YOU ARE USING THE SITE AND THE SERVICES AT YOUR OWN RISK. THE SITE, THE SITE INFORMATION AND THE SERVICES ARE PROVIDED "AS IS," AND TO THE FULL EXTENT PERMITTED BY APPLICABLE LAW, Give To College, ITS AFFILIATES AND SUBSIDIARIES, IF ANY, AND ITS THIRD PARTY SERVICE PROVIDERS, SUPPLIERS AND VENDORS HEREBY EXPRESSLY DISCLAIM ANY AND ALL WARRANTIES, EXPRESS AND IMPLIED, INCLUDING, WITHOUT LIMITATION, ANY WARRANTIES OF ACCURACY, COMPLETENESS OR RELIABILITY, TITLE, NONINFRINGEMENT, MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, OR ANY OTHER WARRANTY, CONDITION, GUARANTEE OR REPRESENTATION, WHETHER ORAL, IN WRITING OR IN ELECTRONIC FORM. Give To College, ITS AFFILIATES AND SUBSIDIARIES, IF ANY, AND ITS THIRD PARTY SERVICE PROVIDERS, SUPPLIERS, AND VENDORS DO NOT REPRESENT OR WARRANT THAT ACCESS TO THE SITE, THE SITE INFORMATION OR THE SERVICES WILL BE UNINTERRUPTED OR THAT THERE WILL BE NO FAILURES, ERRORS OR OMISSIONS, OR LOSS OR SECURITY BREACH OF TRANSMITTED INFORMATION, OR THAT NO VIRUSES WILL BE TRANSMITTED THROUGH ACCESS TO OR USE OF SITE, SERVICES OR SITE INFORMATION.

      p Give To College, ITS AFFILIATES AND ITS SUBSIDIARIES, IF ANY, AND ITS THIRD PARTY SERVICE PROVIDERS, SUPPLIERS, AND VENDORS SHALL NOT BE LIABLE TO YOU OR ANY THIRD PARTIES FOR ANY DIRECT, INDIRECT, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES ARISING OUT OF THESE TERMS, THE PROVISION OF SERVICES HEREUNDER, THE SALE OR PURCHASE OF ANY PRODUCTS, MERCHANDISE AND/OR SERVICES ORDERED THROUGH SITE, YOUR ACCESS TO OR INABILITY TO ACCESS THE SITE OR ITS SERVICES OR THE SITE INFORMATION, INCLUDING WITHOUT LIMITATION FOR VIRUSES ALLEGED TO HAVE BEEN OBTAINED FROM THE SERVICES, YOUR USE OF OR RELIANCE ON THE SERVICES, THE SITE INFORMATION OR MATERIALS AVAILABLE THROUGH THIRD PARTY SITES LINKED TO SITE, REGARDLESS OF THE TYPE OF CLAIM OR THE NATURE OF THE CAUSE OF ACTION, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.

      p SOME STATES DO NOT ALLOW THE EXCLUSION OF IMPLIED WARRANTIES OR THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE EXCLUSIONS OR LIMITATIONS MAY NOT APPLY TO YOU. YOU MAY ALSO HAVE OTHER RIGHTS THAT VARY FROM STATE TO STATE. 

      p YOU HEREBY AGREE TO RELEASE Give To College, ITS AFFILIATES AND SUBSIDIARIES, IF ANY, AND THIRD-PARTY SERVICE PROVIDERS, SUPPLIERS AND VENDORS AND EACH OF THEIR RESPECTIVE DIRECTORS, OFFICERS, EMPLOYEES, AND AGENTS FROM ANY AND ALL CLAIMS, DEMANDS AND DAMAGES (ACTUAL AND CONSEQUENTIAL) OF EVERY KIND AND NATURE, KNOWN AND UNKNOWN, SUSPECTED AND UNSUSPECTED, DISCLOSED AND UNDISCLOSED (COLLECTIVELY, "CLAIMS"), ARISING OUT OF OR IN ANY WAY CONNECTED WITH YOUR USE OF THIS SITE AND ITS SERVICES OR THE SITE INFORMATION. 

      h2 DISCLAIMER CONCERNING TAX DEDUCTIBLE NATURE OF DONATIONS
      p Give To College makes no representation as to whether all or any portion of your donations, including, if any, processing fees, (collectively, "Donations") are tax deductible. Give To College will have no liability for any claim by any federal, state, local or any other tax authority with respect to the characterization on any applicable tax return of any Donation by you, any Give To College user or any College. You should consult your tax advisor as to the amount of your Donation that is tax deductible, particularly if you are awarded a gift or prize in connection with your donation. Notwithstanding the above, by working with Network for Good, Stripe™, and Guidestar, Give To College provides a robust platform with access to over a million US-based 501(c)(3) charitable organizations so that you may make tax-deductible donations. 

      h2 The Security of the Site
      p Give To College maintains reasonable safeguards and personnel policies that are designed to guard the Site, the Services, our systems and our volunteers', fundraisers', donors' and Charities' information. For example, for the security of your online visit to the Site, Give To College may make use of firewall barriers, encryption techniques and/or authentication procedures. 

      p Unfortunately, no data transmission over the Internet can be guaranteed to be absolutely secure. As a result, while Give To College strives to protect your information, it cannot ensure or warrant the security of any Content you transmit to us, and you do so at your own risk. In the event of a breach of the confidentiality or security of your personal information, Give To College will notify you as necessary so you can take appropriate protective steps. Unless you indicate otherwise, we may notify you under such circumstances using the email address you provided to us when you registered with the Site. 

      h2 Electronic Communications
      p When you visit the Site, use the Services or send emails to Give To College, you are communicating with us electronically. You consent to receive communications from Give To College electronically. Give To College may communicate with you by email or by posting notices on the Site. You agree that all agreements, notices, disclosures and other communications that Give To College provides to you electronically satisfy any legal requirement that such communications be in writing. 

      h2 Jurisdiction and Governing Law
      p We make no representations that the Site, Site Information, the Services or products offered through Site are appropriate, available or legal in any particular location. Those who choose to access the Site, Site Information, or the Services and products offered through Site do so on their own initiative and are responsible for compliance with local laws, if and to the extent local laws are applicable. You agree that these Terms, for all purposes, shall be governed and construed in accordance with the laws of the State of Delaware and any action based on or alleging a breach of these Terms must be brought in a state or federal court located in Delaware, and both parties agree to submit to the exclusive personal jurisdiction and venue of such courts.

      h2 Site is for Use in the United States
      p The Site is hosted in the United States and is intended for users located in the United States. If you are a non-U.S. user of Site, by visiting the Site, using the Services and/or providing Give To College with any User Generated Content specifically or Content generally, you agree to comply with all federal and state U.S. laws governing the Site, the Services, online conduct and acceptable Content and User Generated Content. You further agree to comply with all applicable laws regarding the transmission of data exported from the United States or the country in which you reside.

      h2 Conflict with Other Agreements
      p These Terms are in addition to, and do not nullify, any other agreement between you and Give To College or any other applicable terms and conditions found on the Site. In the case of any direct conflict between these Terms and any other agreement between you and Give To College, the provisions of such other agreement shall control but only to extent applicable to the conflicting provisions. You agree to comply with all rules or restrictions that are posted on the Site. 

      h2 Digital Millennium Copyright Act; Copyright Complaints
      p Give To College respects the intellectual property rights of others and requires those that visit the Site and use our network to do the same. Give To College may, in appropriate circumstances and at our discretion, remove or disable access to material on the Site or our network that infringes upon the copyright rights of others. Give To College also may, at our discretion, remove or disable links or references to an online location that contains infringing material or infringing activity. In the event that any visitors to the Site or users of our network repeatedly infringe on others' copyrights, Give To College may in its sole discretion terminate those individuals' rights to use the Site or our network.

      p If you believe that your work has been used on our Site or network in any manner that constitutes copyright infringement, please notify Give To College's copyright agent by written notice. The notice should include the following information:
      ul
        li An electronic or physical signature of a person authorized to act on behalf of the owner of the copyright allegedly infringed;
        li A description of the copyrighted work you claim has been infringed, including a copy of the copyrighted work or the web page address where the copyrighted work may be found;
        li Identification of the location on the Site of the material you claim has been infringed, or the link or reference to another website that contains the material you claim has been infringed;
        li Your name, address, telephone number and email address;
        li A statement by you that you have a good faith belief that the disputed use of the material at issue is not authorized by the copyright owner, the agent of the copyright owner or the law; and
        li A statement by you that the information in this notification is accurate and a statement, under penalty of perjury, that you are the copyright owner of the material allegedly infringed or authorized to act on the copyright owner's behalf.

      h2 Policy Regarding Use of Give To College Trademarks
      p The trademarks, logos, and service marks ("Marks") displayed on the Site are registered trademarks of their respective owners, are the property of their respective owners, and/or are protected by U.S. and international trademark laws and/or common law. Their uses are restricted to programs, events, products or services that Give To College sponsors or with which we are otherwise affiliated. Give To College's trademarks may not be used for personal financial gain. Use of the Marks is prohibited without Give To College's express written consent except as permitted by applicable laws. Nothing contained on the Site should be construed as granting, by implication, estoppel, or otherwise, any license or right to use the Marks without Give To College's express written consent. 

      h2 Modification of the Terms
      p In Give To College's sole discretion, we may unilaterally amend or modify these Terms or any other documents referenced herein at any time by posting on the Site. The date of the most recent revision will appear at the top of this page. If Give To College has a working email contact for you and the changes to the Terms are material, Give To College may notify you of such changes by sending you an email to the address you have provided to us. Give To College encourages you to review these Terms periodically for any updates or changes. Any amended or modified terms will be effective upon posting, at the time set forth in an email notice to you or as otherwise decided in Give To College's sole discretion and as posted to the Site. Continued use of the Site constitutes acceptance of any modified terms and conditions. 

      p Give To College also reserves the right to post, from time to time, additional rules of usage that apply to specific parts of the Site, which may be posted in the relevant parts of the Site, and will be identified clearly and conspicuously. For example, Give To College may post additional rules to participate in a Promotion. Your continued use of the Site constitutes your agreement to comply with these additional rules.

      h2 Miscellaneous Other Provisions
      p The Mean Lawyer told us that these are standard terms in all contracts. Enjoy. 
      ul
        li In the event that one or more portions of these Terms shall, for any reason, be held to be unenforceable, the remaining portion will remain in full force and effect.
        li The headings used throughout these Terms are solely for convenience of reference and are not to be used as an aid in the interpretation of these Terms.
        li If Give To College fails to enforce any parts of these Terms, it will not be considered a waiver.
        li These Terms make up the entire agreement between you and Give To College regarding the Site and supersede any prior agreements.
        li These Terms do not confer any third party beneficiary rights.
        li You will not transfer any of your rights or responsibilities under these Terms to anyone without Give To College's express written permission.
        li Give To College may, at any time, assign our rights or delegate our obligations hereunder without notice to you in connection with a merger, acquisition, or sale of assets, or by operation of law or otherwise.
        li Nothing in these Terms shall prevent Give To College from complying with the law.

      p If you have any questions about these Terms, contact us at 
        a(href="mailto:support@givetocollege.com") support@givetocollege.com
        .