extends new_layout

block scripts

block sidebar
  include includes/sidebar_colleges.jade

block content
  div.body-main
    div.main-container.clearfix
      div#campaigns-list.clearfix
        div.campaign.margin-long
          div.campaign-container
            div.heading.bold
              | RECRUIT FRIENDS
            div.dicon-friends
            div.campaign-info
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent auctor malesuada 
            div.campaign-details
              div.stats
                div.info-panel
                  span.number
                    | 5/5
                  span.small
                    | Badges
                div.info-panel
                  span.number
                    | 100
                  span.small
                    | Points
          a(href='#').pink
            div.donate.start-campaign
              span
                | START CAMPAIGN
        div.campaign.margin-long
          div.campaign-container
            div.heading.bold
              | DONATE TO COLLEGE
            div.dicon-noun_project_285
            div.campaign-info
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent auctor malesuada 
            div.campaign-details
              div.stats
                div.info-panel
                  span.number
                    | 2/6
                  span.small
                    | Badges
                div.info-panel
                  span.number
                    | 55
                  span.small
                    | Points
          a(href='#').green
            div.donate.start-campaign
              span
                | START CAMPAIGN
        div.campaign.margin-long
          div.campaign-container
            div.heading.bold
              | MAKE A PLEDGE
            div.dicon-gift
            div.campaign-info
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent auctor malesuada 
            div.campaign-details
              div.stats
                div.info-panel
                  span.number
                    | 2/8
                  span.small
                    | Badges
                div.info-panel
                  span.number
                    | 45
                  span.small
                    | Points
          a(href='#').maroon
            div.donate.start-campaign
              span
                | START CAMPAIGN
        div.campaign.margin-long.locked
          div.campaign-container
            div.heading.bold
              | START FUNDRAISER
            div.dicon-edit
            div.campaign-info
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent auctor malesuada 
            div.campaign-details
              div.stats
                div.info-panel
                  span.number
                    | 0/8
                  span.small
                    | Badges
                div.info-panel
                  span.number
                    | 0
                  span.small
                    | Points
          a(href='start_fundraiser').purple
            div.donate.start-campaign
              span
                | START CAMPAIGN
  div.header
    h3
      | FEATURED FUNDRAISERS
   div.body-main
    div.main-container.clearfix
      div.carousel-arrow.dicon-arrow-left
      div#campaigns-list.clearfix
        div.campaign.margin-long
          div.campaign-container
            div.heading.clearfix
              | UNIVERSITY OF MICHIGAN
            div.campaign-image
            div.campaign-name.clearfix
              div.user
              div.name
                | STUDY CENTER
                small
                  | by Suvonil Chatterjee
            div.campaign-info
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent aucto malesuada
            div.campaign-details.clearfix
              div.progress
                div.bar(style='width:48%')
              div.info-panel
                span.number.left
                  | $3500
                span.small.left
                  | Target
              div.info-panel
                span.number
                  | 48%
                span.small
                  | Funded
              div.info-panel
                span.number.right
                  | 72
                span.small.right
                  | Donors
          a(href='#',data-toggle='tooltip',data-placement='top',title='$87.2K LEFT TO REACH GOAL').green.tool
            div.donate
              span.dicon-noun_project_285
              span
                | DONATE NOW
        div.campaign.margin-long
          div.campaign-container
            div.heading.clearfix
              | UNIVERSITY OF MICHIGAN
            div.campaign-image
            div.campaign-name.clearfix
              div.user
              div.name
                | STUDY CENTER
                small
                  | by Suvonil Chatterjee
            div.campaign-info
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent aucto malesuada
            div.campaign-details.clearfix
              div.progress
                div.bar(style='width:40%')
              div.info-panel
                span.number.left
                  | $3500
                span.small.left
                  | Target
              div.info-panel
                span.number
                  | 48%
                span.small
                  | Funded
              div.info-panel
                span.number.right
                  | 72
                span.small.right
                  | Donors
          a(href='#',data-toggle='tooltip',data-placement='top',title='$87.2K LEFT TO REACH GOAL').green.tool
            div.donate
              span.dicon-noun_project_285
              span
                | DONATE NOW
        div.campaign.margin-long
          div.campaign-container
            div.heading.clearfix
              | UNIVERSITY OF MICHIGAN
            div.campaign-image
            div.campaign-name.clearfix
              div.user
              div.name
                | STUDY CENTER
                small
                  | by Suvonil Chatterjee
            div.campaign-info
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent aucto malesuada
            div.campaign-details.clearfix
              div.progress
                div.bar(style='width:40%')
              div.info-panel
                span.number.left
                  | $3500
                span.small.left
                  | Target
              div.info-panel
                span.number
                  | 48%
                span.small
                  | Funded
              div.info-panel
                span.number.right
                  | 72
                span.small.right
                  | Donors
          a(href='#',data-toggle='tooltip',data-placement='top',title='$87.2K LEFT TO REACH GOAL').green.tool
            div.donate
              span.dicon-noun_project_285
              span
                | DONATE NOW
        div.campaign.margin-long
          div.campaign-container
            div.heading.clearfix
              | UNIVERSITY OF MICHIGAN
            div.campaign-image
            div.campaign-name.clearfix
              div.user
              div.name
                | STUDY CENTER
                small
                  | by Suvonil Chatterjee
            div.campaign-info
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent aucto malesuada
            div.campaign-details.clearfix
              div.progress
                div.bar(style='width:40%')
              div.info-panel
                span.number.left
                  | $3500
                span.small.left
                  | Target
              div.info-panel
                span.number
                  | 48%
                span.small
                  | Funded
              div.info-panel
                span.number.right
                  | 72
                span.small.right
                  | Donors
          a(href='#',data-toggle='tooltip',data-placement='top',title='$87.2K LEFT TO REACH GOAL').green.tool
            div.donate
              span.dicon-noun_project_285
              span
                | DONATE NOW
      div.carousel-arrow.dicon-arrow-right

block templates
  | <script type='text/javascript'>
  | $(document).ready(function () {
  | $('.tool').tooltip();
  | var options={
  | delay:{
  | show:0,
  | hide:0
  | }
  | };
  | $('.tool').tooltip(options);});
  | </script>
