extends signinlayout

block content
	h1
		span.logo
	p.description Reset Password
	section
		p Something bad happened when resetting your password, please try again.
		
		p.goback   
			a(href="javascript:history.go(-1)") Go Back