extends signinlayout

block content
	h1
		span.logo
	p.description Forgot Password
	section
		p An email has been sent with instructions on how to reset your Give To College password.
		p.goback Let's try logging in again.  
			a(href="../../login") Sign In
