extends layout

block scripts
  script(type='text/javascript')
    var GiveToCollege = GiveToCollege || {};
    GiveToCollege.error = !{JSON.stringify(error)};
    GiveToCollege.success = !{JSON.stringify(success)};
    $(document).ready(function() {
      GiveToCollege.handleErrorMessages();
      GiveToCollege.handleSuccessMessages();
    });

  script(type='text/javascript')
    var userId = '#{user._id}';

  script(type='text/javascript', src='/js/jquery-ui.min.js')
  script(type='text/javascript', src='/js/underscore-min.js')
  script(type='text/javascript', src='/js/backbone-min.js')

block append css
  style(type='text/css')
    #success-message,
    #info-message,
    #error-message {
      display: none;
    }

block content

  div.widget
    div.widget-header
        h3 Settings
    div.widget-content.content-terms
      div
        div#messages
          div#success-messages
          div#error-messages
          div#info-messages

        div#connect
        - if (user.loginType == 'email')
          div#change_password
          form.form-well(method='POST', action='changepassword')
            h1 Change Password
            div.control-group
              label.control-label(for='password')
                input(type='password', name='password', id='password', placeholder='Old Password', value='')
            
              label.control-label(for='new_password')
                input(type='password', name='new_password', id='new_password', placeholder='New Password', value='')
      
              label.control-label(for='retype_password')
                input(type='password', name='retype_password', id='retype_password', placeholder='Retype New Password', value='')
            button.btn(type='submit', value='Update') Change Password