extends signinlayout

block append scripts
  - if (errors)
    script(type='text/javascript')
      var GiveToCollege = GiveToCollege || {};
      GiveToCollege.error = !{JSON.stringify(errors)};

  script(type='text/javascript', src='/js/jquery-ui.min.js')
  script(type='text/javascript', src='/js/register.js')

block content
    h1 
      span.logo
    p.description Sign Up with Email
    section
      form(id='registerForm', action='create', method='post')
        div.row-fluid
          div.span12
            div#errors
        div.row-fluid
          label(name='fullName')
            input.input.span12(name='fullName', type='text', id='fullName', placeholder='Full Name', value='#{input.fullName || ''}')
            span(id='n-valid')
        div.row-fluid
          label(name='school_name')
            input.input.span12(name='school_name', type='text', id='school_name', placeholder='College Affiliation', value='#{input.school_name || ''}')
            p.help-block College affiliation optional  
        div.row-fluid
          label(name='email')
            input.input.span(name='email', type='text', id='email', placeholder='Email', value='#{input.email || ''}', autocomplete='off')
            span(id='e-valid')
        div.row-fluid
          label(name='password')
            input.input.span12(name='password', type='password', id='password', placeholder='Password')
            span(id='p-valid')

        div.row-fluid
          div.span4
            small
              p.goback Been here before? 
                a(href='../login') Sign In
          div.span3.offset1
            a(href="javascript:history.go(-1)"): small Go Back
          div.span4
            button.btn-primary.btn-large(type='submit') Sign Up
        div.row-fluid

