extends layout

block scripts
  script(type='text/javascript')
    var userId = '#{userId}';
    var editable = #{editable};

  script(type='text/javascript', src='/js/jquery-ui.min.js')
  script(type='text/javascript', src='/js/underscore-min.js')
  script(type='text/javascript', src='/js/backbone-min.js')
  script(type='text/javascript', src='/js/backbone-nested.min.js')

block append css
  style(type='text/css')
    #no-organizations,
    #organization-entry {
      display: none;
    }
    #messages div {
      display: none;
    }
    label {
      font-size: 0.8em;
    }

    #first input,
    #last input,
    #city input {
      text-transform: capitalize;
    }

block content
  div.widget
    div.widget-header
        h3 Profile Information
    div.widget-content.content-terms
        div#messages
            div#success-messages
            div#error-messages
            div#info-messages

        div#profile

        script#user-editable-template(type="text/template")
          div(id!="<%= _id %>")
            
            div.control-group.row-fluid
              div.controls.span6
                h1 General Information
                label.control-label(for='first') First Name:
                div#first.user-field
                input.input.span12.edit(type="text", name="first", placeholder="First Name", value!="<%= first %>")
                label.control-label(for='last') Last Name:
                div#last.user-field
                  input.input.span12.edit(type="text", name="last", placeholder="Last Name", value!="<%= last %>")
                label.control-label(for='email') Email:
                div#email.user-field
                input.input.span12.edit(type="text", name="email", placeholder="Email Address", value!="<%= email %>")
                label.control-label(for='dob') Date of Birth:
                div#dob.user-field
                  input.input.span12.edit(type="text", name="dob", placeholder="Date of Birth: MM/DD/YYYY", value!="<%= dob %>")
              div.controls.span6
                h1 Mailing Address
                label.control-label(for='street1') Street:
                div#street1.mailing-address-field
                  input.input.span12.edit(type="text", name="street1", placeholder="Street Address", value!="<%= mailing_address.street1 %>")
                label.control-label(for='street2') Apt/Suite #:
                div#street2.mailing-address-field
                  input.input.span12.edit(type="text", name="street2", placeholder="Apartment/Suite Number", value!="<%= mailing_address.street2 %>")
                div.row-fluid
                  div.span5
                    label.control-label(for='city') City:
                    div#city.mailing-address-field
                      input.input.span12.edit(type="text", name="city", placeholder="City", value!="<%= mailing_address.city %>")
                  div.span2
                    label.control-label(for='state') State:
                    div#state.mailing-address-field
                      input.input.span12.edit(type="text", name="state", placeholder="State", value!="<%= mailing_address.state %>")
                  div.span5
                    label.control-label(for='zip') Zip:
                    div#zip.mailing-address-field
                      input.input.span12.edit(type='text', name='zip', placeholder='Zip Code', value!="<%= mailing_address.zip %>")
            div.row-fluid
              button.btn.pull-right#update-profile(type="button") Update
            hr
            div.control-group.row-fluid
              div#roles.controls.span12
                h1 Colleges
                table#user-roles.table
                  thead
                    tr
                      th.span11(colspan=2) You are part of the following colleges:
                    tbody
                      tr#no-organizations
                        td(colspan=2) You are not a part of any colleges.
                      tr#organization-entry
                        td
                          input.input.span12(type='text', placeholder='Enter College Name')
                        td
                          button#organization-entry-button.btn.btn-success
                            i.icon-plus.icon-white
                      tr.add-organization
                        td(colspan=2)
                          a#add-organization Join a College

        script#role-editable-template(type="text/template")
          tr.role(id!="user-<%= _id %>")
            td
              span <%= display_name %>
            td
              button.btn.btn-danger.remove-organization
                i.icon-remove.icon-white


        script#user-readonly-template(type="text/template")
          div To be implemented

        script#role-readonly-template(type="text/template")
          li.role(id!="user-<%= _id %>")
            span <%= name %>

        script#admin-template(type="text/template")
          h1 Admin Privileges
          table#admin-roles.table
            thead
              tr
                th
                  | You have administrative access to the following colleges:
                th
            tbody

        script(type='text/javascript', src='/js/profile.js')