extends layout

block content
  searchLink = "";
  if (locals.search)
    searchLink = "&search=" + search;
  div.span12
    div.row
      div.span6
        div.pagination
          ul
            if(previousPage>=0)
              li: a(href='/user/list?page='+previousPage+searchLink) Prev
            else
              li: a(href='#') Prev
            if(page>0)
              li: a(href='/user/list?page=0'+searchLink) First
              li: a(href='#') ...
            li.active: a(href="#") #{page}
            if(page<numberOfPages)
              li: a(href='#') ...
              li: a(href='/user/list?page='+numberOfPages+searchLink) Last
            if(nextPage)
              li: a(href='/user/list?page='+nextPage+searchLink) Next
            else
              li: a(href='#') Next
      div.span6
        form.well.form-search
          if(locals.search)
            input.text(type="text", name="search", class="input-medium search-query", value=search)
          else
            input.text(type="text", name="search", class="input-medium search-query")
          button.btn(type="submit") Search
    table.table.table-striped
      thead
        tr
          th Email
          th First Name
          th Last Name
      each user in users
        tr
          td #{user.email}
          td #{user.first}
          td #{user.last}
          - var linkEdit = '/user/update/' + user._id
          td: a.btn.btn-success(href=linkEdit) Edit
