doctype 5
html
  head
    meta(charset="utf-8")
    title= campaign.title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    | <meta name="description" content="Give To College is the best way to raise funds, and donate to colleges in a fun and rewarding manner - are you ready to compete?">

    block js
      script(type='text/javascript', src='/js/jquery-1.7.2.min.js')
      script(type='text/javascript', src='/js/bootstrap.js')

    block scripts

    block css
      link(rel='stylesheet', href='/css/bootstrap.css')
      link(rel='stylesheet', href='/css/bootstrap-responsive.css')
      link(rel='stylesheet', href='/css/styles.css')
      link(rel='stylesheet', href='/css/jquery.css')
      style(type="text/css")
        body {
          background-color: white;
          background: none;
        }
    | <link rel="shortcut icon" type="image/x-icon" href='/img/favicon.ico'> 


  body
    div.container
      block content

  block templates

    // Scripts Added At The End - Google Analytics
    | <script>var _gaq=[['_setAccount','UA-28632444-1'],['_trackPageview']];
    | (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    | g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    | s.parentNode.insertBefore(g,s)}(document,'script'));</script>