/* Reset CSS */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}

/* Accessibility Navigation & Hide */
#accessibility-nav,.hide{position:absolute;top:-999em;left:-999em;height:1px;width:1px}
.hidden{display:none !important}

/* Clearfix */
.clearfix:after, #header .inner:after, #navigation ul:after, .search-box:after, .pagination:after, .wrapper-content:after, #content:after, .figure-row:after, .figure-featured:after, .thing-section .wrapper-actions:after, .footer-nav:after, .page-deal-finished .summary:after, .page-deal-finished .details li:after, .page-deal-finished .gallery:after, .page-deal-create form .row:after, .notifications.altered .row:after, .deals .figure-product .remaining:after, .deal-buy .item:after, .deal-buy .process ul:after, .deal-buy form .row:after, .deal-buy form .row .cards:after, .deals .button-container:after, .deals .gallery .items:after, #showpopup .button-container:after, .fancy-popup:after, .fancy-popup .inner:after, .fancy-popup fieldset:after, .browse-alternate .follow-section:after, .browse .content-wrapper .listings:after{content:'.';display:block;visibility:hidden;clear:both;height:0}
.clear {clear:both;}

/* Default Style */
body,input,select,button,textarea,select,p,a,label{margin:0;padding:0;vertical-align:baseline}
textarea{overflow:auto}
button{cursor:pointer}
fieldset{text-align:left}
a,a:visited{text-decoration:none;color:#1f518e;cursor:pointer}
a:hover,a:active,a:focus{text-decoration:underline}
html {background:#eef0f6 url(../img/bg_body.png) repeat 50% 0;}
body {font:75%/1.25 "Helvetica Neue", Helvetica, Arial, sans-serif;color:#373d48;}
hr {display:none;}
strong, h1, h2, h3 {font-weight:bold;}
em {font-style:italic;}
del {text-decoration:line-through;}
th, td {vertical-align:top;}
th {font-weight:normal;text-align:left;}
address, cite, dfn {font-style:normal;}
abbr, acronym {border-bottom:1px dotted #999;cursor:help;}
.left {float:left;}
.right {float:right;}
h1 {margin:0 0 10px 0;padding:0 0 7px 0;border-bottom:1px solid #eceef4;font-size:18px;line-height:24px;}
h1:first-child {margin-top:-6px;}
.loading h1 {margin-bottom:4px;padding-bottom:13px;font-size:15px;}
h2 {padding:0 0 10px 0;font-size:15px;line-height:24px;}
h2.msg {text-align:center;}
p {padding:0 0 10px 0;font-style:normal;font-size:13px;line-height:18px;}
img.right {margin:-10px 0 0 18px;}


/* 1x default */
a.button.fancy span i, a.button.fancyd span i, a.button.follow span, a.button.following span, a.button.following:hover span, #notification-bar a.add {background: transparent url(../images/common/buttons_sprite.png) no-repeat;background-size:98px 300px;}
.follow-twitter {background: transparent url(../images/common/sprites.png) no-repeat;background-size:1000px 1560px;}
a.button.fancy.loading span i, a.button.fancyd.loading span i {background: transparent url(../images/common/spinner.png) no-repeat;background-size:22px 22px;}
.app .device p span {background: transparent url(../images/common/app.png) no-repeat;background-size:191px 230px;}
.notifications i.icon {background:transparent url(../images/common/icon-activity.png) no-repeat;background-size:23px 202px;}
#header .site-name span, .fig-image .timeline em .ic-date, .notification-item .activity-reply .btn-reply .ic-reply, .followers-listing li .ic-lock, .ic-share, .ic-time, .search-box .trigger span, .thing-section .input-number a, .comments-list li [class^="ic-"], #fancy-share .share-via li [class^="ic-"], .tooltip .ic-i, .invite-credit .bonus .btn-tip, .sign.new-i button.btn-f span, .sign.new-i button.btn-t span, .sign.new-e .signup-step1 .buttons .btn-f .ic-fb, .sign.new-e .signup-step1 .buttons .btn-t .ic-tw, .social-accounts li .ic-account-tw, .social-accounts li .ic-account-fb, .social-accounts li .ic-account-rss, .vcard .ic-account-ver, .vcard .ic-account-tr, .message .msg .ic-reply, .message .msg .ic-online, .message .msg .btn .btn-del, .message .ic-plus, .btn-green-gift .ic-gift, .gift-thing .link .ic-link, .gift-report .ic-flag, .gift-destination .shipped .ic-fb, .btn-blue-gift .ic-gift, .ic-del-black, .gift-campaign .ic-i, .add-to-list-new .list-categories .ic-gift, .gift-pay-option .link .ic-link, .gift-security .security-notify .ic-lock, .gift-method small .ic-i, .gift-contribution .box-gray button.plus, .gift-contribution .box-gray button.minus, .gift-faq dt i, #lang_popup .btn-add .ic-lang, .sign.new .error .icon, .sign.new2 .error .icon, .sign.new-e .error .icon, .sign.new-p .error .icon, .sign.new-t .error .icon, .sign.new-f .error .icon, .sign.new-i .error .icon, #lang_link i, .fancy-close-x i.ic-close-x, .btn-blue-gift .ic-gift, #navigation-new .ic-gift, .gift-banner-st1 .ic-gift, .gift-recommend .btn-f .ic-fb, a.btn-campaign i.ic-gift, .gift-banner .ic-gift, #cart .ic-cart, a.icon, i.icon, .social-accounts li .ic-account-tr, .thing-info a i, #sidebar .greencart .ic-cart, .fig-image .timeline em .ic-time, .cart-list.chept2 .card-payment .hotel-booking-left dd.select-card label, .drag-handle, .person-lists a.organize .ic-organize, .catalog-lists #content .list-creator a.settings .ic-list, .catalog-lists #content .list-creator a.organize .ic-organize, .greenbook .ic-book, .hotel-section .hotel-form dd label i, .thing-section a.report-link  .ic-report, .affiliate .blue-box p .ic-share {background:transparent url(../images/common/icon.png) no-repeat;background-size:800px 800px;}

/* 2x image for ipad */
@media screen and (-webkit-min-device-pixel-ratio:2){
	a.button.fancy span i, a.button.fancyd span i, a.button.follow span, a.button.following span, a.button.following:hover span, #notification-bar a.add {background: transparent url(../images/common/buttons_sprite2x.png) no-repeat;background-size:98px 300px;}
	.follow-twitter {background: transparent url(../images/common/sprites2x.png) no-repeat;background-size:1000px 1560px;}
	a.button.fancy.loading span i, a.button.fancyd.loading span i {background: transparent url(../images/common/spinner2x.png);background-size:22px 22px;}
	.app .device p span {background: transparent url(../images/common/app2x.png);background-size:191px 230px;}
	.notifications i.icon {background:transparent url(../images/common/icon-activity2x.png);background-size:23px 202px;}
	#header .site-name span, .fig-image .timeline em .ic-date, .notification-item .activity-reply .btn-reply .ic-reply, .followers-listing li .ic-lock, .ic-share, .ic-time, .search-box .trigger span, .thing-section .input-number a, .comments-list li [class^="ic-"], #fancy-share .share-via li [class^="ic-"], .tooltip .ic-i, .invite-credit .bonus .btn-tip, .sign.new-i button.btn-f span, .sign.new-i button.btn-t span, .sign.new-e .signup-step1 .buttons .btn-f .ic-fb, .sign.new-e .signup-step1 .buttons .btn-t .ic-tw, .social-accounts li .ic-account-tw, .social-accounts li .ic-account-fb, .social-accounts li .ic-account-rss, .vcard .ic-account-ver, .vcard .ic-account-tr, .message .msg .ic-reply, .message .msg .ic-online, .message .msg .btn .btn-del, .message .ic-plus, .btn-green-gift .ic-gift, .gift-thing .link .ic-link, .gift-report .ic-flag, .gift-destination .shipped .ic-fb, .btn-blue-gift .ic-gift, .ic-del-black, .gift-campaign .ic-i, .add-to-list-new .list-categories .ic-gift, .gift-pay-option .link .ic-link, .gift-security .security-notify .ic-lock, .gift-method small .ic-i, .gift-contribution .box-gray button.plus, .gift-contribution .box-gray button.minus, .gift-faq dt i, #lang_popup .btn-add .ic-lang, .sign.new .error .icon, .sign.new2 .error .icon, .sign.new-e .error .icon, .sign.new-p .error .icon, .sign.new-t .error .icon, .sign.new-f .error .icon, .sign.new-i .error .icon, #lang_link i, .fancy-close-x i.ic-close-x, .btn-blue-gift .ic-gift, #navigation-new .ic-gift, .gift-banner-st1 .ic-gift, .gift-recommend .btn-f .ic-fb, a.btn-campaign i.ic-gift, .gift-banner .ic-gift, #cart .ic-cart, a.icon, i.icon, .social-accounts li .ic-account-tr, .thing-info a i, #sidebar .greencart .ic-cart, .fig-image .timeline em .ic-time, .cart-list.chept2 .card-payment .hotel-booking-left dd.select-card label, .drag-handle, .person-lists a.organize .ic-organize, .catalog-lists #content .list-creator a.settings .ic-list, .catalog-lists #content .list-creator a.organize .ic-organize, .greenbook .ic-book, .hotel-section .hotel-form dd label i, .thing-section a.report-link  .ic-report, .affiliate .blue-box p .ic-share {background:transparent url(../images/common/icon2x.png);background-size:800px 800px;}
}


/* round-corner */
.rounded-4 {border-radius:4px}

/* box shadow */
.box-shadow-1 {box-shadow:0 1px 1px rgba(0,0,0,.1)}

/* Icons */
a.icon,i.icon {display:inline-block;overflow:hidden;text-indent:-999em}
.icon.slideshow_{width:15px;height:9px;background-position:-228px -226px;}
a:hover .icon.slideshow_{background-position:-228px -202px}
.icon.customize_{width:9px;height:9px;background-position:-158px -232px}
a:hover .icon.customize_{background-position:-114px -199px}
.icon.avatar_plus_{width:45px;height:43px;background-position:-335px -310px}
.icon.close_{width:9px;height:9px;background-position:-29px -47px;opacity:0.7;filter:alpha(opacity=70);}
.icon.close_:hover {opacity:1;filter:alpha(opacity=100);}

/* Buttons */
.bttn,.bttn:visited,.bttn:hover,.bttn:active,.bttn:focus {display:inline-block;padding:10px 12px;border:0;border-radius:3px;white-space:nowrap;color:#fff;font-size:13px;font-weight:bold;text-decoration:none}
.bttn.blue {background:#4380c9}

/* Invitation reminder */
#invitation-reminder {position:relative;background:#fff;margin:0 0 15px 70px;padding:16px;color:#999}
#invitation-reminder p {margin:0 150px 0 64px;padding:0;line-height:1}
#invitation-reminder strong {display:block;font-size:16px;color:#444;line-height:1.4}
#invitation-reminder .bttn {float:right}
#invitation-reminder .close_ {position:absolute;top:9px;left:9px}
#invitation-reminder .avatar_plus_ {position:absolute;top:15px;left:23px}
.cart-list #invitation-reminder {width:580px;border:1px solid #eee;margin:-10px auto 30px}

/* Teaser */
.teaser{padding:30px 20px 0;margin-left:70px}
.teaser h1{font-size:32px;line-height:1.1;margin:0}
.teaser p{font-size:18px;line-height:1.2;color:#8a8f9c}


/* 1.5 Image replacement-- */
.ir {position:relative;overflow:hidden;padding:0;}
.ir span {display:block;position:absolute;top:0;left:0;width:100%;height:100%;overflow:hidden;}

/* 1.6 Rounded corner-- */
.rounded-corner, .search-box .search .wrapper-text, #navigation li li a, #content, .wrapper-content, .btn, .btn-fancy, .btn-fancyd, .btn-previous, .btn-next, .btn-more, .stream .vcard img, .teaser .secondary, .teaser .join-now, .signup-message strong, .followup-message, .vcard img, .sign form img, .thing .figure-row .user img, .setting-form .user-photo img, .add-2 .pic_preview img, .search-box .search .btn-submit, .page-deal-processing strong, .page-deal-finished strong, .page-deal-finished .gallery li img, .deals .figure-product .view-deal, .deal-buy .process, .gallery .enlarge, #showpopup .unlock, .content-wrapper {-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}

/* 1.7 Buttons-- */
a.follow-link, a.follow-link:visited, a.following-link, a.following-link:visited {font-size:13px;color:#588cc7;text-decoration:none;outline:none;}
a.follow-link:hover, a.follow-link:active, a.follow-link:focus, a.following-link:hover, a.following-link:active, a.following-link:focus {color:#1f518e;}
a.button {display:inline-block;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;height:22px;padding:9px 0;width:200px;color:#fff;font:bold 18px/22px 'Helvetica Neue', Helvetica, Arial, sans-serif;text-decoration:none;}
.remove_me {background:url(../images/common/checkmark.png) no-repeat left top;color:transparent;display:block;top:72px;margin-left:-27px;left:50%;position:absolute;text-indent:-9999px;text-transform:uppercase;height:54px;width:54px;}
a.button span {display:inline-block;margin:0 0 0 12px;}
a.button.follow span, a.button.follow:hover span, a.button.following span, a.button.following:hover span {height:40px;margin-left:0;width:40px;margin-right:10px;}
a.button.fancy, a.button.fancyd { line-height:45px;height:45px;width:auto;min-width:75px;padding:0 15px 0 60px;margin:-23px 0 0 -75px ;}
a.button.fancy { background-color:#588cc7 ;}
a.button.fancy:hover { background-color:#467abe ;}
a.button.fancyd { background-color:#71b950 ;}
a.button.fancy span, a.button.fancyd span {position:absolute;top:0;left:0;width:45px;height:45px;margin:0 10px 0 0;border-right:1px solid;border-radius:4px 0 0 4px;}
a.button.fancy span {background-color:#3e73b7;border-right-color:#3161a8;}
a.button.fancyd span {background-color:#5aa534;border-right-color:#4a9528;}
a.button.fancy span i, a.button.fancyd span i {display:inline-block;margin:10px 0 0 0;height:28px;width:45px;}
a.button.fancy span i { background-position:14px -114px ;}
a.button.fancyd span i { background-position:16px -157px ;}
a.button.fancyd:hover span i { background-position:16px -238px ;}
a.button.fancy.loading span i { background:transparent url(../images/common/ajax-loader_3e73b7_16x16.gif) no-repeat 16px 5px ;}
a.button.fancyd.loading span i { background:transparent url(../images/common/ajax-loader_5aa534_16x16.gif) no-repeat 16px 5px ;}
a.button.follow span {float:left;border-radius:3px 0 0 3px;width:40px;height:40px !important;background-position: 12px 12px !important;background-color:#3e73b7;}
a.button.follow:hover span {background-color:#68b229;}
a.button.following span {float:left;border-radius:3px 0 0 3px;width:40px;height:40px !important;background-position: 12px -23px !important;background-color:#68b229;}
a.button.following:hover span {width:40px;height:40px !important;background-position: 12px -59px !important;background-color:#c93d22;}
a.button.follow.loading span {background:transparent url(../images/common/ajax-loader_3e73b7_16x16.gif) no-repeat 0 0;}
a.button.follow.loading:hover span, a.button.following.loading span {background:transparent url(../images/common/ajax-loader_5aa534_16x16.gif) no-repeat 0 0;}
a.button.follow {padding:0;height:40px;line-height:40px;background:#588cc8;}
a.button.follow em , a.button.following em {font-style:normal;}
a.button.follow:hover, a.button.following {padding:0;height:40px;line-height:40px;background:#84C449;}
a.button.following:hover {padding:0;height:40px;line-height:40px;background:#da5c45;}
a.button.following:hover .following, a.button.following .unfollow,a.button.follow .following,a.button.follow .unfollow,a.button.following .follow {display:none;}
a.button.following:hover .unfollow, a.button.following .folllowing {display:inline;}
a.button.next, a.button.prev {height:14px;width:100px;padding:6px 0 12px;font:bold 15px 'Helvetica Neue', Helvetica, Arial, sans-serif;text-align:center;background:#588cc7;}
a.button.next span, a.button.prev span {display:inline-block;height:11px;width:7px;margin:0 0 0 5px;}
a.button.prev span {margin:0 5px 0 0;background-position:0 -215px;}
a.button.next:hover, a.button.prev:hover {background:#3e73b7;}
a.button.send, a.button.cancel {height:20px;width:auto;padding:8px 20px;font-size:15px;}
a.button.send {margin-right:10px;background:#588cc7;}
a.button.cancel {background:#8a8f9c;}
button.btn-sns-f, button.btn-sns-t {text-align:left;padding:0 10px 0 32px;font:bold 12px/25px "Helvetica Neue", Helvetica, Arial, sans-serif;border:0;border-radius:3px;color:#fff;background-image:url('../images/common/icon-sns.png');background-repeat:no-repeat; }
button.btn-sns-f {min-width:149px;background-position:3px 5px;background-color:#486297; }
button.btn-sns-t {min-width:129px;background-position:9px -33px;background-color:#58a4e9; }
.btn-sns-right {position:absolute;right:135px;top:165px; }
.btn-sns-center {position:relative;top:-10px;text-align:center;clear:both;width:100%;padding:12px 0 2px;border-top:1px solid #eceef4; }

/* Icons */
.ic-share {display:inline-block;}
.ic-share {width:18px;height:15px;background-position:0 -34px;}

/* 1.9 Date Picker-- */

/* Component containers-- */
.ui-widget {font-size:1.1em;}
.ui-widget .ui-widget {font-size:1em;}
.ui-widget input, .page-deal-create .ui-widget select, .page-deal-create .ui-widget textarea, .page-deal-create .ui-widget button {font-size:1em;}
.ui-widget-content {border:1px solid #dddddd; background:#eeeeee url(../images/common/ui-bg_highlight-soft_100_eeeeee_1x100.png) 50% top repeat-x; color:#333333;}
.ui-widget-content a {color:#333333;}
.ui-widget-header {border:1px solid #e78f08; background:#f6a828 url(../images/common/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x; color:#ffffff; font-weight:bold;}
.ui-widget-header a {color:#ffffff;}

/* states and images */
.ui-icon {width:16px; height:16px; background-image:url(../images/common/ui-icons_222222_256x240.png);}
.ui-widget-content .ui-icon {background-image:url(../images/common/ui-icons_222222_256x240.png);}
.ui-widget-header .ui-icon {background-image:url(../images/common/ui-icons_ffffff_256x240.png);}
.ui-state-default .ui-icon {background-image:url(../images/common/ui-icons_ef8c08_256x240.png);}
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image:url(../images/common/ui-icons_ef8c08_256x240.png);}
.ui-state-active .ui-icon {background-image:url(../images/common/ui-icons_ef8c08_256x240.png);}
.ui-state-highlight .ui-icon {background-image:url(../images/common/ui-icons_228ef1_256x240.png);}
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image:url(../images/common/ui-icons_ffd27a_256x240.png);}
.ui-datepicker {width:17em; padding:.2em .2em 0; display:none;}
.ui-datepicker .ui-datepicker-header {position:relative; padding:.2em 0;}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {position:absolute; top:2px; width:1.8em; height:1.8em;}
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {top:1px;}
.ui-datepicker .ui-datepicker-prev {left:2px;}
.ui-datepicker .ui-datepicker-next {right:2px;}
.ui-datepicker .ui-datepicker-prev-hover {left:1px;}
.ui-datepicker .ui-datepicker-next-hover {right:1px;}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {display:block; position:absolute; left:50%; margin-left:-8px; top:50%; margin-top:-8px;}
.ui-datepicker .ui-datepicker-title {margin:0 2.3em; line-height:1.8em; text-align:center;}
.ui-datepicker .ui-datepicker-title select {font-size:1em; margin:1px 0;}
.ui-datepicker select.ui-datepicker-month-year {width:100%;}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {width:49%;}
.ui-datepicker table {width:100%; font-size:.9em; border-collapse:collapse; margin:0 0 .4em;}
.ui-datepicker th {padding:.7em .3em; text-align:center; font-weight:bold; border:0;}
.ui-datepicker td {border:0; padding:1px;}
.ui-datepicker td span, .ui-datepicker td a {display:block; padding:.2em; text-align:center; text-decoration:none;}
.ui-datepicker .ui-datepicker-buttonpane {background-image:none; margin:.7em 0 0 0; padding:0 .2em; border-left:0; border-right:0; border-bottom:0;}
.ui-datepicker .ui-datepicker-buttonpane button {float:right; margin:.5em .2em .4em; cursor:pointer; padding:.2em .6em .3em .6em; width:auto; overflow:visible;}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {float:left;}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {width:auto;}
.ui-datepicker-multi .ui-datepicker-group {float:left;}
.ui-datepicker-multi .ui-datepicker-group table {width:95%; margin:0 auto .4em;}
.ui-datepicker-multi-2 .ui-datepicker-group {width:50%;}
.ui-datepicker-multi-3 .ui-datepicker-group {width:33.3%;}
.ui-datepicker-multi-4 .ui-datepicker-group {width:25%;}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header {border-left-width:0;}
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {border-left-width:0;}
.ui-datepicker-multi .ui-datepicker-buttonpane {clear:left;}
.ui-datepicker-row-break {clear:both; width:100%; font-size:0em;}

/* RTL support */
.ui-datepicker-rtl {direction:rtl;}
.ui-datepicker-rtl .ui-datepicker-prev {right:2px; left:auto;}
.ui-datepicker-rtl .ui-datepicker-next {left:2px; right:auto;}
.ui-datepicker-rtl .ui-datepicker-prev:hover {right:1px; left:auto;}
.ui-datepicker-rtl .ui-datepicker-next:hover {left:1px; right:auto;}
.ui-datepicker-rtl .ui-datepicker-buttonpane {clear:right;}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {float:left;}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current {float:right;}
.ui-datepicker-rtl .ui-datepicker-group {float:right;}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header {border-right-width:0; border-left-width:1px;}
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {border-right-width:0; border-left-width:1px;}

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {display:none; display:block; position:absolute; z-index:-1; filter:mask(); top:-4px; left:-4px; width:200px; height:200px; }

/* positioning */
.ui-icon-circle-plus {background-position:0 -192px;}
.ui-icon-circle-minus {background-position:-16px -192px;}
.ui-icon-circle-close {background-position:-32px -192px;}
.ui-icon-circle-triangle-e {background-position:-48px -192px;}
.ui-icon-circle-triangle-s {background-position:-64px -192px;}
.ui-icon-circle-triangle-w {background-position:-80px -192px;}
.ui-icon-circle-triangle-n {background-position:-96px -192px;}

/* Icons-- */

/* states and images */
.ui-icon {display:block; text-indent:-99999px; overflow:hidden; background-repeat:no-repeat;}

/* Dialog-- */
.ui-dialog, .ui-dialog-titlebar {background:transparent none;border:0;}
.ui-dialog a.button {color:#fff;}

/* 2. COMMON--== */

/* 2.1 Container-- */
.container {position:relative;width:750px;margin:0 auto;padding:60px 5px 0;}
#header .inner {position:relative;width:100%;min-width:750px;max-width:750px;margin:0 auto;padding:0 5px;}
.lang-ru #header .inner {min-width:875px;}
#header .inner {width:100%;max-width:990px;}
.wider .container {width:990px;}
.wider #header .inner {width:100%;max-width:990px;}

/* 2.2 Header-- */

/* Layout */
#header {position:fixed;width:100%;top:0;left:0;z-index:10;margin:0 0 39px 0;background:#000 url(../img/bg_header.png) repeat-x 50% 100%;border-bottom:1px solid #303540;box-shadow:0px 1px 2px rgba(0, 0, 0, 0.5);}

/* Turn hardware acceleration for iPad only */
@media only screen and (device-width: 768px) {
	#header { -webkit-transform-style:preserve-3d;}
}
.no-subnav #header {margin-bottom:19px;}
#header .inner {padding:0;}
.page-home .container {padding-top:40px;}
.page-home.old .container {padding-top:270px;}

/* Logo */
#header .site-name, #header .site-name a, #header .site-name span {display:block;position:relative;z-index:10;float:left;width:42px;height:62px;color:#fff;}
#header .site-name {margin:0 18px -23px 10px;padding:0;border:none;font:normal 10px/35px "Helvetica Neue", Helvetica, Arial, sans-serif;text-transform:uppercase;text-align:center;}
#header .site-name a {position:absolute;top:0;left:0;overflow:hidden;width:40px;height:191px;font-size:10px;outline:none;}
#header .site-name span {position:absolute;z-index:10;top:-129px;left:0;display:block;width:40px;height:190px;background-position:-660px 0;}
#header a.site-name span {cursor:pointer;}

/* Search box */
.search-box {position:relative;float:right;width:100%;background:#000;}
.search-box .trigger {display:block;position:absolute;right:0;bottom:-40px;float:right;width:60px;height:41px;outline:none;text-align:center;font-size:0;line-height:0;color:transparent;}
.search-box .trigger span {display:block;height:18px;width:18px;background-position:-122px -67px;margin:11px 0 0 20px;}
.search-box .trigger:hover {background-color:#303540;}
.sb-expand .trigger , .sb-expand .trigger:hover {background-color:#000;margin:0 auto;}
.search-box .search {float:right;width:680px;height:0;overflow:hidden;margin:0 -38px 0 -42px;margin:0;padding:0;}
.sb-expand .search {overflow:visible;}
.search-box .search label {position:absolute;top:-9999em;}
.search-box .search .text {display:block;float:left;width:564px;padding:5px 8px;margin:0 0 0 7px;font:normal 15px/1.0 "Helvetica Neue", Helvetica, Arial, sans-serif;color:#000;border:3px solid #000;background:#fff;outline:none;}
.search-box .search .text:focus {border-color:#588cc7;color:#000;}
.search-box .search p {padding:5px 0 0 10px;clear:both;color:#8a8f9c;}
.search-box .search .btn-submit {display:block;float:right;width:80px;height:30px;margin:2px 0 0 0;padding:0;border:none;font:bold 15px/30px Arial, sans-serif;color:#fff;background:#588cc7;cursor:pointer;}
.search-box .search .btn-submit:hover {background:#3e73b7;}
.search-box .search label.check {position:relative;top:0;}
.search-box .search #collection {margin-left:-4px;margin-right:5px;}

/* Search box :wider */
.wider .search-box .search {width:920px;}
.wider .search-box .search .text {width:800px;}
#cart {position:absolute;right:61px;bottom:0;height:41px;font:italic 12px/40px inherit;border:0 solid #303540;border-width:0 1px;color:#ccc;text-decoration:none;padding:0 20px 0 20px;width:23px;}
#cart .ic-cart {display:inline-block;width:23px;height:17px;background-position:-64px -88px;margin-top:13px;}
#cart:hover, #cart.active {background-color:#303540;}
#cart em {position:absolute;font:normal 10px/11px "Helvetica Neue", Helvetica, Arial, sans-serif;background:#eb4823;color:#fff;border-radius:2px;padding:1px 3px;top:8px;right:11px;}
#cart_popup {display:none;position:absolute;right:61px;top:42px;background:#303540;color:#fff;width:310px;border-radius:0 0 5px 5px;overflow:hidden;}
#cart_popup ul {margin:-1px 12px 0 12px;}
#cart_popup li {margin:0;padding:1px 0 0 0;background:transparent url(../images/common/sprites_header.png) repeat-x 0 -63px;}
#cart_popup a {color:#fff;display:block;}
#cart_popup a:hover {text-decoration:none;}
#cart_popup a:after {content:'';display:block;clear:both;}
#cart_popup ul a {width:290px;margin:0 0 0 -12px;padding:10px;}
#cart_popup ul a:hover {background:#171b24;}
#cart_popup ul img {float:left;width:50px;height:50px;background:transparent none no-repeat center center;background-size:cover;}
#cart_popup ul .info {float:left;color:#c3c3c7;margin:0 0 0 10px;}
#cart_popup ul .info strong {display:block;color:#fff;width:170px;text-overflow:ellipsis;font-style:normal;}
#cart_popup ul .price {float:right;}
#cart_popup .summary {background:#595f69;padding:12px;text-align:right;}
#cart_popup .summary strong {float:left;}
#cart_popup .button {padding:10px;text-align:right;font-weight:bold;}
#cart_popup #view_cart {display:inline-block;padding:10px 15px;margin:0 0 0 10px;background:#588cc8;border-radius:3px;color:#fff;}
#cart_popup #view_cart:hover {text-decoration:none;background:#4f7eb4;}

/* Langauge selector */
#lang_link {position:absolute;right:61px;bottom:0;border:0 solid #303540;border-width:0 1px;height:41px;font-family:inherit;font-size:12px;font-weight:bold;line-height:40px;color:#ccc;text-decoration:none;padding:0 10px 0 10px;}
#lang_link i {display:inline-block;width:11px;height:7px;vertical-align:middle;background-position:-225px -183px;margin-left:2px;opacity:0.8;}
#lang_link.active { background-color:#303540;}
#lang_link:hover b, #lang_link.active b { color:#fff;}
#lang_popup {display:none;position:absolute;right:61px;top:42px;background:#303540;color:#fff;width:220px; 
/* 2012-08-14 menu spacing */
border-radius:0 0 5px 5px;padding:10px 0;overflow:hidden;}
#lang_popup.active {display:block;}
#lang_popup li {float:left;display:block;width:50%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
#lang_popup a {display:block;clear:both;color:#c4c7cc;text-decoration:none;padding:3px 15px;line-height:18px;white-space:nowrap;transition:color, background-color 0.3s;-webkit-transition:color, background-color 0.3s;-moz-transition:color, background-color 0.3s;-o-transition:color, background-color 0.3s;-ms-transition:color, background-color 0.3s;}
#lang_popup a:hover {background-color:#464c57;color:#d4d7de;}
#lang_popup a.selected {font-weight:bold;color:#fff;}

/* Right Navigation 2012-08-23 */
#lang_popup .btn-add {padding:15px 15px 5px;font-weight:bold;color:#fff;}
#lang_popup .btn-add .ic-lang {display:inline-block;width:15px;height:15px;vertical-align:middle;margin:-2px 4px 0 0;background-position:-80px -370px;}
#lang_popup .btn-add:hover {background:none;color:#fff;}
.r-nav {position:relative;float:right;margin-right:61px;min-width:190px;}
.r-nav #cart {position:relative;right:0px;margin-right:-1px;display:block;}
.r-nav #cart_holder {position:relative;float:right;}
.r-nav #cart_popup {left:-245px;}
.r-nav #lang_link {position:static;float:right;display:block;}
.r-nav #lang_popup {right: 0px;}
.search-box .search {width:920px;}
.search-box .search .text {width:800px;}

/* Notifications counts */
#header .notification-count {display:block;float:left;margin:7px 0 0 14px;min-width:11px;padding:0 4px;height:20px;line-height:19px;text-align:center;font-weight:bold;font-size:13px;border:2px solid #fff;color:#fff;-moz-border-radius:11px;-webkit-border-radius:11px;border-radius:11px;background:#f32a10;background-image:-webkit-gradient(linear, left top, left bottom, from(#ff4503), to(#e81220));background-image:-webkit-linear-gradient(top, #ff4503, #e81220);background-image: -moz-linear-gradient(top, #ff4503, #e81220);background-image: -ms-linear-gradient(top, #ff4503, #e81220);background-image: -o-linear-gradient(top, #ff4503, #e81220);background-image: linear-gradient(top, #ff4503, #e81220);}
#header .notification-count:hover {text-decoration:none;}
#header .notification-count.zero {border:2px solid #707683;color:#b3b9c7!important;background:#707683!important;background-image:none!important;}
#header .notification-count.zero:hover {text-decoration:none;}
.sign #header0 {background:transparent none repeat scroll 0 0;margin-bottom:0;padding:68px 0 0 100px; }
.sign #header0 .site-name span {background:url("../images/common/sprites.png") no-repeat scroll 0 -453px transparent !important; }
.sign #header0 .site-name span, .sign #header0 .site-name {height:40px;width:170px; }
#header0 a.site-name span {cursor:pointer; }
#header0 .site-name span {background:url("../images/common/logo.png") no-repeat scroll 0 100% transparent;left:0;position:absolute;top:0;z-index:10; }
#header0 .site-name, #header0 .site-name a {color:#FFFFFF;display:block;float:left;height:62px;position:relative;width:42px;z-index:10; }
#header0 .inner {margin:0 auto;padding:0 5px;position:relative;width:750px; }
#header0 {background:#000000 url(../images/common/bg_header.png) repeat-x scroll 50% 100%;margin:0 0 39px;position:relative;z-index:10;margin-top:-80px; }
.shown-to-you h1, .display-error-message h1 {font-size:15px;margin-bottom:29px;padding-bottom:13px;text-align:center; }
.shown-to-you h1 {font-size:15px;margin-bottom:29px;margin-top:15px;padding-bottom:13px;text-align:center; }
.display-error-message p {font:15px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;margin-top:-4px;padding-bottom:20px;text-align:center; }

/* 2.3 Navigation-- */

/* Main navigation */
#navigation, #navigation ul {position:relative;float:left;}
#navigation li {float:left;height:41px;border-right:1px solid #303540;}
#navigation li:first-child {border-left:1px solid #303540;}
#navigation a {display:block;height:41px;font:bold 15px/39px "Helvetica Neue", Helvetica, Arial, sans-serif;text-align:center;text-transform:uppercase;color:#ccc;outline:none;}
#navigation a span {z-index:2;background-repeat:no-repeat;}
#navigation a:hover, #navigation .current a {text-decoration:none;color:#fff;background:#303540;}
#navigation .current a {cursor:default;font-weight:bold;}
#navigation .mn-home {width:76px;}
#navigation .mn-browse {width:97px;}
#navigation .mn-deals {width:81px;}
#navigation .mn-recommended {width:152px;}
#navigation .mn-add {width:63px;}
#navigation .mn-help {width:69px; }
#navigation .mn-you {width:77px;padding:0 0 0 16px;text-align:left;}
#navigation .mn-signin {width:88px;}
#navigation .mn-home span {background-position:-1px -70px;}
#navigation .mn-browse span {background-position:-78px -70px;}
#navigation .mn-deals span {background-position:-176px -70px;}
#navigation .mn-recommended span {background-position:-258px -70px;}
#navigation .mn-help span {background-position:-820px -70px;}
#navigation .mn-add span {background-position:-411px -70px;}
#navigation .mn-you span {width:101px;background-position:-475px -70px;}
#navigation .mn-signin span {width:88px;background-position:-730px -70px;}
#navigation .mn-home:hover span, #navigation .current .mn-home span {background-position:-1px -111px;}
#navigation .mn-browse:hover span, #navigation .current .mn-browse span {background-position:-78px -111px;}
#navigation .mn-deals:hover span, #navigation .current .mn-deals span {background-position:-176px -111px;}
#navigation .mn-add:hover span, #navigation .current .mn-add span {background-position:-411px -111px;}
#navigation .mn-help:hover span, #navigation .current .mn-help span {background-position:-820px -111px;}
#navigation .mn-recommended:hover span, #navigation .current .mn-recommended span {background-position:-258px -111px;}
#navigation .mn-you:hover span, #navigation .current .mn-you span, #navigation .you-menu:hover .mn-you span {background-position:-475px -111px;}
#navigation .mn-signin:hover span, #navigation .current .mn-signin span {background-position:-730px -111px;}

/* User avatar */
#navigation .mn-you img {position:absolute;z-index:3;top:8px;right:16px;max-width:20px;max-height:20px;}

/* Sub navigation */
#navigation li ul, .no-subnav #navigation li ul {position:absolute;top:-9999em;left:0;min-width:680px;white-space:nowrap;}
.page-home #navigation li ul {min-width:680px;max-width:680px;width:680px;}
#navigation .current ul {top:50px;}
#navigation li li, #navigation li.current li {float:left;height:auto;padding:0 0 0 12px;border:none;}
#navigation li li:first-child, #navigation li.current li:first-child {padding-left:0;}
#navigation li li a, #navigation li.current li a {display:block;float:left;height:auto;padding:1px 5px 3px 5px;font:bold 13px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;text-align:center;text-transform:none;text-shadow:0 1px 0 rgba(0, 0, 0, 0.1);color:#4c515c;background:none;cursor:pointer;}
#navigation li li a:hover, #navigation li.current li a:hover, #navigation li li.current a, #navigation li.current li.current a {color:#fff;background:#464c57;}
#navigation li li.current a, #navigation li.current li.current a {cursor:default;font-weight:bold;}

/* Sub navigation :you menu */
#navigation .you-menu {position:relative;}
#navigation .current.you-menu a {cursor:pointer;}
#navigation .you-menu ul, .no-subnav #navigation .you-menu ul, .wider #navigation .you-menu ul {top:-999em;right:-1px;left:auto;min-width:125px;width:125px;padding:2px 0 0 0;background:#2f3440;-moz-border-radius:0 0 4px 4px;-webkit-border-radius:0 0 4px 4px;border-radius:0 0 4px 4px;}
#navigation .you-menu:hover ul, .no-subnav #navigation .you-menu:hover ul {top:38px;}
#navigation .you-menu li, #navigation .current.you-menu li {clear:both;width:100%;padding:0;border:none;}
#navigation .you-menu li a, #navigation .current.you-menu li a {float:none;margin:0;padding:0 20px;font-weight:normal;line-height:24px;text-align:left;text-decoration:none !important;color:#fff;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;}
#navigation .you-menu li.last a, #navigation .current.you-menu li.last a {padding-bottom:4px;-moz-border-radius:0 0 4px 4px;-webkit-border-radius:0 0 4px 4px;border-radius:0 0 4px 4px;}
.wider #navigation .current ul, .subnav #navigation .current ul {min-width:940px;top:41px;margin-left:-4px;padding:9px 0 9px 4px;background:url("../images/common/bg_body.png") repeat scroll 50% 0 #EEF0F6;}
#navigation li ul, .no-subnav #navigation li ul.browse-page {min-width:900px; }
#navigation ul#show-submenu {top:41px; }
#navigation ul#show-submenu li {border:medium none;float:left;height:auto;padding:0 0 0 12px; }
.subnav .container {padding-top:85px;}

/* Main navigation */
#navigation-new, #navigation-new ul {position:relative;float:left;}
#navigation-new li {float:left;position:relative;height:41px;border-right:1px solid #303540;}
#navigation-new li.marked a {color:#a84c28;line-height:14px;height:33px;padding-top:7px;font-weight:bold;}
#navigation-new li.marked a span {background:#fde16b url(../images/common/bg_nav-invite-btn.png) repeat-x left top;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;display:block;height:15px;padding:5px 5px 4px;}
#navigation-new a {display:block;height:41px;font:13px/39px "Helvetica Neue", Helvetica, Arial, sans-serif;text-align:center;color:#c4c7cc;padding:0 15px;outline:none;}
#navigation-new a:hover, #navigation-new li:hover, #navigation-new li.hover, #navigation-new .current a {text-decoration:none;color:#fff;background:#303540;}
#navigation-new .current a {cursor:default;font-weight:bold;}
#navigation-new .mn-you:hover span, #navigation-new .current .mn-you span, #navigation-new .you-menu:hover .mn-you span {background-position:-475px -111px;}
#navigation-new .mn-signin:hover span, #navigation-new .current .mn-signin span {background-position:-730px -111px;}

/* User avatar */
#navigation-new .mn-you img {position:relative;z-index:3;top:4px;right:0;max-width:20px;max-height:20px;}

/* Sub navigation */
#navigation-new li ul, .no-subnav #navigation-new li ul {position:absolute;top:auto; left:0; right:auto;width:180px;white-space:nowrap;padding:3px 10px;background:#464c57;-moz-border-radius:0 0 4px 4px;-webkit-border-radius:0 0 4px 4px;border-radius:0 0 4px 4px;}
#navigation-new .current ul {top:50px;}
#navigation-new li li, #navigation-new li.current li {float:none;height:auto;padding:0;border:0;border-bottom:1px dotted #8a8f9c;}
#navigation-new li li.last, #navigation-new li.current li.last {border:0;}
#navigation-new li li a, #navigation-new li.current li a {clear:left;display:block;float:none; width:180px;height:auto;font:13px/24px "Helvetica Neue", Helvetica, Arial, sans-serif;font-weight:bold; text-align:left; text-transform:none;text-shadow:0 1px 0 rgba(0, 0, 0, 0.1);color:#c4c7cc;padding:3px 0;margin:0;background:none;cursor:pointer;white-space:nowrap;}
#navigation-new li li a:hover, #navigation-new li.current li a:hover, #navigation-new li li.current a, #navigation-new li.current li.current a {color:#fff;background:#464c57;}
#navigation-new li li.current a, #navigation-new li.current li.current a {cursor:default;}
#navigation-new .you-menu {position:relative;}
#navigation-new .current.you-menu a {cursor:pointer;}
#navigation-new .you-menu ul, #navigation-new .you-menu ul, .no-subnav #navigation-new .you-menu ul, .wider #navigation-new .you-menu ul {top:-999em;right:-1px;left:auto;min-width:95px;padding:2px 0 0 0;background:#2f3440;-moz-border-radius:0 0 4px 4px;-webkit-border-radius:0 0 4px 4px;border-radius:0 0 4px 4px;}
#navigation-new .you-menu:hover ul, .no-subnav #navigation-new .you-menu:hover ul {top:38px;}
#navigation-new .you-menu li, #navigation-new .current.you-menu li {clear:both;width:100%;padding:0;border:none;}
#navigation-new .you-menu li a, #navigation-new .current.you-menu li a {float:none;margin:0;padding:0 15px;font-weight:normal;line-height:24px;text-align:left;text-decoration:none !important;color:#c4c7cc;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;}
#navigation-new .you-menu li.last a, #navigation-new .current.you-menu li.last a {padding-bottom:4px;-moz-border-radius:0 0 4px 4px;-webkit-border-radius:0 0 4px 4px;border-radius:0 0 4px 4px;}
#navigation-new .you-menu li:hover {background:none;}
.subnav .container {padding-top:85px;}

/* new submenu */
#navigation-new li div {position:absolute;top:-999em;right:auto;left:50%;margin-left:-90px;width:180px;max-width:180px;min-width:180px;padding:5px 0 0;}
#navigation-new li:hover div, #navigation-new li.hover div {top:37px;background:url("../images/common/ico-dropdown.png") no-repeat 50% 0;}
#navigation-new li:hover ul, #navigation-new li.hover ul {top:5px;}
#navigation-new li li a:hover {background:none;color:#fff;}
#navigation-new li li, #navigation-new li.current li {border:0;}
#navigation-new li li a, #navigation-new li.current li a {font-weight:normal;padding:1px 3px;width:auto;min-width:100px;}
#navigation-new li li a:hover, #navigation-new li.current li a:hover {background:#303540;}
#navigation-new li div {width:130px;min-width:130px;margin-left:-65px;}
#navigation-new li ul, .no-subnav #navigation-new li ul {width:auto;padding:12px 15px;}
#navigation-new .mn-browse-div {width:550px;max-width:none;margin-left:-90px !important;background:url("../images/common/ico-dropdown.png") no-repeat 90px 0 !important;}
#navigation-new .mn-browse-div h4 {color:#fff;font:bold 13px/24px "Hevetica Neue", Helvetica, Arial, sans-serif;}
#navigation-new .mn-browse-div .container {position:relative;background:#464c57 none !important;border-radius:0 0 4px 4px;padding:15px 25px;}
#navigation-new .mn-browse-div .container ul {position:static;float:none;width:auto;background-color:transparent;border-radius:0;padding:0;}
#navigation-new .mn-browse-div .container li {width:auto;min-width:60px;margin-left:-2px;}
#navigation-new .mn-browse-div a {font-weight:normal !important;width:auto !important;min-width:60px !important;}
#navigation-new .mn-browse-div div {position:static;clear:right;background:none !important;width:auto;max-width:none;top:auto !important;left:auto;right:auto;margin:0;padding:0;}
#navigation-new .mn-browse-div div.container {float:none;zoom:1;}
#navigation-new .mn-browse-div div.container:after {display:block;content:'';clear:both;}
#navigation-new .mn-browse-div div.container div {width:auto;min-width:80px;margin-bottom:10px;}
#navigation-new .mn-browse-div div.container div.things {float:left;width:auto;}
#navigation-new .mn-browse-div div.things ul {width:300px;}
#navigation-new .mn-browse-div div.things li {float:left;width:140px;margin-right:10px;}
#navigation-new .mn-browse-div div.right ul {margin-bottom:28px;}
#navigation-new .mn-browse-div .separator {position:absolute;height:100%;border:0;border-left:1px solid #626771;min-width:1px !important;width:1px !important;overflow:hidden;top:0 !important;left:314px;}
#navigation-new .mn-signin {font-weight:bold; }

/* Figure */
.figure-product, .figure-product .fig-image, .figure-product figcaption strong, .figure-product figcaption em {display:block;text-align:center;}
.wrapper-fig-image {font-style:normal}
.figure-row {padding:0 0 40px 0;}
.figure-featured {margin:0 0 20px 0;padding:0 0 20px 0;border-bottom:1px solid #eceef4;}
.figure-product {display:block;position:relative;float:left;margin:0 0 0 20px;outline:none;}
.figure-product:first-child {margin-left:0;clear:both;}
.figure-product a, .figure-product:hover {outline:none;text-decoration:none !important;}
.phototipsy a:hover {text-decoration:underline;}
.figure-640, .figure-640 .wrapper-fig-image {width:640px;}
.figure-560, .figure-560 .wrapper-fig-image {width:560px;}
.figure-310 {width:310px;}
.figure-310 .wrapper-fig-image {width:310px;}
.figure-200 {width:200px;}
.figure-200 .wrapper-fig-image {width:200px;}
.figure-190 {width:190px;}
.figure-190 .wrapper-fig-image {width:190px;}
.figure-170 {width:170px;}
.figure-170 .wrapper-fig-image {width:170px;}
.figure-145 {width:145px;}
.figure-145 .wrapper-fig-image {width:145px;}

/* figure product :image */
.figure-product .wrapper-fig-image {display:table;table-layout:fixed;overflow:hidden;}
.figure-product .fig-image {display:table-cell;overflow:hidden;text-align:center;vertical-align:middle;background:url(../images/common/bg_figure.png) repeat 0 0;}
.figure-product .fig-image img {vertical-align:middle;}
.figure-640 .fig-image {width:640px;}
.figure-560 .fig-image {width:560px;}
.figure-310 .fig-image {width:310px;height:310px;}
.figure-200 .fig-image {width:200px;height:200px;}
.figure-190 .fig-image {width:190px;height:190px;}
.figure-170 .fig-image {width:170px;height:170px;}
.figure-145 .fig-image {width:145px;height:145px;}
.figure-640 img {max-width:640px;}
.figure-560 img {max-width:560px;}
.figure-310 img {max-width:310px;max-height:310px;}
.figure-200 img {max-width:200px;max-height:200px;}
.figure-190 img {max-width:190px;max-height:190px;}
.figure-170 img {max-width:170px;max-height:170px;}
.figure-145 img {max-width:145px;max-height:145px;}
.fig-image .timeline {position:absolute;display:inline-block;display:none;text-align:left;vertical-align:middle;padding:12px 0 0 14px;background:transparent; }
.fig-image .timeline big {position:relative;z-index:2;font-size:15px;color:#fff;white-space:nowrap; }
.fig-image .timeline big b {font-weight:bold; }
.fig-image .timeline small {position:relative;z-index:2;font:normal 13px/15px Arial, sans-serif;color:#fff;text-decoration:line-through;white-space:nowrap; }
.fig-image .timeline em {position:relative;z-index:2;display:block;padding:5px 0 0 20px;font:normal 12px/15px Arial, sans-serif;color:#fff;opacity:0.7; }
.fig-image .timeline em .ic-time {position:absolute;top:5px;left:0;display:inline-block;width:16px;height:16px;background-position:-97px -68px;}
.fig-image .timeline em .ic-date {position:absolute;top:5px;left:0;display:inline-block;width:13px;height:16px;background-position:-40px -390px;}
.fig-image .timeline sup {display:block;width:100%;height:100%;position:absolute;top:0;left:0;z-index:1;background:#060606;opacity:0.4; filter:alpha(opacity=40); }
.figure-product .button {z-index:3; }
.figure-product .btn-share {position:absolute;top:12px;right:14px;background:transparent;border:0;z-index:2; }
.figure-product a.anchor {position:absolute;left:0;top:-60px;visibility:hidden; }

/* Figure :discount tag */
.figure-product span.discount {position:absolute;top:0;left:0;width:60px;height:60px;overflow:hidden;background:transparent url(../images/common/label_off.png) no-repeat 0 0;}
.figure-product span.discount span {position:absolute;top:-8px;left:-8px;width:60px;height:60px;font:normal 15px/60px "Helvetica Neue", Helvetica, Arial, sans-serif;color:#fff;text-align:center;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);font-size:12px;top:-10px; left:-10px; }

/* Figure :caption */
.figure-product figcaption {padding:5px 0 0 0;color:#373d48;}
.figure-product figcaption, .figure-product .username {font:normal 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;}
.figure-featured .figure-product figcaption {font-size:15px;font-weight:bold;color:#373D48;}
.figure-product .username, .figure-product .username a {color:#8a8f9c;}
em.count, .figure-product .username em {font-style:normal;}
.figure-product .username a:hover { color:#588cc7 ;}
.figure-product .username a:hover, .figure-product a:hover figcaption { text-decoration:underline ;}
.phototipsy .figure-product figcaption:hover { text-decoration:none ;}

/* figure product :buttons */
.figure-product .button, #slideshow .button {display:none;position:absolute;top:50%;left:50%;width:130px;margin:-20px 0 0 -65px;text-align:left;outline:none;-moz-box-shadow:0 0 0 3px rgba(255, 255, 255, 0.6);-webkit-box-shadow:0 0 0 3px rgba(255, 255, 255, 0.6);box-shadow:0 0 0 3px rgba(255, 255, 255, 0.6);}
#slideshow .button.fancy {line-height:45px;height:45px;padding:0 15px 0 60px;width:75px;margin:-23px 0 0 -75px;}
.figure-product a.button span, #slideshow a.button span {margin-right:-2px;}
.figure-310 .button {top:155px;}
.figure-200 .button {top:100px;}
.figure-145 .button {top:72px;}
.figure-row .hover .button {display:block;left:50%;}
.figure-product:hover .button {display:block;}
.figure-product:hover .username a {color:#588cc7;}
.figure-product:hover figcaption {color:#1f518e;}

/* Pagination */
#load-previous {display:block;background:#fff;border-radius:3px;margin:0 0 15px 70px;padding:6px 16px;text-align:center;height:32px;overflow:hidden;}
#load-previous img {display:none;vertical-align:middle;}
#load-previous span {display:inline-block;line-height:32px;}
#load-previous.loading img {display:inline;}
#load-previous.loading span {display:none;}
.pagination {clear:both;}
.btn, .btn-previous, .btn-next, .btn-more {display:block;width:100px;height:25px;padding:5px 0 0 0;font:bold 15px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;text-align:center;color:#fff !important;background:#588cc7;}
.btn-more {width:150px;margin:0 auto;}
.btn:hover, .btn-previous:hover, .btn-next:hover, .btn-more:hover {text-decoration:none;background:#3e73b7;}
.btn-previous span, .btn-next span, .btn-more span {display:inline-block;}
.btn-previous {float:left;}
.btn-previous span {padding:0 0 0 10px;background:url(../images/common/sprites.png) no-repeat 0 4px;}
.btn-next {float:right;}
.btn-next span {padding:0 11px 0 0;background:url(../images/common/sprites.png) no-repeat 100% 4px;}

/* loading bar */
#infscr-loading {text-align:center;clear:both;text-align:center;position:relative;margin:5px auto;z-index:1000;background:#fff;border-radius:5px;left:0;top:0;;z-index:100; }
#infinite-signup #infscr-loading {margin-top:-23px;}

/* Signup message */
.signup-message {display:none;padding:0 0 20px 0;}
.signed-out .signup-message {display:block;}
.signup-message strong, .page-deal-processing strong, .page-deal-finished strong {display:block;padding:6px 10px 8px 10px;font:bold 15px/24px "Helvetica Neue", Helvetica, Arial, sans-serif;text-align:center;color:#937F38;border:1px solid #f1e997;background:#FFF3C5;}
.signup-message strong a {font-weight:normal;color:#588CC7;}

/* Comments */
.write-comment {width:620px;}
.write-comment .add-avatar {display:none;float:left;padding-bottom:20px;padding-right:10px;}
.write-comment input[type=text] {width:100%;padding:10px;border:1px solid #eceef4;font-size:13px;text-align:left;color:#588cc7;}
.comment-list li {overflow:auto;padding-top:5px;font-size:13px;}
.comment-list h4 {color:#588cc7;}
.comment-list .avatar {float:left;padding-right:10px;}
.comment-list .detail {float:left;width:590px;}

/* Comments */
.comments {padding:10px 0 6px 0;}
.comments .text {color:#000000 !important; }
.photo .comments {padding-bottom:0;}
.comments .vcard {display:none;float:left;}
.comments .vcard img {display:block;float:left;max-width:30px;max-height:30px;margin:0 10px 0 0;}
.comments .vcard .fn {display:none;font:normal 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;}
.comments form {position:relative;}
.comments .comment-autocomplete {position:absolute;left:40px;z-index:1000;margin-top:-16px;background:#fff;border:1px solid #8a8f9c;-moz-border-radius:0 0 5px 5px;-webkit-border-radius: 0 0 5px 5px;border-radius: 0 0 5px 5px;}
.comments .comment-autocomplete li {padding:4px 8px !important;color:#8a8f9c;}
.comments .comment-autocomplete .username {color:#1f518e;}
.comments .comment-autocomplete li:hover, .comments .comment-autocomplete li.selected {background:#373d48;color:#fff;cursor:pointer;}
.comments .comment-autocomplete li:hover .username, .comments .comment-autocomplete li.selected .username {color:#fff;}
.comments .text {width:620px;height:18px;margin:0;padding:5px 8px;border:1px solid #eceef4;font:normal 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;color:#588cc7;}
.comments .msg {display:none;padding:1px 0 0 40px;font:normal 11px/13px "Helvetica Neue", Helvetica, Arial, sans-serif;color:#8a8f9c;}
.comments .userlist a:hover {background:url('../images/common/comment.png') repeat-x 0 -82px;}

/* Comments :focus */
.comments .comment-focus .vcard, .comments .comment-focus .msg, .comments-list li .vcard, .comments-list li .vcard .fn {display:block;}
.comments .comment-focus .text {width:580px;border-color:#8a8f9c;color:#373d48;}

/* Comments :listing */
.comments-list li {position:relative;padding:7px 42px 7px;}
.comments-list li .vcard {margin:-4px 0 0 0;}
.comments-list li .vcard img {margin:4px 0 -20px -42px;}
.comments-list li p {clear:left;padding-bottom:2px;}
.comments-list .comment-focus .vcard .fn {display:none;}
.comments-list li .comment-focus .msg {padding-bottom:8px;padding-left:0;}
.comments-list .show-edit-comment .inner {display:none;}
.comments-list a.milestone {display:block;position:relative;visibility:hidden;top:-50px;left:0;height:0;overflow:hidden;}
.comments-list li .optional {display:none;position:absolute;top:2px;right:0;}
.comments-list li .optional p {position:relative;float:left;padding:0;clear:none;cursor:pointer;z-index:2;}
.comments-list li.hover .optional {display:list-item;}
.comments-list li [class^="ic-"] {display:inline-block;vertical-align:middle;height:13px;width:21px;}
.comments-list li .ic-flag {background-position:-92px -49px;border-right:1px dotted #d6d6d6;opacity:0.7;filter:alpha(opacity=70);}
.comments-list li .ic-arrow {background-position:-108px -49px;opacity:0.7;filter:alpha(opacity=70);}
.comments-list li .dropmenu {position:absolute;top:19px;right:8px;padding:4px 9px;display:none;border:1px solid #c4c5ca;box-shadow:1px 1px 1px #eee;background:#fff;border-radius:3px;}
.comments-list li .dropmenu a {display:block;padding:3px 0;font-weight:bold;color:#333;white-space:nowrap;font-size:11px;}
.comments-list li .optional p.on {z-index:3;}
.comments-list li .optional p.on .ic-flag, .comments-list li .optional p .ic-flag:hover {opacity:1;filter:alpha(opacity=100);}
.comments-list li .optional p.on .ic-arrow, .comments-list li .optional p .ic-arrow:hover {opacity:1;filter:alpha(opacity=100);}
.comments-list li .optional p.on .dropmenu {display:block;}
.comments-list li .lock {display:block;position:fixed;top:0;left:0;width:100%;height:100%;background:#fff;opacity:0.01;filter:alpha(opacity=1);}
.comments-list #btn-viewall-comments {color:#4672a6;font:bold 12px/1.0 "Helvetica Neue", Helvetica, Arial, sans-serif;margin-bottom:20px;border:0;padding:0;background:none;}
.comments-list ol {padding-bottom:24px;}
.comments-list li .c-menu {color:#d8d8d8;font: normal 11px/1.0 "Helvetica Neue", Helvetica, Arial, sans-serif;margin-left:-3px; }
.comments-list li .c-menu a {color:#99999a;font: normal 11px/1.0 "Helvetica Neue", Helvetica, Arial, sans-serif;margin:0 3px; }

/* Modal and tipsy plugin */
input[type=text], textarea, input[type=password] {width:270px;margin-bottom:10px;padding:0 10px;border:1px solid #b4b9c7;border-top:1px solid #8a8f9c;font-size:15px;color:#000;background:#fff;}
textarea {overflow:auto;padding:10px 0 0 10px;resize:none;}
input[type=text], input[type=password] {padding:10px 5px;height:18px;}
.popup {padding:8px 0;background:rgba(0, 0, 0, 0.4);-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;border:0 !important;}
.popup .inner {margin:0 auto;width:340px;padding-bottom:20px;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;background:#fff;}
.popup h3 {cursor:move;padding:10px 0;margin:0 0 15px 0 !important;border-bottom:1px solid #e1e3e8;color:#373d48;font-size:15px;font-weight:bold;background:#eff1f7;text-align:center;-moz-border-radius:10px 10px 0 0;-webkit-border-radius:10px 10px 0 0;border-radius:10px 10px 0 0;}
.popup form {padding:0 20px;}
.popup input[type=radio] {margin-bottom:10px;}
.popup label.error {display:block;margin:-5px 0 5px 0;font-size:11px;color:#ED1C24;}
.popup input.error {background:#FFF1E5;border:1px solid #ED1C24;color:#000000;}
.popup .button.sign {margin:0;width:auto;padding:0 20px;}

/* Show to someone */
#showpopup input[type=text].emailaddress, #rankpopup input[type=text].emailaddress {width:283px;padding-left:10px;margin-top:10px;}
#showpopup input[type=text].fancyusername, #rankpopup input[type=text].fancyusername {width:253px;padding-left:40px;margin-top:10px;background:#fff url(../images/common/avatar_blank.jpg) no-repeat 5px center;}
#showpopup textarea, #rankpopup textarea {width:288px;height:67px;margin-bottom:20px;}
#showpopup input[type=text].fancyusername.error, #rankpopup input[type=text].fancyusername.error {background-color:#FFF1E5;}
#showpopup .on-fancy, #rankpopup .on-fancy {display:none;}
.ui-autocomplete {width:298px;border-top:none;border:1px solid #8a8f9c;background:#fff;}
.ui-autocomplete li.ui-menu-item a {display:block;height:30px;padding:2px 5px;line-height:30px;font-size:14px;text-decoration:none;color:#000;}
.ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-active {background:#e5eff9;}
.ui-autocomplete li.ui-menu-item a img {float:left;margin-right:4px;}
.ui-autocomplete li.ui-menu-item a span {padding-left:5px;color:#8a8f9c;}
.tipsy {padding:5px;font-size:12px;position:absolute;z-index:100000;}
.tipsy-inner {padding:5px 8px 4px 8px;background-color:black;color:white;max-width:350px;text-align:center;}
.tipsy-inner {border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.tipsy-arrow {position:absolute;background:url('../images/common/tipsy.gif') no-repeat top left;width:9px;height:5px;}
.tipsy-n .tipsy-arrow {top:0;left:50%;margin-left:-4px;}
.tipsy-nw .tipsy-arrow {top:0;left:10px;}
.tipsy-ne .tipsy-arrow {top:0;right:10px;}
.tipsy-s .tipsy-arrow {bottom:0;left:50%;margin-left:-4px;background-position:bottom left;}
.tipsy-sw .tipsy-arrow {bottom:0;left:10px;background-position:bottom left;}
.tipsy-se .tipsy-arrow {bottom:0;right:10px;background-position:bottom left;}
.tipsy-e .tipsy-arrow {top:50%;margin-top:-4px;right:0;width:5px;height:9px;background-position:top right;}
.tipsy-w .tipsy-arrow {top:50%;margin-top:-4px;left:0;width:5px;height:9px;}

/* 2.5 Sidebar-- */

/* Layout */
.wider #sidebar {width:200px;padding:20px;}
.left-sidebar #sidebar {float:left;}
.right-sidebar #sidebar {float:right;}

/* Sidebar section */
#sidebar section {margin:0 0 16px 0;padding:0 0 20px 0;border-bottom:1px solid #eceef4;}
#sidebar section:first-child {margin-top:-4px;}
#sidebar section h2 {padding:0 0 20px 0;font:bold 13px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;text-align:center;color:#373d48;}

/* Sidebar nav */
#sidebar .sidebar-nav {margin:0 -20px 16px -20px;padding:0;border-bottom:none;}
#sidebar .sidebar-nav h2 {padding:0 20px 5px 20px;font:bold 15px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;text-align:left;color:#373d48;}
.sidebar-nav li {padding:0;}
.sidebar-nav a {display:block;padding:4px 20px 3px;font:normal 13px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;color:#1f518e;}
.sidebar-nav .current a {text-decoration:none;color:#373d48;background:#eceef4;cursor:default;}

/* Sidebar nav :sub navigation */
.sidebar-nav li li, .sidebar-nav .current li {padding:0 0 0 10px;}
.sidebar-nav li li a, .sidebar-nav .current li a {line-height:24px;color:#588cc7;background:none;cursor:pointer;}
.sidebar-nav li li a:hover, .sidebar-nav .current li a:hover {text-decoration:underline;}
.sidebar-nav li .current a, .sidebar-nav .current .current a {color:#373d48;cursor:default;}
.sidebar-nav li .current a:hover, .sidebar-nav .current .current a:hover {text-decoration:none;}

/* Recommended section */
.recommended-section .figure-product {float:none;margin:0;}
.recommended-section .figure-200 .fig-image {height:150px;}
.recommended-section .figure-200 .button {top:75px;}
.recommended #content {margin:0;border:none;}
.recommended #content h1 {padding-bottom:8px;margin-bottom:20px;}
.recommended #content header h1 {margin-bottom:0;}

/* Follow section */
.follow-section ol {margin:0 0 7px 0;}
.follow-section li {padding:26px 0 0 0;font:normal 13px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;text-align:center;}
.follow-section li:first-child {padding-top:0;}
.follow-section a {color:#588cc7;}
.follow-section .vcard a {display:block;color:#1f518e;}
.follow-section .vcard img {display:block;margin:0 auto;}
.follow-section .vcard strong {display:block;padding:6px 0 0 0;color:#1f518e;}

/* User section */
#sidebar .user-section h2 {padding:0 0 1px 0;font:bold 15px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;text-align:left;}
.user-section .link {display:block;margin:0 0 17px 0;font:bold 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;}
.user-section .stats {margin:0 0 14px 0; padding:15px 0 0 0;}
.user-section .stats li {font:normal 13px/24px "Helvetica Neue", Helvetica, Arial, sans-serif;color:#373d48;}
.user-section .stats a {color:#588cc7;}
.user-section .stats strong {font-size:15px;}
.user-section .stats a strong {color:#1f518e;}
.user-section .stats .current a, .user-section .stats .current strong {text-decoration:none;color:#373d48;cursor:default;}
.user-section .more-user-lists {padding-top:40px;}
.user-section .more-user-lists h3 {color:#373D48;font-size:13px;font-weight:normal;}
.user-section .more-user-lists .listings {padding-top:7px;}
.user-section .more-user-lists li {margin-bottom:10px;}
.user-section .more-user-lists a.list-item {height:50px;width:200px;}
.user-section .more-user-lists a.list-item span {height:50px;width:50px;}

/* Thing section */
#sidebar section.thing-section {margin-top:0;font-size:13px;}
.thing-section .thing-info {padding:15px 0 20px;}
.signed-out .thing-section .thing-info {padding:0;}
.thing-section .thing-info li {position:relative;line-height:24px;}
.signed-out .thing-section .thing-info li {line-height:26px;margin-top:6px;}
.signed-out .thing-section .thing-info li a {display:block;line-height:18px;font-size:15px;color:#588cc7;}
.thing-info a i {position:absolute;left:0;top:0;display:inline-block;width:16px;height:18px;vertical-align:middle;}
.thing-info .down,.thing-info .sell, .thing-info .where, .thing-info .more, .thing-info .show, .thing-info .own, .thing-info .feature, .thing-info .list, .photo .show, .photo .embed, .signed-out .thing-info .color, .thing-info .feature-selected {padding-left:20px;}
.thing-info .sell i {background-position:-174px -140px;}
.thing-info .where i {background-position:-197px -76px}
.signed-out .thing-info li a.where {font-weight:bold;color:#1f518e;}
.signed-out .thing-info li a.where i {background-position:-197px -75px}
.thing-info .more i {left:1px;background-position:-197px -97px;}
.thing-info .down i {left:-1px;background-position:-70px -399px;}
.thing-info .show, .photo .show i {background-position:-197px -116px;}
.signed-out .thing-info .show i {background-position:-131px -245px;}
.thing-info .own {outline:none;}
.thing-info .own i {background-position:-152px -197px;}
.signed-out .thing-info .color i {background-position:-112px -244px;}
.thing-info .own:visited {text-decoration:none;}
.thing-info .own:hover {text-decoration:underline;}
.thing-info .own-selected i {background-position:-134px -198px;}
.thing-info .own-selected i {background-position:-134px -198px;}
.thing-info .feature-selected i {left:-1px;background-position:-174px -120px;}
.signed-out .thing-info .feature i {left:-1px;background-position:-173px -76px;}
.signed-out .thing-info .list i {background-position:0 -323px;}
.thing-info .list i {background-position:0 -325px;}
.thing-section hr {display:block;border:0;border-top:1px solid #eee;margin:18px 0 17px 0;padding:0;}
.thing-section p.prices {margin:20px 0 0 0;padding:0;}
.thing-section p.prices .discount {float:right;color:#64b216;font-size:1.2em;}
.thing-section p.prices strong.price {font-size:1.6em;}
.thing-section p.prices span.retail {color:#878b92;text-decoration:line-through;}
.thing-section p.ends {padding:0 0 0 21px;background:transparent url(../images/common/sprites_thing-detail.png) no-repeat 0 -36px;}
.thing-section a.report-link {color:#999da8;display:block;font-size:11px;margin:16px 0 -5px;}
.thing-section a.report-link  .ic-report {display:inline-block;width:15px;height:13px;background-position:-120px -370px;vertical-align:middle;}
.thing-section input.option {padding:0;height:22px;margin:5px 0 12px;text-indent:7px;width:198px;border-radius:3px;border:1px solid #d1d3d9;text-align:left;}
.thing-section input[type=number]::-webkit-inner-spin-button, .thing-section input[type=number]::-webkit-outer-spin-button {-webkit-appearance:none;}
.thing-section .input-number .thing-section .input-number .btn-up {margin-top:1px;border-bottom:0;}
.thing-section .input-number .btn-down {border-top:0;}
.thing-section .input-number a {display:block;width:8px;background-color:#fff;background-position:-243px -344px;border:1px solid #d1d3d9;border-left-color:#bbb;border-radius:0 3px 0 0;}
.thing-section .input-number a.btn-down {background-position:-16px -330px;border-radius:0 0 3px 0;}
#reportpopup .popup-btns-wrap {margin:0 auto;width:216px;}
#reportpopup .popup-btns-wrap a {margin-right:10px;}
#reportpopup .report-confirm {display:none;}
#reportpopup .report-confirm p {padding-bottom:0;}
.photo .embed {margin-left:10px;background:url(../images/common/sprites.png) no-repeat 0 -903px;}
.thing-section .more-info, .thing-section .thing-mine {border-top:1px solid #eceef4;}
.thing-section .more-info {padding-top:20px;}
.thing-section .thing-mine {margin-top:20px;}
.thing-section .wrapper-actions iframe {float:left;}
.thing-section .twitter-share-button {margin:0 5px 0 5px;background:url(../images/common/ico_twitter.png) no-repeat;}
.thing-section .stumbleupon-button {float:left;display:inline-block;margin:1px 0 0;}
.signed-out .thing-section .more-info {margin-top:20px;padding-top:20px;}
.signed-out #sidebar section {border-bottom:0;}
.signed-out .thing-section .more-info {color:#8a8f9c;}
.signed-out .thing-section .more-info a {color:#588cc7;}
.unlockable-deal-msg {border-top:1px solid #ECEEF4;overflow:hidden;margin-top:20px;padding-top:20px;}
.unlockable-deal-msg .deal-icon {float:left;width:60px;margin-right:10px;}
.unlockable-deal-msg .msg {margin-left:70px;font-size:13px;line-height:19px;}
.unlockable-deal-msg .msg a {color:#588CC7;}
#sidebar section.unlockable-deal-msg.amex-msg {padding:16px 0;margin:0;}
.unlockable-deal-msg.amex-msg .deal-icon {width:50px;padding-top:4px;}
.unlockable-deal-msg.amex-msg .msg {margin-left:60px;}

/* Green cart button */
#sidebar .greencart {position:relative;display:block;background:#64b216;color:#fff;padding:0;border:0;border-radius:4px;overflow:hidden;}
#sidebar .greencart .ic-cart {position:absolute;left:8px;top:50%;margin-top:-10px;display:inline-block;background-position:-64px -66px;width:23px;height:19px;}
#sidebar .greencart:hover {text-decoration:none;}
#sidebar .greencart strong {display:block;padding:15px 0 15px 15px;margin:0 0 0 40px;background:#81c540;font:bold 15px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;overflow:hidden;border-radius:0 4px 4px 0;}

/* 2012-07-04 thing */
#sidebar .greencart#add_to_cart strong {height:45px;}
#sidebar .greencart strong.long { }
#sidebar .greencart strong.longer {padding-left:10px;}
#sidebar .greencart.waiting {background-image:url(../images/common/ajax-loader_64b216_16x16.gif);background-position:12px center;}

/* 2.6 Footer-- */

/* Layout */
#footer {clear:both;overflow:hidden;padding:13px 20px 53px 90px;}

/* Follow twitter */
.follow-twitter {display:block;float:right;padding:0 0 0 33px;font:bold 15px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;color:#1f518e;background:url(../images/common/sprites.png) no-repeat 0 -200px;}

/* Footer nav */
.footer-nav {float:left;}
.footer-nav li {float:left;padding:0 0 0 18px;font:normal 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;color:#1f518e;}
.footer-nav li:first-child {padding-left:0;}
.footer-nav a {color:#1f518e;}

/* 2.7 FancyBox-- */
#fancybox-loading {position:fixed;top:50%;left:50%;width:40px;height:40px;margin-top:-20px;margin-left:-20px;cursor:pointer;overflow:hidden;z-index:1104;display:none;}
#fancybox-loading div {position:absolute;top:0;left:0;width:40px;height:480px;background-image:url('../images/common/fancybox.png');}
#fancybox-overlay {position:absolute;top:0;left:0;width:100%;z-index:1100;display:none;}
#fancybox-tmp {padding:0;margin:0;border:0;overflow:auto;display:none;}
#fancybox-wrap {position:absolute;top:0;left:0;padding:20px;z-index:1101;outline:none;display:none;}
#fancybox-outer {position:relative;width:100%;height:100%;background:#fff;}
#fancybox-content {width:0;height:0;padding:0;outline:none;position:relative;overflow:hidden;z-index:1102;border:0px solid #fff;}
#fancybox-hide-sel-frame {position:absolute;top:0;left:0;width:100%;height:100%;background:transparent;z-index:1101;}
#fancybox-close {position:absolute;top:-15px;right:-15px;width:30px;height:30px;background:transparent url('../images/common/fancybox.png') -40px 0px;cursor:pointer;z-index:1103;display:none;}
#fancybox-error {color:#444;font:normal 12px/20px Arial;padding:14px;margin:0;}
#fancybox-img {width:100%;height:100%;padding:0;margin:0;border:none;outline:none;line-height:0;vertical-align:top;}
#fancybox-frame {width:100%;height:100%;border:none;display:block;}
#fancybox-left, #fancybox-right {position:absolute;bottom:0px;height:100%;width:35%;cursor:pointer;outline:none;background:transparent url('../images/common/blank.gif');z-index:1102;display:none;}
#fancybox-left {left:0px;}
#fancybox-right {right:0px;}
#fancybox-left-ico, #fancybox-right-ico {position:absolute;top:50%;left:-9999px;width:30px;height:30px;margin-top:-15px;cursor:pointer;z-index:1102;display:block;}
#fancybox-left-ico {background-image:url('../images/common/fancybox.png');background-position:-40px -30px;}
#fancybox-right-ico {background-image:url('../images/common/fancybox.png');background-position:-40px -60px;}
#fancybox-left:hover, #fancybox-right:hover {visibility:visible;}
#fancybox-left:hover span {left:20px;}
#fancybox-right:hover span {left:auto;right:20px;}
.fancybox-bg {position:absolute;padding:0;margin:0;border:0;width:20px;height:20px;z-index:1001;}
#fancybox-bg-n {top:-20px;left:0;width:100%;background-image:url('../images/common/fancybox-x.png');}
#fancybox-bg-ne {top:-20px;right:-20px;background-image:url('../images/common/fancybox.png');background-position:-40px -162px;}
#fancybox-bg-e {top:0;right:-20px;height:100%;background-image:url('../images/common/fancybox-y.png');background-position:-20px 0px;}
#fancybox-bg-se {bottom:-20px;right:-20px;background-image:url('../images/common/fancybox.png');background-position:-40px -182px;}
#fancybox-bg-s {bottom:-20px;left:0;width:100%;background-image:url('../images/common/fancybox-x.png');background-position:0px -20px;}
#fancybox-bg-sw {bottom:-20px;left:-20px;background-image:url('../images/common/fancybox.png');background-position:-40px -142px;}
#fancybox-bg-w {top:0;left:-20px;height:100%;background-image:url('../images/common/fancybox-y.png');}
#fancybox-bg-nw {top:-20px;left:-20px;background-image:url('../images/common/fancybox.png');background-position:-40px -122px;}
#fancybox-title {font-family:Helvetica;font-size:12px;z-index:1102;}
.fancybox-title-inside {padding-bottom:10px;text-align:center;color:#333;background:#fff;position:relative;}
.fancybox-title-outside {padding-top:10px;color:#fff;}
.fancybox-title-over {position:absolute;bottom:0;left:0;color:#FFF;text-align:left;}
#fancybox-title-over {padding:10px;background-image:url('../images/common/fancy_title_over.png');display:block;}
.fancybox-title-float {position:absolute;left:0;bottom:-20px;height:32px;}
#fancybox-title-float-wrap {border:none;border-collapse:collapse;width:auto;}
#fancybox-title-float-wrap td {border:none;white-space:nowrap;}
#fancybox-title-float-left {padding:0 0 0 15px;background:url('../images/common/fancybox.png') -40px -90px no-repeat;}
#fancybox-title-float-main {color:#FFF;line-height:29px;font-weight:bold;padding:0 0 3px 0;background:url('../images/common/fancybox-x.png') 0px -40px;}
#fancybox-title-float-right {padding:0 0 0 15px;background:url('../images/common/fancybox.png') -55px -90px no-repeat;}

/* IE6 */
.fancybox-ie6 #fancybox-close {background:transparent; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/_ui/images/common/fancy_close.png', sizingMethod='scale');}
.fancybox-ie6 #fancybox-left-ico {background:transparent; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/_ui/images/common/fancy_nav_left.png', sizingMethod='scale');}
.fancybox-ie6 #fancybox-right-ico {background:transparent; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/_ui/images/common/fancy_nav_right.png', sizingMethod='scale');}
.fancybox-ie6 #fancybox-title-over {background:transparent; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/_ui/images/common/fancy_title_over.png', sizingMethod='scale'); zoom:1;}
.fancybox-ie6 #fancybox-title-float-left {background:transparent; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/_ui/images/common/fancy_title_left.png', sizingMethod='scale');}
.fancybox-ie6 #fancybox-title-float-main {background:transparent; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/_ui/images/common/fancy_title_main.png', sizingMethod='scale');}
.fancybox-ie6 #fancybox-title-float-right {background:transparent; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/_ui/images/common/fancy_title_right.png', sizingMethod='scale');}
.fancybox-ie6 #fancybox-bg-w, .fancybox-ie6 #fancybox-bg-e, .fancybox-ie6 #fancybox-left, .fancybox-ie6 #fancybox-right, #fancybox-hide-sel-frame {height:expression(this.parentNode.clientHeight + "px");}
#fancybox-loading.fancybox-ie6 {position:absolute; margin-top:0;top:expression( (-20 + (document.documentElement.clientHeight ? document.documentElement.clientHeight/2 :document.body.clientHeight/2 ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop :document.body.scrollTop )) + 'px');}
#fancybox-loading.fancybox-ie6 div	 {background:transparent; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/common/fancy_loading.png', sizingMethod='scale');}

/* IE6, IE7, IE8 */
.fancybox-ie .fancybox-bg {background:transparent !important;}
.fancybox-ie #fancybox-bg-n {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/_ui/images/common/fancy_shadow_n.png', sizingMethod='scale');}
.fancybox-ie #fancybox-bg-ne {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/_ui/images/common/fancy_shadow_ne.png', sizingMethod='scale');}
.fancybox-ie #fancybox-bg-e {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/_ui/images/common/fancy_shadow_e.png', sizingMethod='scale');}
.fancybox-ie #fancybox-bg-se {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/_ui/images/common/fancy_shadow_se.png', sizingMethod='scale');}
.fancybox-ie #fancybox-bg-s {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/_ui/images/common/fancy_shadow_s.png', sizingMethod='scale');}
.fancybox-ie #fancybox-bg-sw {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/_ui/images/common/fancy_shadow_sw.png', sizingMethod='scale');}
.fancybox-ie #fancybox-bg-w {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/_ui/images/common/fancy_shadow_w.png', sizingMethod='scale');}
.fancybox-ie #fancybox-bg-nw {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/_ui/images/common/fancy_shadow_nw.png', sizingMethod='scale');}

/* 2.8 FancyBox-- */
.fancy-button span.fancy {overflow:hidden;display:block; overflow:visible; float:left; width:56px; height:20px; margin-right:1px; font:11px Arial, sans-serif; background-image:url("../images/common/fancy_it.png"); background-repeat:no-repeat; color:rgb(84, 123, 170); text-indent:-9999em;}
.fancy-button:hover span.fancy {background-position:0 -21px;}
.fancy-button strong {display:none; text-decoration:none; overflow:visible; float:left; padding-right:2px; font:12px/20px Arial, Helvetica, sans-serif; color:rgb(76, 81, 92); background-image:url("../images/common/fancy_it.png"); background-position:100% -126px; background-repeat:no-repeat;}
.fancy-button strong span {display:block; min-width:20px; height:20px; padding:0pt 2px 0pt 8px; text-align:center; background-image:url("../images/common/fancy_it.png"); background-position:0pt -84px; background-repeat:no-repeat; cursor:pointer; line-height:1.7;font-weight:bold;}
.fancy-button-count strong {display:block;}
.fancy-button-fancied span.fancy {background-position:0 -42px;}
.fancy-button-fancied:hover span.fancy {background-position:0 -63px;}

/* Loading */
body.loading .container .wrapper-content {display:none;}

/* Layout */
#content, .wrapper-content, .sign.up4 #content { margin:0 0 0 70px;padding:20px;background:#fff;-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);}
.wider #content, .page-home #content {width:640px;margin:0;padding:20px;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;}
.wrapper-content {clear:both;padding:0;}
.gift-complate #content {margin:0;}
.page-home #content {width:auto;padding:0;background:none;}
.page-home .wrapper-content {margin-top:20px;padding:20px;}
.page-home .wrapper-content:first-child {margin-top:0;}
.left-sidebar {background:#fff url(../images/common/separator_grey.png) repeat-y 239px 0;}
.right-sidebar {background:#fff url(../images/common/separator_grey.png) repeat-y 680px 0;}
.left-sidebar #content {float:right;}
.right-sidebar #content {float:left;}
.sign.up4 #content {clear:both;}

/* ** I18N part* */
.lang-fr #sidebar .greenbook strong, .lang-es #sidebar .greenbook strong, .lang-fil #sidebar .greenbook strong, .lang-id #sidebar .greenbook strong, .lang-pl #sidebar .greenbook strong, .lang-pt-br #sidebar .greenbook strong, .lang-pt #sidebar .greenbook strong, .lang-tr #sidebar .greenbook strong,.lang-pt #sidebar .greencart strong,.lang-pt-br #sidebar .greencart strong, .lang-de #sidebar .greencart strong, .lang-da #sidebar .greencart strong {padding: 8px 0 8px 15px; }
.lang-es .figure-product .button, .lang-ja #slideshow .button, .lang-ja .figure-product .button, .lang-ja #slideshow .button, .lang-pt .figure-product .button, .lang-pt #slideshow .button, .lang-da .figure-product .button, .lang-da #slideshow .button {width:95px; margin-left:-85px; }
.lang-ko .figure-product .button, .lang-ko #slideshow .button {font-size:17px; }
.lang-ar {direction: rtl;unicode-bidi: embed;}
.lang-ar, .lang-ar #navigation-new li li a, .lang-ar #navigation-new li.current li a, .lang-ar fieldset, .lang-ar #sidebar .sidebar-nav h2, .lang-ar .add-option .add-txt .add-option-item input, .lang-ar .new-mypage .ptit-mypage, .lang-ar #fancy-share h3 span, .lang-ar .fancy-popup h3,.lang-ar #sidebar .user-section h2, .lang-ar .figure-product .button, .lang-ar #slideshow .button {text-align:right;}
.lang-ar div.deals-more, .lang-ar #fancy-share .btn-area, .lang-ar #cart_popup .summary, .lang-ar #cart_popup .button {text-align:left;}
.lang-ar #navigation-new .right li, .lang-ar #navigation-new li:last-child li {float:none;}
.lang-ar #header .site-name, .lang-ar #header .site-name a, .lang-ar #header .site-name span, .lang-ar #navigation-new, .lang-ar #header .notification-count, .lang-ar .add-1 button, .lang-ar #lang_popup .btn-add .ic-lang, .lang-ar .add-1 .browse, .lang-ar .footer-nav, .lang-ar #navigation-new li, .lang-ar .footer-nav li, .lang-ar .left-sidebar #sidebar, .lang-ar .right-sidebar #content, .lang-ar .add-option h3.add-stit, .lang-ar .mini-feeds li img,.lang-ar .fancy-popup a.button.unfancy,.lang-ar .button.follow span,.lang-ar .button.following span, .lang-ar .search-box .search .text {float:right;}
.lang-ar .r-nav #lang_link, .lang-ar #invitation-reminder .bttn, body.browse.lang-ar .slideshow-button, .lang-ar .follow-twitter, .lang-ar .add-1 button, .lang-ar .right-sidebar #sidebar, .lang-ar .add-option .add-txt,.lang-ar .add-option-btn .add-option-btn-right, .lang-ar .fancy-popup a.button.add-to-list, .lang-ar #cart_popup ul .price, .lang-ar .search-box .search .btn-submit, .lang-ar .search-box .search {float:left;}
.lang-ar #header .notification-count {margin:7px 14px 0 0;}
.lang-ar #lang_popup .btn-add .ic-lang {margin:1px 0 0 4px;}
.lang-ar .r-nav #lang_popup {right:709px;}
.lang-ar #navigation-new .mn-browse-div {margin-left:-340px !important;background-position: 340px 0 !important;}
.lang-ar #navigation-new .mn-browse-div div.things li {margin:0 0 0 10px;}
.lang-ar #invitation-reminder p {margin:0 64px 0 150px}
.lang-ar #invitation-reminder .avatar_plus_ {left:615px;}
.lang-ar #invitation-reminder .close_ {left:660px;}
.lang-ar a.button.fancy, .lang-ar a.button.fancyd {padding:0 60px 0 15px;}
.lang-ar a.button.fancy span, .lang-ar a.button.fancyd span {left:105px;border-radius:0 4px 4px 0;border:0;border-left:1px solid #4A9528;}
.lang-ar #navigation-new .mn-you img {position:absolute;top:9px;right:10px;}
.lang-ar #navigation-new .mn-you {padding:0 35px 0 15px;}
.lang-ar .left-sidebar {background-position: 680px 0;}
.lang-ar .footer-nav li:first-child {padding-left:18px;}
.lang-ar .right-sidebar {background-position: 239px 0;}
.lang-ar .add-option .add-txt .add-option-item input {background-position:130px 9px;padding:0 30px 0 0;}
.lang-ar .mini-feeds li {padding:0 38px 0 0;}
.lang-ar .mini-feeds li img {margin-right:-38px;margin-left:0;}
.lang-ar .invite-email input, .lang-ar .invite-url input {margin:0 0 0 3px;}
.lang-ar .invite-send button {margin:0 0 0 7px;}
.lang-ar .catalog-lists .nickname span, .lang-ar .social-accounts li, .lang-ar .social-accounts li a, .lang-ar .tabs li, .lang-ar .new-mypage .settings p, .lang-ar .settings label, .lang-ar .settings input, .lang-ar .settings textarea, .lang-ar .settings select, .lang-ar .my-menu li, .lang-ar #cart_popup ul img, .lang-ar #cart_popup ul .info,.lang-ar #cart_popup .summary strong {float:right;}
.lang-ar .new-mypage .settings label {text-align:right;margin:0 -190px 0 0}
.lang-ar .new-mypage .settings p {padding:5px 190px 5px 0;text-align:right;}
.lang-ar .new-mypage .settings .user-photo {padding:10px 320px 39px 0;}
.lang-ar .new-mypage .settings .user-photo label {margin:0 -320px 0 0}
.lang-ar .new-mypage .setting-form .user-photo img {left:625px;}
.lang-ar .new-mypage .setting-links [class^="ic"] {left:745px;}
.lang-ar .new-mypage .setting-links p {padding:7px 240px 7px 0;}
.lang-ar .new-mypage .settings li label, .lang-ar .new-mypage .setting-links .check {margin:0;}
.lang-ar .new-mypage .setting-links label {margin-right:-240px;}
.lang-ar .my-menu {right:688px;}
.lang-ar .new-mypage .btn-blue-embo-setting {margin:30px 190px 0 0;}
.lang-ar .followers-listing .vcard {padding:10px 70px 10px 0;}
.lang-ar .followers-listing .vcard a {float:right;}
.lang-ar .followers-listing .vcard .photo {left:580px;}
.lang-ar .followers-listing .vcard .fancyd-stuff-list {float:left;margin-top:-14px;}
.lang-ar .followers-listing li .follow-user-link {clear:right;}
.lang-ar .notifications a.i, .lang-ar .notifications a.u, .lang-ar .notifications i.icon {float:right;margin:0 0 0 10px;}
.lang-ar #fancy-share .fancy-close-x {border:0;right:425px;border-right:1px solid #D7D7D8;}
.lang-ar #fancy-share .email-frm span.add {padding:0 2px 0 0;}
.lang-ar .fancy-popup .fancy-close-x {right:530px;}
.lang-ar .item-categories #new-category {padding:4px 21px 6px 5px}
.lang-ar #notification-bar.top div {background-position:733px 50%;}
.lang-ar #notification-bar.top p {padding-left:0;padding-right:35px;}
.lang-ar #notification-bar a.add {right:555px;}
.lang-ar #notification-bar button.close {right:730px;}
.lang-ar .button.following span, .lang-ar .button.follow span {border-radius:0 3px 3px 0;}
.lang-ar #cart_popup ul .info, .lang-ar #cart_popup #view_cart {margin:0 10px 0 0;}
.lang-ar .search-box .trigger {right:100%;}
.lang-fil #invitation-reminder p {margin-right:0;padding-bottom:45px;}
.lang-fil #invitation-reminder .bttn {position:absolute;bottom:15px;right:230px;}
.alng-fil #notification-bar.top p {width:500px;}