@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Raleway);

@font-face {
  font-family: 'desert-hack';
  src:url('../fonts/desert-hack.eot');
  src:url('../fonts/desert-hack.eot?#iefix') format('embedded-opentype'),
    url('../fonts/desert-hack.woff') format('woff'),
    url('../fonts/desert-hack.ttf') format('truetype'),
    url('../fonts/desert-hack.svg#desert-hack') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'desert-hack';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="dicon-"] {
*/
.dicon-arrow-right, .dicon-logout, .dicon-chat, .dicon-search, .dicon-unlocked, .dicon-lock, .dicon-bubble, .dicon-calendar, .dicon-user, .dicon-noun_project_4901, .dicon-edit, .dicon-noun_project_285, .dicon-friends, .dicon-gift, .dicon-badge, .dicon-arrow-left {
  font-family: 'desert-hack';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.dicon-arrow-right:before {
  content: "\e007";
}
.dicon-logout:before {
  content: "\e008";
}
.dicon-chat:before {
  content: "\e001";
}
.dicon-search:before {
  content: "\e002";
}
.dicon-unlocked:before {
  content: "\e004";
}
.dicon-lock:before {
  content: "\e005";
}
.dicon-bubble:before {
  content: "\e009";
}
.dicon-calendar:before {
  content: "\e00b";
}
.dicon-user:before {
  content: "\e00c";
}
.dicon-noun_project_4901:before {
  content: "\e00e";
}
.dicon-edit:before {
  content: "\e000";
}
.dicon-noun_project_285:before {
  content: "\e003";
}
.dicon-friends:before {
  content: "\e00a";
}
.dicon-gift:before {
  content: "\e010";
}
.dicon-badge:before {
  content: "\e006";
}
.dicon-arrow-left:before {
  content: "\e00d";
}
.dicon-badge{
  width: 20px;
  height: 24px;
  overflow: hidden;
}
.dicon-calendar,.dicon-edit,.dicon-gift,.dicon-arrow-right,.dicon-user,.dicon-bubble{
  margin-top: -2px;
}

*{
  font-family: 'Raleway', sans-serif;
}

.container-fluid, .top{
  padding:0px;
  width: 100%;
}

.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  font-size: 0;
}
 
.clearfix {
  display: inline-block;
}
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

a,a:hover{
  color: #000;
  text-decoration: none;
}

.row{
  margin-top: 20px;
}
.navbar{
  padding: 0;
  margin: 0;
  width: 100%;
}

.navbar-inner{
  border-radius: 0px;
  padding: 0;
  /*min-height: 75px;*/
  min-width: 1295px;
  background-color: #fff;
  background-image: none; 
}

.navbar .brand{
  padding: 0;
  margin: 0;
  padding-top: 11px;
  min-height:32px;
  width: 17.994255319148934%;
  font-weight: bold;
  color: #000;
  background-color: #f4f4f4;
}

.navbar .brand .logo{
  width: 38px;
  height: 21px;
  margin-left: 5%;
  margin-right: 5%;
  float: left;
  background:  url('../img/logo-img.png') no-repeat;
}

.navbar .brand .name{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  float: left;
}

.navbar .nav{
  margin: 0;
  padding: 0;
  width: 81.95%;
  float: left;
  /*min-height: 55px;*/
}

.navbar .nav>li{
  width: 17%;
  min-height: 43px;
  border-right: 1px solid #919191;
}

.navbar .nav>li:last-child{
  border-right: none;
}

.navbar .nav>li .user{
  height: 35px;
  width: 35px;
  background: url('../img/user-small.png') no-repeat top left;
  margin: 0 auto;
  margin-top: 3px;
}

.navbar .nav>li>a{
  color: #000;
  width: 108px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 0;
}

.navbar .nav>li .long{
  width: 129px;
}

.navbar .nav>li>a div{
  font-size: 1.1em;
  float: left;
}

.navbar .nav>li>a>div[class|="dicon"]{
  margin-right: 10px;
  font-size: 1.2em;
}

.navbar .nav>li:hover{
  background-color: #f4f4f4;
}

.navbar .nav .small-bar{
  width: 6.2495%;
  padding: 0;
}

.navbar .nav .small-bar>a{
  width: 24px;
  margin: 0 auto;
  margin-top: 4px;
}

.navbar .nav .small-bar>a>div[class|="dicon"]{
  margin-top: 2px;
  font-size: 1.5em;
}

.navbar .nav .image{
  padding: 0;
}

.navbar .nav .active{
  background-color : #f4f4f4;
  color: #000;
}

.navbar .nav .active>a{
  color: #000;
  background: none;
  box-shadow: none;
}

.navbar .nav .active>a:hover{
  background: none;
  box-shadow:none;
}

.body{
  min-width: 1295px;
  overflow: hidden;
}

.body .sidebar{
  width: 18.054255319148934%;
  background-color: #232323;
  border-right: 1px solid #919191;
  padding-bottom: 100%;
  margin-bottom: -100%;
  color: #898989;
}

.body .left-tab{
  float: left;
  width: 11.5%;
  height: 32px;
  padding-top: 12px;
  padding-left: 6.5%;
  border-bottom: 1px solid #000;
  
}

.body .right-tab{
  float: left;
  width: 76.5%;
  height: 32px;
  padding-top: 12px;
  padding-left: 5%;
  border-bottom: 1px solid #2e2e2e;
  border-left: 1px solid #2e2e2e;
}

.body .sidebar .panel-small .no-border-left{
  border-left: none;
}

.body .sidebar a{
  text-decoration: none;
}

.body .sidebar span{
  font-size: 1em;
  float: left;
}

.body .sidebar span[class|="dicon"]{
  font-size: 1.3em;
}

.body .sidebar .user .dicon-arrow-right{
  float: right;
}

.body .sidebar .univ{
  min-height: 60px;
  width: 100%;
  background-color: #0b1668;
  color: #fff;
}

.body .sidebar .white{
  background-color: #fff;
  color: #000;
}

.body .sidebar .univ .left-tab, .body .sidebar .univ .right-tab{
  border: none;
}

.body .sidebar .univ .left-tab{
  padding-top: 18px;
}

.body .sidebar .univ .right-tab div{
  float: left;
  margin-top: 8px;
  font-size: 1em;
}

.body .sidebar .univ .michigan-symbol{
  float: left;
  width: 30px;
  height: 22px;
  background: url('../img/michigan.png') no-repeat;
}

.body .sidebar .univ .stanford-symbol{
  float: left;
  width: 48px;
  height: 35px;
  background: url('../img/stanford.jpg') no-repeat;
}

.body .sidebar .univ-img{
  width: 100%;
  min-height: 180px;
  background: url('../img/college.jpg') no-repeat -45px -65px;
}

.body .sidebar .univ-info{
  height: 79px;
  background: #fff;
  border-top: 1px solid #e5e5e5;
}

.body .info-panel{
  float:left;
  width: 33%;
  height: 60px;
  padding-top: 19px;
  border-right: 1px solid #e5e5e5;
}

.body .info-panel .number{
  display: block;
  float: none;
  width: 44px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 26px;
  color: #000;
}

.body .info-panel .small{
  display: block;
  float: none;
  width: 62px;
  margin: 0 auto;
  font-size: 10px;
  font-weight: lighter;
  color: #000;
}

.body .info-panel:last-child{
  border: none;
}

.body .panel-small{
  width: 100%;
}

.body .sidebar .panel-small .image{
  float: left;
  width: 32px;
  height: 32px;
  background: url('../img/orange.png') no-repeat;
}

.body .sidebar .hoa{
  color: #fff;
  background: #6a5a8c;
}

.body .sidebar .hoa .dicon-user, .body .sidebar .dicon-bubble,.body .sidebar .dicon-user,
.body .sidebar .user .image{
  /*margin-left: 30%;*/
}

.body .sidebar .user{
  color: #898989;
}

.body .sidebar .user .left-tab, .body .sidebar .user .right-tab{
  border-bottom: none;
}

.body .sidebar .newsfeed-label{
  background: #5a9aa8;
  color: #fff;
}

.body .sidebar .newsfeed{
  font-size: 12px;
  color: #898989;
}

.body .sidebar .news:last-child{
  border-bottom: 1px solid #2e2e2e;
}

.body .sidebar .news>span{
  margin-right: 12.75%;
}

.body .sidebar .news .left-tab, .body .sidebar .news .right-tab{
  border-bottom: none;
  padding-top: 25px;
}

.body .sidebar .news:last-child .left-tab, .body .sidebar .news:last-child .right-tab{
  padding-bottom: 10px;
}

.body .sidebar .colleges{
  list-style: none;
  font-size: 1.1em;
  margin: 0px;
}

.body .sidebar .colleges .panel-small:first-child .left-tab, .body .sidebar .colleges .panel-small:first-child .right-tab{
  padding-top: 25px;
}

.body .sidebar .colleges .left-tab{
  width: 13.5%;
  padding-left: 4.5%;
}

.body .sidebar .colleges .panel-small:last-child .left-tab, .body .sidebar .colleges .panel-small:last-child .right-tab{
  padding-bottom: 25px;
  border-bottom: 1px solid #2e2e2e;
}

.body .sidebar .colleges .left-tab, .body .sidebar .colleges .right-tab{
  border-bottom: none;
}

.body .main{
  background: #f4f4f4;
  min-height:940px;
  /*min-width: 1230px;*/
  margin: 0;
  width: 81.946%;
  padding-left: 1%;
  padding-right: 1%;
}

.body .main .header div{
  float:left;
  margin-right: 10px;
  margin-top: 2px;
}

.body .main .fundraiser_container a, .body .main .campaign a{
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  display: block;
}

.body .main .campaign-container div[class|="dicon"]{
  font-size: 90px;
  width: 90px;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.body .main .searchbar{
  margin-top: 40px;
  border: 1px solid #919191;
  border-bottom: none;
}

.body .main .searchbar .dicon-search{
    font-size: 1.3em;
    margin: 0px;
    margin-left: 39%;
    height: auto;
}

.body .main .searchbar .green{
  float: left;
  width: 5.4%;
  height: 38px;
  padding-top: 12px;
}

.body .main .searchbar .searchpanel{
  float: left;
  width: 84%;
  color: #919191;
}

.body .main .searchbar .searchpanel .left{
  float: left;
  font-size: 1.2em;
  margin-top: 15px;
  margin-left: 1.5%;
}

.body .main .searchbar .searchpanel .right{
  float: right;
  margin-top: 15px;
  margin-right: 2%;

}

.body .main .searchbar .carousel{
  float: right;
  width: 10.6%;
  margin: 0;
}

.body .main .searchbar .carousel>div{
  width: 48%;
  float: left;
  border-left: 1px solid #919191;
  height: 50px;
}

.body .main .searchbar .carousel .dicon-arrow-left{
  width: 18px;
  font-size: 1.3em;
  color: grey;
  margin: 0 auto;
  height: auto;
  margin-top: 15px;
}

.body .main .searchbar .carousel .dicon-arrow-right{
  width: 18px;
  font-size: 1.3em;
  color: grey;
  margin: 0 auto;
  height: auto;
  margin-top: 15px;
}

.body .main .table{
  width: 100%;
  font-size: 16px;
  border: 1px solid #919191;
  background: #fff;
}

.table a{
  color: #000;
}

.body .main .table .right-align{
  text-align: right;
}

.body .main .table thead th{
  border-bottom: 1px solid #000;
}

.body .main .table tbody td{
  border: none;
}

.body .main .table tbody td, .body .main .table th{
  padding: 20px;
  border-right: 1px solid #e3e3e3;
}

.body .main .table th:last-child, .body .main .table tbody td:last-child{
  border-right: none;
}

.body .main .header{
  clear: both;
}

.body .body-main{
  padding-bottom: 40px;
  border-bottom: 1px solid #ababab;
  margin-top: 20px;
}

.body .main .main-container{
  margin: 0 auto;
  width: 986px;
}

.body .main .carousel-arrow{
  font-size: 15px;
  width: 25px;
  height: 28px;
  margin: 0 auto;
  float: left;
  margin-top: 175px;
  color: #fff;
  background-color: #75796f;
  border-radius: 5px;
  padding-top:7px;
  padding-left: 10px;
}


.body .main #campaigns-list{
  /*min-width: 1157px;*/
  display: block;
  float: left;
  width: 870px;
  margin: 0 auto;
  margin-right: 2.3%;
  margin-left: 2.3%;
}

.body .main #campaigns-list .campaign{
  width: 22.3%;
  float: left;
  background: #fff;
  border: 1px solid #9a9a9a;
  margin-right: 1.90%;
}

.body .main #campaigns-list .margin-long{
  margin-right:3.22%;
}

.body .main #campaigns-list .locked{
  background: rgba(255,255,255,0.6);
  z-index: 1030;
}

.body .main #campaigns-list .campaign .campaign-container{
  margin-left: 4%;
  margin-right: 4%;
}

.body .main #campaigns-list .campaign:last-child{
  margin: 0;
}

.body .main .heading{
  width: 165px;
  font-size: 0.8em;
  margin: 0 auto;
  margin-top: 10px;
}

.progress {
  height: 7px;
  overflow: hidden;
  margin-bottom: 5px;
  background-color: #c8c2d5;
  background-image: -moz-linear-gradient(top, #c8c2d5, #c8c2d5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c8c2d5), to(#c8c2d5));
  background-image: -webkit-linear-gradient(top, #c8c2d5, #c8c2d5);
  background-image: -o-linear-gradient(top, #c8c2d5, #c8c2d5);
  background-image: linear-gradient(to bottom, #c8c2d5, #c8c2d5);
  background-repeat: repeat-x;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;       
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#c8c2d5', endColorstr='#c8c2d5', GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress .bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #0e90d2;
  background-image: -moz-linear-gradient(top, #6a5a8c, #6a5a8c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6a5a8c), to(#6a5a8c));
  background-image: -webkit-linear-gradient(top, #6a5a8c, #6a5a8c);
  background-image: -o-linear-gradient(top, #6a5a8c, #6a5a8c);
  background-image: linear-gradient(to bottom, #6a5a8c, #6a5a8c);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#6a5a8c', endColorstr='#6a5a8c', GradientType=0);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
     -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: width 0.6s ease;
     -moz-transition: width 0.6s ease;
       -o-transition: width 0.6s ease;
          transition: width 0.6s ease;
}

.body .main #campaigns-list .campaign .bold{
  font-size: 1.1em;
  width: 210px;
}

.body .main #campaigns-list .campaign .campaign-image{
  min-height: 130px;
  margin-top:5px;
  background:#232323 url('../img/campaign-placeholder.jpg') no-repeat top left;
}

.body .main #campaigns-list .campaign .campaign-name{
  min-height: 35px;
  padding-top: 5px;
  border-bottom: 1px solid #ababab;
}

.body .main #campaigns-list .campaign .campaign-name .user{
  height: 35px;
  width: 35px;
  background: url('../img/user-small.png') no-repeat top left;
  margin: 0 auto;
  float: left;
  margin-bottom: 5px;
  margin-right: 5px;
}

.body .main #campaigns-list .campaign .campaign-name .name{
  font-size: 12px;
  font-weight: bold;
  letter-spacing: -1px;
  float: left;
  padding-top: 1%;
  margin-right: 3%;
}

.body .main #campaigns-list .campaign .campaign-name .name small{
  display: block;
  margin-top: -8px;
}

.body .main #campaigns-list .campaign .number{
  font-size: 1.3em;
  font-weight: bold;
}

.body .main #campaigns-list .campaign .campaign-info{
  margin: 0 auto;
  margin-top: 5px;
  font-size: 13px;
  clear: both;
}

.body .main #campaigns-list .campaign .campaign-details{
  margin-top: 5px;
  margin-bottom: 10px;
}

.body .main #campaigns-list .campaign .campaign-details .info-panel{
  border: none;
  padding-top: 7px;
  height: auto;
}

.body .main #campaigns-list .campaign .campaign-details .info-panel .number{
  width: 32px;
}

.body .main #campaigns-list .campaign .campaign-details .info-panel .small{
  width: 45px;
}

.body .main #campaigns-list .campaign .campaign-details .info-panel .left{
  float: left;
}

.body .main #campaigns-list .campaign .campaign-details .info-panel .right{
  float: right;
}

.body .main #campaigns-list .campaign .campaign-details .user-image{
  width: 45px;
  min-height: 45px;
  background: #fff url('../img/user-small.png') no-repeat center;
  float: left;
}

.body .main #campaigns-list .campaign .campaign-details .user-info{
  font-size: 11px;
  margin-left: 15px;
  float: right;
  letter-spacing: -1px;
}

.body .main #campaigns-list .campaign .campaign-details .user-info .name{
  display: block;
  letter-spacing: 0;
  font-size: 12px;
}

.body .main #campaigns-list .campaign .campaign-details .stats{
  overflow: hidden;
  clear: both;
  margin-bottom: 20px;
  border-top: 1px solid #bcbcbc;
}

.body .main #campaigns-list .campaign .campaign-details .stats .info-panel{
  border: none;
  width: 50%;
}

.body .main #campaigns-list .campaign .campaign-details .stats .info-panel .number{
  width: 50px;
  font-size: 26px;
  margin-bottom: 10px;
}

.body .main #campaigns-list .campaign .campaign-details .stats .info-panel .small{
  width: 45px;
}

.body .main #campaigns-list .campaign .donate{
  height: 35px;
  width: 152px;
  margin:0 auto;
  padding-top: 11px;
}

.body .main #campaigns-list .campaign .donate span:first-child{
  margin-right:15px;
}

.body .main #campaigns-list .campaign .start-campaign{
  width: 148px;
}

.body .main #campaigns-list .campaign .start-campaign span:first-child{
  margin: 0;
}

.body .main .univ-stats{
  margin-top: 30px;
  clear: both;
  display: block;
}

/********* Need to do something about these circles. Code not implemented properly. ***************/

.body .main .univ-stats .rankers .blue{
  float: left;
  width: 24px;
  height: 24px;
  margin-right: 6%;
  background: url('../img/blue.png') no-repeat;
}

.body .main .univ-stats .rankers .green{
  float: left;
  width: 24px;
  height: 24px;
  margin-right: 6%;
  background: url('../img/green.png') no-repeat;
}

.body .main .univ-stats .rankers .orange{
  float: left;
  width: 24px;
  height: 24px;
  margin-right: 6%;
  background: url('../img/orange.png') no-repeat;
}

.body .main .univ-stats .rankers .pink{
  float: left;
  width: 24px;
  height: 24px;
  margin-right: 6%;
  background: url('../img/pink.png') no-repeat;
}

.body .main .univ-stats .rankers{
  list-style: none;
}

.body .main .univ-stats .rankers>li:before{
  width:24px;
  height:24px;
  background: url('../img/green.png') no-repeat;
}

.body .main .univ-stats .top-donors, .body .main .univ-stats .top-recruiters, .body
.main .univ-stats .top-fundraisers{
  float: left;
  min-height: 350px;
  background: #fff;
  border: 1px solid #9a9a9a;
}

.body .main .univ-stats .top-donors, .body .main .univ-stats .top-fundraisers{
  width: 37.28%;
  margin-right: 3.96%;
}

.body .main .univ-stats .top-recruiters{
  width: 16.66%;
}

.body .main .univ-stats .heading{
  margin-left: 3.91%;
  margin-right: 3.91%;
  padding-bottom: 10px;
  width: 92%;
  font-weight: bold;
  border-bottom: 1px solid #c8c8c8;
}

.body .main .univ-stats .top-donors .heading>span{
  display: block;
  width: 115px;
  margin: 0 auto;
}

.body .main .univ-stats .top-fundraisers .heading>span{
  display: block;
  width: 147px;
  margin:0 auto;
}

.body .main .univ-stats .top-recruiters .heading>span{
  display: block;
  width: 137px;
  margin: 0 auto;
}

.body .main .univ-stats .statistics{
  height: 100%;
}

.body .main .univ-stats .statistics .infograph{
  width: 50%;
  height: 100%;
  float: left;
  margin-top: 30px;
}

.body .main .univ-stats .statistics .infograph>span{
  font-size: 144px;
  width: 126px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.body .main .univ-stats .statistics .infograph .gender-info{
  min-height: 80px;
  margin-bottom: 10px;
}

.body .main .univ-stats .statistics .infograph .stats .info-panel{
  border: none;
}
.body .main .univ-stats .statistics .rankers{
  margin-top: 30px;
  width: 40%;
  float: right;
}

.body .main .univ-stats .statistics .rankers>li{
  font-size: 16px;
  margin-bottom: 40px;
}

.body .main .univ-stats .top-recruiters .statistics .rankers{
  width: 85%;
}

.body .main .fundraiser_container{
  background: #fff;
  border: 1px solid #919191;
  min-height: 700px;
}

.body .main .fundraiser_container form{
  margin: 0px;
}

.body .main .fundraiser_container .container{
  width: 30%;
  margin: 0 auto;
  margin-top: 110px;
}

.body .main .fundraiser_container .heading{
  font-size: 2.5em;
  width: 100%;
  margin-bottom: 0.6em;
  text-align: center;
}

.body .main .fundraiser_container .university_select{
  background: #336666;
  height: 56px;
  padding-top: 6px;
}

.body .main .fundraiser_container .select{
  height: 50px;
  width: 97%;
  margin: 0 auto;
  margin-top: 0px;
  background: url('../img/icon-down.png') no-repeat 95% #fff;
}

.body .main .fundraiser_container select{
  width: 100%;
  margin-bottom: 0px;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  border: none;
  height: 50px;
  font-size: 1.3em;
  background: transparent;
}

/* Circles */

.body .blue-circle{
  float: left;
  width: 24px;
  height: 24px;
  margin-right: 6%;
  background: url('../img/blue.png') no-repeat;
}

.body .green-circle{
  float: left;
  width: 24px;
  height: 24px;
  margin-right: 6%;
  background: url('../img/green.png') no-repeat;
}

.body .orange-circle{
  float: left;
  width: 24px;
  height: 24px;
  margin-right: 6%;
  background: url('../img/orange.png') no-repeat;
}

.body .pink-circle{
  float: left;
  width: 24px;
  height: 24px;
  margin-right: 6%;
  background: url('../img/pink.png') no-repeat;
}

.body .fundraiser_container ul{
  margin: 0px;
  background: #232323;
  color: #fff;
  margin-bottom: 10px;
}

.body .fundraiser_container .fund_select{
  font-size: 1.1em;
}

.body .fundraiser_container ul .left-tab, .body .fundraiser_container ul .right-tab{
  height: 36px;
  padding-top: 16px;
}

.body .fundraiser_container ul .left-tab{
  font-size: 1.2em;
}

.body .fundraiser_container ul .tick:before{
  content: "\2713\0020";
}

.body .fundraiser_container ul .cross:before{
  content: "\2716";
}

.body .fundraiser_container .continue{
  height: 40px;
  padding-top: 20px;
  font-size: 1.2em;
  margin-bottom: 50px;
}

.body .fundraiser_container .continue div:first-child{
  float: left;
  width: 87%;
  display: inline-block;
  text-align: center;
}

.body .fundraiser_container .continue div:last-child{
  float: right;
  margin-right: 4%;
  color: rgba(255,255,255,0.3);
}

.body .fundraiser_container .small{
  width: 78%;
  float: right;
  margin-bottom: 50px;
}

.body .fundraiser_container .small .continue{
  margin-bottom: 0px;
}

.body .fundraiser_container .back{
  width: 20%;
  float: left;
  height: 40px;
  padding-top: 20px;
  font-size: 1.2em;
}

.body .fundraiser_container .back div{
  text-align: center;
}

.body .fundraiser_container textarea,.body .fundraiser_container input[type="text"],.body .fundraiser_container input[type="password"],.body .fundraiser_container input[type="datetime"],.body .fundraiser_container input[type="datetime-local"],.body .fundraiser_container input[type="date"],.body .fundraiser_container input[type="month"],.body .fundraiser_container input[type="time"],.body .fundraiser_container input[type="week"],.body .fundraiser_container input[type="number"],.body .fundraiser_container input[type="email"],.body .fundraiser_container input[type="url"],.body .fundraiser_container input[type="search"],.body .fundraiser_container input[type="tel"],.body .fundraiser_container input[type="color"],.body .fundraiser_container .uneditable-input{
  width: 95.2%;
  height: 50px;
  font-size: 1.2em;
  border-radius: 0px;
  border: 2px solid #ccc;
}

.body .fundraiser_container textarea{
  height: 300px;
}

.body .fundraiser_container textarea:focus,.body .fundraiser_container input[type="text"]:focus,.body .fundraiser_container input[type="password"]:focus,.body .fundraiser_container input[type="datetime"]:focus,.body .fundraiser_container input[type="datetime-local"]:focus,.body .fundraiser_container input[type="date"]:focus,.body .fundraiser_container input[type="month"]:focus,.body .fundraiser_container input[type="time"]:focus,.body .fundraiser_container input[type="week"]:focus,.body .fundraiser_container input[type="number"]:focus,.body .fundraiser_container input[type="email"]:focus,.body .fundraiser_container input[type="url"]:focus,.body .fundraiser_container input[type="search"]:focus,.body .fundraiser_container input[type="tel"]:focus,.body .fundraiser_container input[type="color"]:focus,.body .fundraiser_container .uneditable-input:focus{
  border: 2px solid #1f7f5c;
}

.body .fundraiser_container .upload_image{
  height: 180px;
  border: 2px solid rgba(0,0,0,0.3);
  margin-bottom: 10px;
  padding-top: 20px;
  padding-left: 10px;
  color: #919191;
  font-size: 1.2em;

}

.body .fundraiser_container .upload_video{
  height: 180px;
  border: 2px solid rgba(0,0,0,0.3);
  margin-bottom: 10px;
  padding-top: 20px;
  padding-left: 10px;
  color: #919191;
  font-size: 1.2em;
}

.body .fundraiser_container .upload_image .image{
  background: #fff url('../img/image-upload.jpg') no-repeat center;
  margin-top: 60px;
  width: 100%;
  height: 80px;
}

.body .fundraiser_container .upload_video .image{
  background: #fff url('../img/video-upload.jpg') no-repeat center;
  margin-top: 40px;
  width: 100%;
  height: 100px;
}

.body .fundraiser_container .share_container{
  background: #232323;
  padding-top: 10px;
  padding-left: 2%;
  padding-bottom: 10px;
}

.body .fundraiser_container .share_container form .user-image{
  background: url('../img/user-image.jpg') no-repeat;
  height: 58px;
  width: 11.035%;
  float:left;
}

.body .fundraiser_container .share_container form input:first-of-type{
  width:53%;
  border:none;
  float:left;
  margin-left: 4%;
}

.body .fundraiser_container .share_container form input:nth-of-type(2){
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background: #1a7e5a;
  color: #fff;
  height: 58px;
  width: 27%;
}

.body .fundraiser_container .share_container form label{
  display: inline-block;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  font-size: 13px;
  color: #fff;
  float: left;
  margin-top: 5px;
}

.body .fundraiser_container .share_container form label:first-of-type{
  clear: left;
  margin-left: 94px;
  margin-right: 50px;
}

.body .fundraiser_container .share_container form input[type='checkbox']{
  display: none;
}

.body .fundraiser_container .share_container form label:before{
  content: "";
  display: inline-block;

  width: 27px;
  height: 27px;

  margin-right: 10px;
  position: absolute;
  left: -15px;
  bottom: -3px;
  background-color: #3b5998;
}

.body .fundraiser_container .share_container form label:last-of-type:before{
  background-color: #4099ff;
}

.body .fundraiser_container .share_container form input[type=checkbox]:checked + label:before {
  content: "\2713\0020";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  font-size: 22px;
  color: #f3f3f3;
  text-align: center;
  vertical-align: middle;
  line-height: 22px;
}

 

.body .main .fundraiser_container .large{
  width: 40%;
}

.body .fundraiser_container .large .heading{
  width: 9.3em;
}


/*Colors*/

.pink{
  background: #e76e66;
  color: #fff;
 
}

.green{
  background: #1f7f5c;
  color: #fff;

}

.maroon{
  background: #8b5d79;
  color: #fff;

}

.purple{
  background: #6b5b8c;
  color: #fff;
 
}

.blue{
  background: #5a9aa8;
  color: #fff;

}

.black{
  background: #232323;
  color: #fff;
}

.red{
  background: #ff6666;
  color: #fff;
}

.pink .left-tab, .pink .right.tab, .green .left-tab, .green .right.tab, .purple .left-tab, .purple .right.tab,
.maroon>.left-tab, .maroon>.right.tab, .blue>.left-tab, .blue>.right.tab{
  /*border-bottom: none;*/
}