body {
	padding-top: 42px;
	background:#eef0f6 url('../img/bg_body.png') repeat 50% 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 940px;
}

@media (max-width: 940px) {
  body {
    padding-top: 0px;
  }
}

/* NAVBAR MODIFICATIONS */

/* Logo Brand Class */
.brand
{
  background: url(../img/logo.png) no-repeat left center;
  height: 20px;
  width: 145px;
}

.navbar {
  font-size: 13px;
}


/* Color and Background style for highlighted navigation item */
.navbar-inner li.marked a {
	color:#a84c28;
	font-weight:550;
}

.navbar-inner li.marked a:hover {
	color:#a84c28;
	font-weight:550;
}

.navbar-inner li.marked a span {
	background:#fde16b url(../img/bg_nav-invite-btn.png) repeat-x left top;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	display:block;
	height:15px;
	padding:1px 5px 5px;
}

/* Footer - Flush to bottom */
html, body { height: 75%; }

footer {
	clear: both;
	overflow: hidden;
	padding: 8px 2px 2px 10px;
	border-top: 2px solid #eee;
}

.footer > .navbar {
	margin-bottom: 0px;
	overflow: visible;
	color: #777;
}

.wrapper {
	min-height: 75%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -43px;
}

.push { height: 63px; }

.wrapper > .container-fluid {
	padding-top: 60px;
}

/* Sign In Designs */

/* Sign In Default Templates */
body.signin {
	background: #373D48;
	margin: 0;
	padding: 0;
}

.signin .container {
	position: relative;
	width: 750px;
	margin: 0 auto;
	padding: 100px 5px 0;
}

.signin .container section {
	width: 300px;
	margin: 0 auto;
	
}

.signin .container section#signin {
	width: 600px;
	margin: 0 auto;	
}

.signin .container h1 {
	background: url(../img/gtc_logo_large.png) no-repeat;
	height: 61px;
	width: 351px;
	margin: 0 auto;
	overflow: hidden;	
}

.signin .container p.description {
	text-align: center;
	color: white;
	font-size: 20px;
	opacity: 0.7;
	padding-bottom: 35px;
	line-height: 26px;
}

.signin .container p.goback {
	text-align: center;
	color: white;
}

.signin .container p {
	color: white;
}
.signin .container a {
	color: white;
	text-decoration: underline;
}

.signin p.help-block {
	color: white;
	font-size: 11px;
	opacity: 0.7;
	line-height: 12px;
	padding-left: 4px;
	padding-bottom: 10px;
}

.signin div.button {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 4px;
}

.signin div.button a {
	padding-left: 25px;
}

.signin-gate button { margin-bottom: 10px; min-width: 232px; height: 44px; line-height: 44px; font-size: 14px; font-weight: bold; color: #fff; padding: 0 10px; text-align: center; border-radius: 3px; border: 0; text-align: left;width:auto;}
.signin-gate .btn-f { background: #475e8e; margin-right: 12px;}
.signin-gate .btn-t { background: #52a2d9;}
.signin-gate [class^="ic"] { display: inline-block; vertical-align: middle; background: url("../img/icon.png") no-repeat; background-size: 800px 800px;}
.signin-gate .ic-fb { width: 28px; height: 23px; background-position: -344px -135px; margin-right: 9px;}
.signin-gate .ic-tw { width: 25px; height: 20px; background-position: -346px -174px; margin-right: 9px;}

.signin .container section#signin {
	width: 580px;
	margin: 0 auto;	
}


/* Join Now */
.joinnowmodal {
	display: none;
	text-align: left;
	/*margin: 100px auto 0;*/
	padding: 5px 10px 5px;
	background: white;
	max-width: 900px;
	box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.9);
	border-radius: 1px;*
}

.joinnowmodal p.welcome {
	clear:both;
	padding:0;
	color: #98999C;
	font-size: 19px;
	line-height: 24px;
	width: 490px;
	margin: 0;
	padding-top: 10px;
}

.joinnowmodal h1 {
	background: url(../img/signinlogo.png) no-repeat;
	height: 32px;
	width: 400px;	
}

.joinnowmodal p { 
	padding-bottom: 10px; 
	line-height: 20px; 
	font-size: 15px; 
	color: #575b61;
}

.joinnowmodal .signin-gate a { font-weight: bold;}
.joinnowmodal .signin-gate a b { color: #466789;}
.joinnowmodal .signin-gate { clear: both; width: 100%; padding-top: 27px; font-size: 14px;white-space:nowrap;}
.joinnowmodal .signin-gate .signup { display: inline-block; margin-top: 10px; font-size: 13px; text-decoration: underline; color: #456698;}
.joinnowmodal .signin-gate button { margin-bottom: 10px; min-width: 232px; height: 44px; line-height: 44px; font-size: 14px; font-weight: bold; color: #fff; padding: 0 10px; text-align: center; border-radius: 3px; border: 0; text-align: left;width:auto;}
.joinnowmodal .signin-gate .btn-f { background: #475e8e; margin-right: 12px;}
.joinnowmodal .signin-gate .btn-t { background: #52a2d9;}
.joinnowmodal .signin-gate [class^="ic"] { display: inline-block; vertical-align: middle; background: url("../img/icon.png") no-repeat; background-size: 800px 800px;}
.joinnowmodal .signin-gate .ic-fb { width: 28px; height: 23px; background-position: -344px -135px; margin-right: 9px;}
.joinnowmodal .signin-gate .ic-tw { width: 25px; height: 20px; background-position: -346px -174px; margin-right: 9px;}


/* Widget */
/*------------------------------------------------------------------
[6. Widget / .widget]
*/

.widget {
  
  position: relative;
  clear: both;
  
  width: auto;
  
  margin-bottom: 1em;
  margin-top: 1em;
  overflow: hidden;
}

.widget-sub {
  
  position: relative;
  clear: both;
  
  width: auto;
  
  margin-bottom: .5em;
  margin-top: .5em;
  overflow: hidden;
}
  
.widget-header {
  
  position: relative;
  
  height: 40px;
  line-height: 40px;
  
  background: #E9E9E9;
  background:-moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%); /* FF3.6+ */
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#E9E9E9)); /* Chrome,Safari4+ */
  background:-webkit-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* Chrome10+,Safari5.1+ */
  background:-o-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* Opera11.10+ */
  background:-ms-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* IE10+ */
  background:linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
  
  
  border: 1px solid #D5D5D5;
  
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  
  -webkit-background-clip: padding-box;
} 
  
  .widget-header h3 {
    
    position: relative;
    top: 2px;
    left: 10px;
    
    display: inline-block;
    margin-right: 3em;
    
    font-size: 16px;
    font-weight: 800;
    color: #555;
    line-height: 18px;
    
    text-shadow: 1px 1px 2px rgba(255,255,255,.5);
    text-transform: uppercase;
  }
  
    .widget-header [class^="icon-"], .widget-header [class*=" icon-"] {
      
      display: inline-block;
      margin-left: 13px;
      margin-right: -2px;
      
      font-size: 16px;
      color: #555;
      vertical-align: middle;
      
      
      
    }

.widget-subheader {
  
  position: relative;
  height: 30px;
  line-height: 30px;
    background: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  
  
  border-top: 1px solid #D5D5D5;
  border-left: 1px solid #D5D5D5;
  border-right: 1px solid #D5D5D5;
  
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  
  -webkit-background-clip: padding-box;
} 
  
  .widget-subheader h3 {
    margin-top: 0;
    padding-left: 15px;
    padding-right: 15px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    vertical-align: top;
    font-size: 14px;
    font-weight: normal;
    line-height: 30px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
    background: #333;
    text-transform: uppercase;
  }
  
    .widget-subheader [class^="icon-"], .widget-header [class*=" icon-"] {
      
      display: inline-block;
      margin-left: 13px;
      margin-right: -2px;
      
      font-size: 16px;
      color: #555;
      vertical-align: middle;    
    }

h3#widget-complete {
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
    background: #468847;
    text-transform: uppercase;
  }

h3#widget-incomplete {
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
    background: #cdcdcd;
    text-transform: uppercase;
  }


.widget-content {
  padding: 20px 15px 15px;
  
  background: #FFF;  
  border: 1px solid #D5D5D5;
  
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.widget-header+.widget-content {
  border-top: none;
  
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.widget-subheader+.widget-content {
  border-top: none;
  
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.widget-nopad .widget-content {
  padding: 0;
}

/* Widget Content Clearfix */ 
.widget-content:before,
.widget-content:after {
    content:"";
    display:table;
}

.widget-content:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.widget-content {
    zoom:1;
}

/* Widget Table */

.widget-table .widget-content {
  padding: 0;
}

.widget-table .table {
  margin-bottom: 0;
  
  border: none;
}

.widget-table .table tr td:first-child {
  border-left: none;
}

.widget-table .table tr th:first-child {
  border-left: none;
}


/* Widget Plain */

.widget-plain {
  
  background: transparent;
  
  border: none;
}

.widget-plain .widget-content {
  padding: 0;
  
  background: transparent;
  
  border: none;
}


/* Widget Box */

.widget-box { 
  
}

.widget-box .widget-content { 
  background: #E3E3E3;  
  background: #FFF;
}

/* Content Layout */
.content { 
	margin:20px 20px 20px 20px;
	padding:15px 15px 15px 15px;
	background:#fff;
	-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);
	border-radius: 5px 5px 5px 5px;
}

.hidden {
	display:none;
}

label {
  font-size: 0.8em;
}

/* Frequently Asked Questions */
.faq {  
  padding:20px 40px 20px 40px;
}

.faq .indent {
  margin: 0px 0px 0px 25px;
}

/* Terms & Conditions & Privacy Policy */
.content-terms { 
	padding:20px 40px 20px 40px;
	
}

.content-terms h1 {
	font-size: 16px;
	
}

.content-terms h2 {
	font-size: 14px;
	
}

.content-terms h3 {
	font-size: 13px;
	
}

.content-terms h4 {
	font-size: 12px;
}

.content-terms p li {
	font-size: 11px;
	
}

.content-terms .indent {
	margin: 0px 0px 0px 25px;
}

.content-terms .indent .indent2 {
	margin: 0px 0px 0px 50px;
}

.content-terms h1 {
	font-size: 20px;
}

/* How it Works */
.content-howitworks { 
	margin:40px 40px 40px 40px;
	padding:20px 40px 20px 40px;
	background:#fff;
	-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);
	border-radius: 5px 5px 5px 5px;
	
}

.content-howitworks h1 {
	font-size: 16px;
	
}

.content-howitworks h2 {
	font-size: 14px;
	
}

.content-howitworks h3 {
	font-size: 13px;
	
}

.content-howitworks h4 {
	font-size: 12px;
	
}

.content-howitworks p li {
	font-size: 11px;
	
}

.content-howitworks .indent {
	margin: 0px 0px 0px 25px;
}

.content-howitworks .indent .indent2 {
	margin: 0px 0px 0px 50px;
}

.content-howitworks h1 {
	font-size: 20px;
}

.btn-custom {
  background-color: hsl(15, 100%, 38%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c13000", endColorstr="#c13000");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#c13000), to(#c13000));
  background-image: -moz-linear-gradient(top, #c13000, #c13000);
  background-image: -ms-linear-gradient(top, #c13000, #c13000);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c13000), color-stop(100%, #c13000));
  background-image: -webkit-linear-gradient(top, #c13000, #c13000);
  background-image: -o-linear-gradient(top, #c13000, #c13000);
  background-image: linear-gradient(#c13000, #c13000);
  border-color: #c13000 #c13000 hsl(15, 100%, 38%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  -webkit-font-smoothing: antialiased;
}

/* Title
---------------------------------------------- */
.titlehead {
  position: relative;
  padding: 5px 0;
  color: #fff;
  text-align: left;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background: #020031; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #020031 0%, #6d3353 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#6d3353)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* IE10+ */
  background: linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
     -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}
.titlehead h1 {
  font-size: 50px;
  letter-spacing: -1px;
  line-height: 1;
}

/* Subtable - Receipts
--------------------------------------------- */
.sumtable {
	max-width: 300px;
}


/* Jumbotrons
-------------------------------------------------- */

/* Base class
------------------------- */
.jumbotron {
  position: relative;
  padding: 20px 0;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background: #020031; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #020031 0%, #6d3353 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#6d3353)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* IE10+ */
  background: linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
     -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}
.jumbotron h1 {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}

.jumbotron .title h1 {
	font-size: 20px
	text-align: left;
}

.jumbotron p {
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 30px;
}

/* Link styles (used on .masthead-links as well) */
.jumbotron a {
  color: #fff;
  color: rgba(255,255,255,.5);
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.jumbotron a:hover {
  color: #fff;
  text-shadow: 0 0 10px rgba(255,255,255,.25);
}

/* Download button */
@-webkit-keyframes downloadButton {
  from { box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 10px rgba(0,68,204,.5); }
  50% {  box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 25px rgba(0,68,204,.9); }
  to {   box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 10px rgba(0,68,204,.5); }
}
@-moz-keyframes downloadButton {
  from { box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 10px rgba(0,68,204,.5); }
  50% {  box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 25px rgba(0,68,204,.9); }
  to {   box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 10px rgba(0,68,204,.5); }
}
.masthead .btn {
  padding: 14px 24px;
  font-size: 24px;
  font-weight: 200;
  color: #fff; /* redeclare to override the `.jumbotron a` */
  border: 0;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 10px rgba(0,68,204,.01);
     -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 10px rgba(0,68,204,.01);
          box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 10px rgba(0,68,204,.01);
  -webkit-animation-name: downloadButton;
     -moz-animation-name: downloadButton;
  -webkit-animation-duration: 1.5s;
     -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
  -webkit-transition: none;
     -moz-transition: none;
          transition: none;

}
.masthead .btn:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
     -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
          box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
}


/* Pattern overlay
------------------------- */
.jumbotron .container {
  position: relative;
  z-index: 2;
}
.jumbotron:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(../img/bs-docs-masthead-pattern.png) repeat center center;
  opacity: .4;
}

/* Masthead (docs home)
------------------------- */
.masthead {
  padding: 70px 0 80px;
  margin-bottom: 0;
  color: #fff;
}
.masthead h1 {
  font-size: 100px;
  line-height: 1;
  letter-spacing: -2px;
}
.masthead p {
  font-size: 40px;
  font-weight: 200;
  line-height: 1.25;
}

/* Textual links in masthead */
.masthead-links {
  margin: 0;
  list-style: none;
}
.masthead-links li {
  display: inline;
  padding: 0 10px;
  color: rgba(255,255,255,.25);
}

/* Social proof buttons from GitHub & Twitter */
.bs-docs-social {
  padding: 15px 0;
  text-align: center;
  background-color: #f5f5f5;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ddd;
}

/* Quick links on Home */
.bs-docs-social-buttons {
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.bs-docs-social-buttons li {
  display: inline-block;
  padding: 5px 8px;
  line-height: 1;
  *display: inline;
  *zoom: 1;
}

/* Subhead (other pages)
------------------------- */
.subhead {
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.subhead h1 {
  font-size: 60px;
}
.subhead p {
  margin-bottom: 20px;
}
.subhead .navbar {
  display: none;
}

/* Notifications
------------------------- */
#notifications li {
  margin: 5px 10px 5px 10px;
}

.unseen-notification {
  background-color: #eee;
}

.notification-title {
  color: #111;
  font-weight: 900;
}
.notification-description {
  font-color: #111;
}

/* User Home page
---------------------------- */
.messagedisplay { 
  margin-top: 10px;
  /*margin:20px 20px 20px 20px;
  padding:10px 20px 10px 20px;
  background:#3a87ad;
  -moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px 5px 5px 5px;*/
  
}


.userdatadisplay { 
  margin:20px 20px 20px 20px;
  padding:10px 20px 10px 20px;
  background:#3a87ad;
  -moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px 5px 5px 5px;
  
}

.campaigndisplay { 
  margin:20px 20px 20px 20px;
  padding:10px 20px 10px 20px;
  background:#fff;
  -moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px 5px 5px 5px;
  
}

.campaigndisplay h1 {
  font-size: 16px;
  
}

.campaigndisplay h2 {
  font-size: 14px;
  
}

.campaigndisplay h3 {
  font-size: 13px;
  
}

.campaigndisplay h4 {
  font-size: 12px;
  
}

.campaigndisplay p li {
  font-size: 11px;
  
}

.campaigndisplay .indent {
  margin: 0px 0px 0px 25px;
}

.campaigndisplay .indent .indent2 {
  margin: 0px 0px 0px 50px;
}

.campaigndisplay h1 {
  font-size: 20px;
}

.btn-campaign {
  min-height: 200px
  min-width: 200px;
}

/** Error Feedback **/
#errors {
  display: none;
}