extends ../../widget_layout

block content
  div.campaign-name Complete Your Profile
  a(href='javascript:parent.window.location.href="/campaign/complete_profile"').btn.btn-large.btn-info.btn-campaign.btn-block Complete Profile