extends ../../widget_layout

block content
  div.campaign-name Invite Your Friends
  a(href='javascript:parent.window.location.href="/user/invite"').btn.btn-large.btn-success.btn-campaign.btn-block Invite Friends