.jfmfs-friend-selector-input {
    height: 23px;
}

.jfmfs-friend-selector-input input {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    font: 11px verdana, arial, helvetica, sans-serif;
    margin: 2px 0;
    padding: 2px 4px;
}

.jfmfs-friend {
    cursor:pointer;
    display:block;
    float:left;
    margin:3px;
    padding:2px;
    width:180px;
    overflow: hidden;
    border: 1px solid #FFFFFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-user-select:none;
    -moz-user-select:none;
}

.jfmfs-friend img {
    border: 1px solid #CCC;
    float:left;
    margin:0;
    width:20px;
    height:20px;
}

.jfmfs-friend.selected img {
    border: 1px solid #233E75;
}

.jfmfs-friend div {
    color:#111111;
    font-size:11px;
    overflow:hidden;
    padding:2px 0 0 6px;
    width:145px;
}

.friend-container {
    overflow:scroll;
    overflow-x: hidden;
    -ms-overflow-x: hidden;
    width:100%;
    height:250px;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    color: #333;
    font-size: 12px;
}

.jfmfs-friend-selector {
    width:210px;
    height:226px;
}

.jfmfs-inner-header {
    background:none repeat scroll 0 0 #F7F7F7;
    border-bottom:1px solid #CCCCCC;
    color:#3B5998;
    font-size:11px;
    font-weight:bold;
    height:25px;
    padding:2px;
}

.jfmfs-friend.selected {
    background-color: #3B5998;
    border: 1px solid #3B5998;

    background: #6D84B4; /* for non-css3 browsers */

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#233E75', endColorstr='#6D84B4'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#233E75), to(#6D84B4)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #233E75,  #6D84B4); /* for firefox 3.6+ */
}

.jfmfs-friend.selected div {
    color: #FFFFFF;
}

.hover {
    background-color: #EFF2F7;
}

.hide-non-selected, .hide-filtered {
    display: none;
}

div.jfmfs-button {
    background:none repeat scroll 0 0 #6D84B4;
    border:1px solid #3B5998;
    color:white;
    cursor:pointer;
    margin:4px 5px 0 4px;
    padding:2px 5px;
    text-decoration:none;
}

.jfmfs-friend-selector a.filter-link:link, a.filter-link:visited {
    color: #3B5998;
    font-weight: bold;
    text-decoration: none;
}

.jfmfs-friend-selector a.filter-link:hover, .jfmfs-friend-selector a.selected {
    background-color: #6D84B4;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #FFFFFF;
}

.jfmfs-friend-selector .filter-link {
    margin:4px 5px 4px 5px;
    padding:3px 5px 3px 5px;
}

.jfmfs-inner-header .filter-link {
    float:right;
}

.jfmfs-inner-header div.jfmfs-button-hover {
    text-decoration: underline;
}

.jfmfs-inner-header span.jfmfs-title {
    display:none;
}

.jfmfs-max-selected-wrapper, .jfmfs-filter-all, .jfmfs-filter-selected {
    display:none;
}
