extends ../layout

block scripts
  link(type='text/css', href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css')
  script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js')
  style(type='text/css')
    #selectable .ui-selecting {
      background: silver;
    }
    #selectable .ui-selected {
      background: gray;
    }
  script
    $(document).ready(function() {
      $('#selectable').selectable();
      $('#selectall').click(function() {
        var str="";
        $("select li:selected").each(function () {
          str += $(this).text() + " ";
        });
        alert(str);
      });
    });

block content
  div
    div.content
      //button.btn-primary.btn-large(id='selectall') Select All
      ul(id='selectable')
        each contact in contacts
          li.ui-widget-content(id="#{contact.email}") #{contact.name}
      form(action='/user/invite/email', method='POST')
        button.btn-primary.btn-large(type='submit', id='invite') Invite
