extends ../layout

block scripts
  script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js')
  script(type='text/javascript', src='/js/contacts/contacts.select.js')
  link(rel='stylesheet',href='/css/contacts/contacts.list.css')
  script
    var facebookContacts;
    function evaluateExistingUsers(data) {
      var contacts = [];
      var exclude_contacts = [];
      $.each(data, function(index, value) {
        var contact = {};
        contact.id = value._id;
        contact.name = value.first + ' ' + value.last;
        contacts.push(contact);
        exclude_contacts.push(value.facebookid);
      });

      $("#friends-container").jfmfs(facebookContacts, 'friends-container',{ exclude_friends: exclude_contacts });
      $("#users-container").jfmfs(contacts, 'users-container');
    }

    function evaluateContacts(facebookFriends) {
      facebookContacts = [];
      $.each(facebookFriends, function(index, value) {
        var contact = {};
        contact.id = value.id + '|' + value.username;
        contact.name = value.name;
        contact.picture = 'https://graph.facebook.com/' + value.id + '/picture';
        facebookContacts.push(contact);
      });
      $.post('/user/invite/existingusersbyfacebookid',{ facebookids: facebookFriends },evaluateExistingUsers);
    }

    $(document).ready(function() {
      window.fbAsyncInit = function() {
        FB.init({appId: '#{fbapiid}', status: true,cookie: true, xfbml: true,oauth : true});
        FB.login(function(response) {
          if (response.authResponse) {
            FB.api('/me/friends?fields=id,name,username',function(response) {
              evaluateContacts(response.data);
            });
          } else {
            alert('Cannot login');
          }
        });
      };

      (function(debug) {
        var e = document.createElement('script');
        e.type = 'text/javascript';
        e.src = location.protocol + '//connect.facebook.net/en_US/all' + (debug ? '/debug' : '') + '.js';
        e.async = true;
        document.getElementById('fb-root').appendChild(e);
      }(true));

      $('#fcontacts').submit(function() {
        var friendSelector = $("#friends-container").data('jfmfs');
        var selectedFriends = friendSelector.getSelectedIdsAndNames();
        var json = JSON.stringify(selectedFriends);
        $('#icontacts').val(json);
        return true;
      });
    });

block content
  div#fb-root
  div.content
    div.row
      div.span4
        form(id='fcontacts', action='/user/invite/facebook', method='POST')
          input(id='icontacts', type='hidden', name='contacts')
          button.btn-custom.btn-large(type='submit', value='Invite') Invite
      div.span4
        form(id='fusers', action='/user/follow/facebook', method='POST')
          input(id='iusers', type='hidden', name='contacts')
          button.btn-custom.btn-large(type='submit', value='Follow') Follow
    div.row
      div.span4
        div(id='friends-container')
      div.span4
        div(id='users-container')
