extends ../layout

block scripts
  link(rel='stylesheet',href='/css/contacts/contacts.list.css')
  script(type='text/javascript', src='/js/contacts/contacts.select.js')
  script
    var gmailContacts = [];

    function evaluateExistingUsers(data) {
      var contacts = [];
      var exclude_contacts = [];
      $.each(data, function(index, value) {
        var contact = {};
        contact.id = value._id;
        contact.name = value.first + ' ' + value.last;
        contacts.push(contact);
        exclude_contacts.push(value.email);
      });

      $("#friends-container").jfmfs(gmailContacts, 'friends-container',{ exclude_friends: exclude_contacts });
      $("#users-container").jfmfs(contacts, 'users-container');
    };

    function evaluateContacts(data) {
      $.each(data.feed.entry, function(index, value) {
        var contact = {};
        var email, name;
        if(value.gd$email !== undefined) {
          email = value.gd$email[0].address;
          name = email;
          if(value.title !== undefined && value.title.$t !== "") {
            name = value.title.$t;
          }
          contact.id = email;
          contact.name = name;
          gmailContacts.push(contact);
        }
      });

      $.post('/user/invite/existingusersbyemail',{ emails: gmailContacts },evaluateExistingUsers);
    };

    function authAndFetchContacts() {
      var config = {
        'client_id': '#{googleapiid}',
        'scope': 'https://www.google.com/m8/feeds',
        'immediate': false
      };
      gapi.auth.authorize(config, function() {
        var authParams = gapi.auth.getToken();
        authParams.alt = 'json';

        $.ajax({
          url: 'https://www.google.com/m8/feeds/contacts/default/full?max-results=1000',
          dataType: 'jsonp',
          data: authParams,
          success: evaluateContacts
        });
      });
    };

    $(document).ready(function() {
      $('#fcontacts').submit(function() {
        var friendSelector  = $("#friends-container").data('jfmfs');
        var selectedFriends = friendSelector.getSelectedIdsAndNames();
        var json = JSON.stringify(selectedFriends);
        $('#icontacts').val(json);
        return true;
      })
    });
  script(type='text/javascript', src='https://apis.google.com/js/client.js?onload=authAndFetchContacts')

block content
  div.content
    div.row
      div.span4
        form(id='fcontacts', action='/user/invite/gmail', method='POST')
          input(id='icontacts', type='hidden', name='contacts')
          button.btn-custom.btn-large(id='bcontacts', type='submit', value='Invite') Invite
      div.span4
        form(id='fusers', action='/user/follow', method='POST')
          input(id='iusers', type='hidden', name='contacts')
          button.btn-custom.btn-large(id='busers', type='submit', value='Follow') Follow
    div.row
      div.span4
        div(id='friends-container')
      div.span4
        div(id='users-container')
