extends ../layout

block content
  div.widget
    div.widget-header
        h3 Invitation Dashboard
    div.widget-content.content-terms 
      div
        table.table.table-condensed.sumtable.table-bordered
          tbody
            tr.success
              td 
                strong Total Invitations Sent
              td 
                strong #{acceptedInvites.length + sentInvites.length}
            tr
              td Invitations Accepted
              td #{acceptedInvites.length}
            tr
              td Invitations Open
              td #{sentInvites.length}
      hr
      h2 Invitations Accepted

      table.table.table-hover.table-condensed
        thead
            tr
              th Name
              th Email
              th Date Sent
              th Source
          tbody
            each invite, i in acceptedInvites
              tr
                td #{invite.recipientName}
                td #{invite.recipientId}
                td #{invite.formattedDateSent}
                td #{renderSource(invite.source)}
      hr
      h2 Invitations Open

      table.table.table-hover.table-condensed
        thead
            tr
              th Name
              th Email
              th Date Sent
              th Source
          tbody
            each invite, i in sentInvites
              tr
                td #{invite.recipientName}
                td #{invite.recipientId}
                td #{invite.formattedDateSent}
                td #{renderSource(invite.source)}
