extends ../layout

block scripts
  link(rel='stylesheet',href='/css/contacts/contacts.list.css')
  script(type='text/javascript', src='/js/contacts/contacts.select.js')
  script(type='text/javascript')
    function evaluateExistingUsers(data) {
    }

    function evaluateContacts(contactArray) {
      var contacts = [];
      $(contactArray.values).each(function(index, c) {
        if(c.id!=='private') {
          var contact = {};
          contact.id = c.id;
          contact.name = c.firstName + ' ' + c.lastName;
          contact.picture = c.pictureUrl;
          contacts.push(contact);
        }
      });
      $("#jfmfs-container").jfmfs(contacts,'friends-container');
    }

    function retrieveConnections() {
      if(IN.User.isAuthorized()) {
        IN.API.Connections("me").result(evaluateContacts);
      } else {
        IN.User.authorize(retrieveConnections)
      }
    }

    $(document).ready(function() {
      $('#fcontacts').submit(function() {
        var friendSelector  = $("#jfmfs-container").data('jfmfs');
        var selectedFriends = friendSelector.getSelectedIds();
        var body = {
          'subject': 'Invitation to GiveToCollege',
          'body': 'Click on this'
        };
        var values = [];
        $(selectedFriends).each(function(index, c) {
          var path = '/people/' + c;
          var person = { '_path': path };
          values.push(person);
        });
        var recipients = { 'values': values };
        body.recipients = recipients;
        var json = JSON.stringify(body);
        $('#contacts').val(json);
        return true;
      });
    });
  script(type="text/javascript", src="http://platform.linkedin.com/in.js")
    api_key: #{linkedinapiid}
    onLoad: retrieveConnections
    authorize: true
    scope: r_basicprofile r_network w_messages

block content
  div.content
    div.row
      div.span4
        form(id='fcontacts', action='/user/invite/linkedin', method='POST')
          input(id='contacts', type='hidden', name='selected')
          button.btn-custom.btn-large(id='bcontacts', type='submit', value='Invite') Invite
      div.span4
        form(id='fusers', action='/user/follow', method='POST')
          input(id='users', type='hidden', name='selected')
          button.btn-custom.btn-large(id='busers', type='submit', value='Follow') Follow
    div.row
      div.span4
        div(id='jfmfs-container')
      div.span4
        div(id='users-container')
