extends ../layout

block scripts
  script
    function evaluateContacts(data) {
      console.log(data);
      $.each(data.feed.entry, function(index, value) {
        var email = value.gd$email[0].address;
        $('#glist').append('<p>' + email + '</p>');
      });
    };

    function authAndFetchContacts() {
      var config = {
        'client_id': '#{googleapiid}',
        'scope': 'https://www.google.com/m8/feeds',
        'immediate': true
      };
      gapi.auth.authorize(config, function() {
        var authParams = gapi.auth.getToken();
        authParams.alt = 'json';

        $.ajax({
          url: 'https://www.google.com/m8/feeds/contacts/default/full?alt=json&max-results=1000',
          dataType: 'jsonp',
          data: authParams,
          success: evaluateContacts
        });
      });
    };
  script(type='text/javascript', src='https://apis.google.com/js/client.js?onload=authAndFetchContacts')

block content
  div#fb-root
  div.content
    div.row
      form(id='contacts', action='/user/invite/twitter', method='POST')
        button.btn-custom.btn-large(type='submit', value='Invite') Invite
    div.row
      span(id='glist')
