extends ../layout

block scripts
  script
    $(document).ready(function() {
      window.fbAsyncInit = function() {
        FB.init({appId: '#{fbapiid}', status: true,cookie: true, xfbml: true,oauth : true});
      };
      (function() {
        var e = document.createElement('script');
        e.type = 'text/javascript';
        e.src = location.protocol + '//connect.facebook.net/en_US/all.js';
        e.async = true;
        document.getElementById('fb-root').appendChild(e);
      }());
      $('#btn-facebook').live('click',function() {
        var message = $('#invite-link').val();
        var obj = {
          method: 'feed',
          link: $('#invite-link').val(),
          name: $('#invite-link').val(),
          caption: 'Join me on GiveToCollege!',
          description: 'Donate and Play!'
        };
        function callback(response) {
        }
        FB.ui(obj, callback);
        return false;
      });

      $('#btn-twitter').live('click',function() {
        var message = "Join me on GiveToCollege! " + $('#invite-link').val();
        var param = {};
        var popup = window.open("https://twitter.com/intent/tweet?text=" + message, 'twitter', 'height=420,width=550,resizable=yes', true);
        return false;
      });
    });

block content
  div#fb-root
  div.widget
    div.widget-header
        h3 Recruit Friends
    div.widget-content
      div.row-fluid
        div.span2
          img(src="/img/badges/badge-placeholder-full.jpg")
        div.span10
          h1 Donate to win!
          p Here's where things get serious.  Donate to your favorite college to seriously boost your college's points and catapult it to the top of the leaderboards!

  div.widget-sub
    div.widget-subheader
      h3 Post on Social Media
      h3#widget-complete.pull-right Complete
    div.widget-content
      h2 Your Invite Link
      p Share the url below with your friends on Facebook, Twitter, or in an email.
      div.row
        div.span6
          input.span6(id='invite-link', type='text', value=inviteLink)
      div.row
        div.span2
          button(id='btn-facebook', style='width:133px;height:46px;background:url(\'/img/invite.png\') no-repeat 0 0;border:0;text-indent:-1000em;overflow:hidden;margin-right:7px;background-position:0 -187px;', value='Facebook') Facebook
        div.span2
          button(id='btn-twitter', style='width:133px;height:46px;background:url(\'/img/invite.png\') no-repeat 0 0;border:0;text-indent:-1000em;overflow:hidden;margin-right:7px;background-position:0 -242px;', value='Twitter') Twitter

  div.widget-sub
    div.widget-subheader
      h3 Recruit Your Friends
      h3#widget-complete.pull-right Complete
    div.widget-content
      h2 Email Invites to Your Friends
      form(action='/user/invite/email', method='POST')
        input.span8(type='text', name='emails', placeholder='emails separated by commas')
        button.btn-primary.btn-large(type='submit', value='Invite') Invite

      h2 Access your accounts to invite your friends.
      form(action='/user/invite/gmail', method='GET')
        button(style='width:133px;height:46px;background:url(\'/img/invite.png\') no-repeat 0 0;border:0;text-indent:-1000em;overflow:hidden;margin-right:7px;background-position:0 -298px;', type='submit', value='GMail') GMail
      form(action='/user/invite/facebook', method='GET')
        button(style='width:133px;height:46px;background:url(\'/img/invite.png\') no-repeat 0 0;border:0;text-indent:-1000em;overflow:hidden;margin-right:7px;background-position:0 -187px;', value='Facebook') Facebook
      form(action='/user/invite/twitter', method='GET')
        button(style='width:133px;height:46px;background:url(\'/img/invite.png\') no-repeat 0 0;border:0;text-indent:-1000em;overflow:hidden;margin-right:7px;background-position:0 -242px;', value='Twitter') Twitter
      form(action='/user/invite/linkedin', method='GET')
        button(value='LinkedIn') LinkedIn
