extends ../layout

block content
  div.widget
    div.widget-header
        h3 Donation History
    div.widget-content.content-terms
        div
          table.table.table-condensed.sumtable.table-bordered

            tbody
              tr.success
                td 
                  strong Total Donations
                td 
                  strong $170.0
              tr
                td University of Chicago
                td $135.0
              tr
                td University of Michigan
                td $40.0
        hr      
        table.table.table-hover.table-condensed
          thead
            tr
              th Receipt ID
              th Transaction Date
              th Recepient
              th Credit Card
              th Amount
          tbody
            tr
              td 
                a(href="/user/receipts/1001") 1001
              td January 22nd, 2012
              td University of Michigan
              td xxxx-xxxx-xxxx-1112
              td $40.00
            tr
              td 
                a(href="/user/receipts/1002") 1002
              td January 22nd, 2013
              td University of Chicago
              td xxxx-xxxx-xxxx-1112
              td $40.00
            tr
              td 
                a(href="/user/receipts/1003") 1003
              td January 23rd, 2013
              td University of Chicago, Booth School of Business
              td xxxx-xxxx-xxxx-1112
              td $95.00

