extends ../signinlayout

block scripts

block content
	h1
		span.logo
	p.description 404 Error
	section
		p That page you requested was not found on the server.  We are tracking it down.  
		
		p.goback   
			a(href="javascript:history.go(-1)") Go Back
