extends ../signinlayout

block scripts

block content
	h1
		span.logo
	p.description 500 Error
	section
		p You broke the site.  Let's pretend this didn't happen.  
		
		p.goback   
			a(href="javascript:history.go(-1)") Go Back
